<template>
  <div id="text-form-field" @click="toggleSelect">

    <label class="label">{{ label }}:</label>
    
    <!-- INPUT -->
    <div v-if="type !== 'select' && type !== 'radio'"
      id="input-field" :class="{ '--max-width-normal': fieldMaxWidthNormal }">

      <input v-if="withMask"
        class="input"
        :class="{ '--disabled': inputDisabled, '--password-type': type === 'password' }"
        :type="typeInputMoment"
        :placeholder="placeholder ? placeholder : ''"
        :disabled="inputDisabled" 
        v-maska="withMask"
        :value="value"
        @input="sendValueInput($event, true)" />

      <input v-else
        class="input"
        :class="{ '--disabled': inputDisabled, '--password-type': type === 'password' }"
        :type="typeInputMoment"
        :placeholder="placeholder ? placeholder : ''"
        :disabled="inputDisabled"
        :value="value"
        :maxlength="maxLengthInput"
        @input="sendValueInput($event, false)"
      />

      <svg
        v-if="type === 'password'"
        class="icon-field"
        :class="{ '--disabled': inputDisabled }"
        @click="changeType"
      
        width="24"
        height="14"
        viewBox="0 0 24 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 3C9.79403 3 8 4.79403 8 7.00005C8 9.20607 9.79403 11.0001 12 11.0001C14.2061 11.0001 16.0001 9.20607 16.0001 7.00005C16.0001 4.79403 14.2061 3 12 3ZM12 10.0001C10.346 10.0001 9 8.65411 9 7.0001C9 5.34609 10.346 4.00005 12 4.00005C13.6541 4.00005 15.0001 5.34609 15.0001 7.0001C15.0001 8.65411 13.6541 10.0001 12 10.0001Z"
          fill="black"
        />
        <path
          d="M23.9111 6.71612C23.7221 6.4411 19.18 0 11.9999 0C5.83883 0 0.348744 6.40411 0.11774 6.67712C-0.0392467 6.86312 -0.0392467 7.13613 0.11774 7.32311C0.348744 7.59612 5.83883 14.0002 11.9999 14.0002C18.1611 14.0002 23.6511 7.59612 23.8821 7.32311C24.0271 7.15113 24.0401 6.90212 23.9111 6.71612ZM11.9999 13.0002C7.06088 13.0002 2.36478 8.29016 1.17179 7.00014C2.36281 5.70914 7.05389 1.00005 11.9999 1.00005C17.779 1.00005 21.8581 5.70314 22.8541 6.97314C21.7041 8.22214 16.981 13.0002 11.9999 13.0002Z"
          fill="black"
        />
      </svg>

      <svg 
        v-if="withCheckSearch"
        class="icon-field"
        :class="{ '--search': !inputDisabled, '--disabled': inputDisabled }"
        @click.prevent="$emit('onSearchIcon')"

        xmlns="http://www.w3.org/2000/svg"
        height="18px"
        viewBox="0 0 24 24"
        width="18px"
        fill="#000000">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
      </svg>
    </div>

    <!-- SELECT -->
    <div v-if="type === 'select'"
      id="dropdown" :class="{ '--select-max-width-normal': fieldMaxWidthNormal }" 
      @mouseleave="toggleSelect" @click.stop="selectOpenOrClose">
      <div id="dropdown-select">
        <span id="select-label" class="select" @click.stop="selectOpenOrClose">{{ labelOrPlaceholderSelect }}</span>
        <svg id="svg-icon" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.58839 4.51715e-07L0.621093 0.870535L8.51744 8L16.4138 0.870535L15.4465 9.17941e-08L8.51744 6.28571L1.58839 4.51715e-07Z" fill="#FBBE2F"/>
        </svg>
      </div>

      <div id="dropdown-list__element_select">
        <div v-for="(itemMoment, index) in items" :key="index"
          class="dropdown-list__item"
          :class="{ '--selected': itemMoment == item ,'--first': index == 0, '--last': index == items.length - 1 }"
          @click="selectedElementSelect(itemMoment, $event)">{{ itemMoment.label }}</div>
      </div>
    </div>

    <!-- RADIO -->
    <div v-if="type === 'radio'"
      class="container-radio">
      <div v-for="(item, index) in options" :key="index" @click="$emit('selectedValue', item)"
        class="radio">
        <input id="id-radio" name="radio" type="radio"
          :disabled="option.disabled"
          :checked="option.value == item.value"
          :value="option" >
        <label for="radio-1" :class="['radio-label', { '--selected': value.value == item.value }]">{{ item.label }}</label>
      </div>
    </div>

    <span class="span-msg" :class="{ '--error': containsError }">{{ msgFieldComputed }}</span>
  </div>
</template>

<script lang="ts">
import { onMounted, ref, computed, watch, onUpdated } from 'vue';
import { maska } from 'maska';

export default {

  name: "TextFormField",

  directives: { maska },
  
  props: {
    label: {
      type: String,
      required: true,
    },

    type: {
      type: String,
      required: true,
    },

    value: {
      type: [String, Number],
      required: false,
    },

    placeholder: {
      type: String,
      required: false,
    },

    // Disables:
    inputDisabled: {
      type: Boolean,
      required: false,
    },

    withMask: {
      type: String,
      required: false,
    },

    withCheckSearch: { type: Boolean },
    
    maxLengthInput: { 
      type: Number,
      default: Infinity,
    },

    // [ { value: [Any], label: [String], disabled: [Boolean] } ]
    items: {
      type: Array,
      required: false,
    },
    item: {
      type: Object,
      required: false,
    },


    //RADIO:
    // [ { label: String, value: String||Number, disabled: Boolean(default: false) } ]
    options: {
      type: Array,
      required: false,
    },

    // { label: String, value: String||Number, disabled: Boolean(default: false) }
    option: {
      type: Object,
      required: false,
    },


    // MSG´s:
    messageNotification: {
      type: String,
      required: false,
    },

    errorMessage: {
      type: String,
      required: false,
    },
    error: {
      type: Boolean,
      default: false,
    },

    //Functions:
    filterMethod: {
      type: Function,
      required: false,
      default: () => {}
    },

    fieldMaxWidthNormal: {
      type: Boolean,
      required: false,
      default: false,
    },

  },

  emits: [
    'onInput',
    'onSearchIcon',
    'selectedValue',
  ],
  
  setup(props:  any, { emit }: any) {
    
    // MOUNT´S:
    onMounted(() => {
      typeInputMoment.value = props.type;
    });

    // DATA´S:
    const typeInputMoment = ref(props.type);
    const openSelect = ref(false);

    const realElementSelect = ref();


    // COMPUTED´S:
    const msgFieldComputed = computed(() => {
      if ((props.messageNotification != null || props.messageNotification != '') && (props.errorMessage == '' || props.errorMessage == null)) {
        return props.messageNotification;
      } else if (props.error && (props.errorMessage != '' || props.errorMessage != null)) {
        return props.errorMessage;
      }
    });
    const containsError = computed(() => {
      return (props.error && (msgFieldComputed.value == props.errorMessage)) ? true : false;
    });
    const typeComputed = computed(() => {
      return props.type;
    });
    const labelOrPlaceholderSelect = computed(() => {
      let res = '';

      if (props.item.value && props.item.label) {
        res = props.item.label;
      } else if (props.placeholder) {
        res = props.placeholder;
      } else {
        res = (navigator.language == "pt-BR" || navigator.language == "pt") ? 'Selecionar' : 'Select';
      }

      return res;
    });

    // WATCH´S:
    watch(typeComputed, (newVal, oldVal) => {
      if (newVal != oldVal) typeInputMoment.value = newVal;
    });


    // FUNCTION´s / METHOD´s:
    function toggleSelect() {
      if (realElementSelect.value != null) {
        const el = realElementSelect.value;
        openSelect.value = false;

        if (el.target.id === "select-label") {
          closeOptionsSelect(el.target.parentElement.nextElementSibling);
        }

        if (el.target.id === "dropdown") {
          closeOptionsSelect(el.target.lastElementChild);
        }

        if (el.target.id === "dropdown-select") {
          closeOptionsSelect(el.target.nextElementSibling);
        }

        if (el.target.id === "svg-icon") {
          closeOptionsSelect(el.target.parentElement.nextElementSibling)
        }
        
      }
    }

    function changeType() {
      if (typeInputMoment.value == "password") {
        typeInputMoment.value = "text";
      } else if (typeInputMoment.value == "text") {
        typeInputMoment.value = "password";
      }
    };

    function sendValueInput($event: any, withMask: boolean) {
      if (withMask == true) {
        emit('onInput', $event.target.value);
        props.filterMethod($event.target.value);
      } else {
        emit('onInput', $event.target.value);
        props.filterMethod($event.target.value);
      }
    };


    // FUNCTIONS OF SELECT:
    function selectedElementSelect(value: any, event: any) {
      closeOptionsSelect(event.target.parentElement);
      openSelect.value = false;

      props.filterMethod(value)
      emit('selectedValue', value);
    };
    function selectOpenOrClose($event: any) {
      openSelect.value = !openSelect.value;
      realElementSelect.value = $event;

      if (openSelect.value) {
        if ($event.target.id === "select-label") {
          openOptionsSelect($event.target.parentElement.nextElementSibling);
        }

        if ($event.target.id === "dropdown") {
          openOptionsSelect($event.target.lastElementChild);
        }

        if ($event.target.id === "dropdown-select") {
          openOptionsSelect($event.target.nextElementSibling);
        }

        if ($event.target.id === "svg-icon") {
          openOptionsSelect($event.target.parentElement.nextElementSibling)
        }
      } else {
        if ($event.target.id === "select-label") {
          closeOptionsSelect($event.target.parentElement.nextElementSibling);
        }

        if ($event.target.id === "dropdown") {
          closeOptionsSelect($event.target.lastElementChild);
        }

        if ($event.target.id === "dropdown-select") {
          closeOptionsSelect($event.target.nextElementSibling);
        }

        if ($event.target.id === "svg-icon") {
          closeOptionsSelect($event.target.parentElement.nextElementSibling)
        }
      }
    };
    function openOptionsSelect(element: any) {
      element.classList.add("is-active");
    };
    function closeOptionsSelect(element: any) {
      if (element.classList != null) element.classList.remove("is-active");
    };

    return {
      // DATAs:
      typeInputMoment,
      openSelect,

      // COMPUTED´S:
      msgFieldComputed,
      containsError,
      labelOrPlaceholderSelect,

      // FUNCTIONS:
      toggleSelect,
      changeType,
      sendValueInput,
      selectedElementSelect,
      selectOpenOrClose,
    };
  },

};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$maxWidthMobile: 425px;
$colorWhite: #FFFFFF;
$color1: #f4f4f4;
$color2: #FBBE2F;

#text-form-field {
  display: flex;
  flex-direction: column;
  margin: 16px 0px;

  label {
    margin-bottom: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
  }

  #input-field {
    display: flex;
    width: 100%;
    max-width: $maxWidthMobile;
    position: relative;

    &.--max-width-normal {
      max-width: none;
    }

    .input {
      position: relative;
      outline: none;

      width: 100%;
      min-height: 44px;

      padding: 0 24px;

      background: $colorWhite;
      box-shadow: 0px 1px 24px rgba(35, 34, 39, 0.1);
      border-radius: 40px;
      border: none;

      // FONT:
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      align-items: center;
      display: flex;
      justify-content: center;

      color: #000000;

      &.--password-type {
        padding: 0 70px 0 24px;
      }

      &.--disabled {
        cursor: not-allowed;
        color: black;
        background-color: rgba(139, 139, 139, 0.089);
        border: 0.1px solid rgba(56, 56, 56, 0.11);
      }
    }

    .icon-field {
      position: absolute;

      top: 50%;
      right: 30px;
      transform: translateY(-50%);

      &.--search {
        cursor: pointer;

        &:hover {
          transition: 1s;
          border-radius: 8px;
          background: rgb(184 184 184 / 38%);
        }
      }

      &.--disabled {
        display: none;
      }
    }
  }

  #dropdown {
    width: 100%;
    max-width: $maxWidthMobile;
    height: 43px;
    padding: 0 31.5px;
    position: relative;

    outline: none;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid #000000;

    //Font:
    font-family: 'Montserrat';
    font-size: 14px;

    &.--select-max-width-normal {
      max-width: none;
    }

    #dropdown-select {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        position: absolute;
        right: 31.5px;
      }
    }

    #dropdown-list__element_select {
      position: absolute;
      right: 0px;
      width: 0px;
      background: $colorWhite;
      transition: width 0.3s ease;
      z-index: 1;

      border-top: 30px solid $colorWhite;
      border-bottom: 30px solid $colorWhite;
      border-radius: 40px;
      box-shadow: 0px 1px 24px rgb(35 34 39 / 10%);
      background-color: $colorWhite;
      
      grid-row: auto;
      top: 102%;

      display: none;
      align-items: center;
      
      &.is-active {
        width: 100%;
        max-height: 180px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        transition: width 0.3s ease;
        z-index: 2;

        .dropdown-list__item {
          transition: transform 0.3s ease;
        }

        &::-webkit-scrollbar {
          width: 4px;
          height: 13px;
        }
        &::-webkit-scrollbar-track {
          border: 8px solid #232943;
          box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
        }
        &::-webkit-scrollbar-thumb {
          background: linear-gradient(
            45deg,
            $color1,
            $color2
          );
          border-radius: 3px;
        }

      }

      .dropdown-list__item {
        padding: 9px 43px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;

        &.--selected {
          background: #FBBE2F;
        }

        &.--first {
          border-top: 1px solid black;
          border-top-right-radius: 40px;
          border-top-left-radius: 40px;
          margin-top: 1.1px;
        }
        &.--last {
          border-bottom: 1px solid black;
          border-bottom-right-radius: 40px;
          border-bottom-left-radius: 40px;
          margin-bottom: 0.8px;
        }

        &:hover {
          background: #fbbe2f21;
        }
      }
    }
  }

  .container-radio {
    font-family: "Montserrat";
    display: flex;

    .radio {
      margin: 0.5rem;
      #id-radio {
        // position: absolute;
        opacity: 0;
        + .radio-label {
          &.--selected {
            color: $color2;
              &:before {
                background-color: $color2;
                box-shadow: inset 0 0 0 4px $color1;
              }
          }
          &:before {
            content: '';
            background: $color1;
            border-radius: 100%;
            border: 1px solid darken($color1, 25%);
            display: inline-block;
            width: 1.0em;
            height: 1.0em;
            position: relative;
            
            margin-right: 1em; 
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
          }
        }
        &:focus {
          + .radio-label {
            &:before {
              outline: none;
              border-color: $color2;
            }
          }
        }
        &:disabled {
          + .radio-label {
            &:before {
              box-shadow: inset 0 0 0 4px $color1;
              border-color: darken($color1, 25%);
              background: darken($color1, 25%);
            }
          }
        }
        + .radio-label {
          &:empty {
            &:before {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .span-msg {
    margin-top: 8px;
    max-width: 425px;

    /* BODY */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    color: #757575;
    
    &.--error {
      color: #EB5757;

      margin-top: 10px;
      font-size: 14px;
    }
  }
}

</style>