* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #0aadeb;
  --white: #ffffff;
  --black: #0c121d;
  --grey-300: #f8f8f9;
  --grey-500: #6d7a8c;
}

// body,
// input,
// textarea,
// select,
// button {
//   font: 400 1rem "Nunito", sans-serif;
// }

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
