<template>
    <div class="mt-10">
        <div class="flex items-end justify-end">
            <div class="w-full sm:w-1/4">
                <Button text="Novo Canal" @onClick="router.push({name:'adicionar_canal'})"/>
            </div>
        </div>
        <table class="border-separate w-full">
            <thead class="text-left">
                <th class="w-20">#</th>
                <th>Nome</th>
                <th class="w-20">Ações</th>
            </thead>
            <tbody>
                <tr v-for="(canal, index) in canais" :key="index" class="bg-gray-100">
                    <td class="p-5">{{canal.id}}</td>
                    <td>{{canal.nome}}</td>
                    <td class="space-x-2">
                        <button @click="router.push({name:'editar_canal', params: {canal_id:canal.id}})">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg>
                        </button>
                        <button class="h-full" @click="removeCanal(canal.id, index)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <Paginacao v-if="canais && canais.length" :total="100" :porPagina="10" />
    </div>
</template>

<script setup lang="ts">
import { defineComponent, ref } from "vue";
import Paginacao from '@/components/paginacao/Paginacao.vue'
import Button from '@/components/button/Button.vue'
import { useRouter } from "vue-router";

interface Canal {
    id:number;
    nome:string;
}

const router = useRouter();
const canais = ref<Canal[]>([
    {id:1, nome: 'Shopify'},
    {id:2, nome: 'Braip'},
    {id:3, nome: 'Monetizze'},
    {id:4, nome: 'Abmex'},
    {id:5, nome: 'AmericanX'},
    {id:6, nome: 'Perfect Pay'},
    {id:7, nome: 'Octa Pay'},
    {id:8, nome: 'Asaas'},
]);

const removeCanal = (canal_id:number, index:number) => {
    const confirm = window.confirm('Deseja remover esse canal ?');
    if(confirm) {
        canais.value.splice(index, 1);
    }
}
</script>

<style lang="scss" scoped>
table {
    border-spacing: 0 16px;
    thead {
        th {
            padding: 0 0px;
        }
    }
    td {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-child {
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;
        }
        &:last-child {
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
    }
}
</style>