
<template>
    <div>
        <HeaderMenu :openOptionsRedirect="openOptionsRedirect" @resOpenOptionsRedirectHamburguer="getValueOptionsRedirect">
            <template #paths>
                <li v-for="(linkRedirect) in linksRedirected" :key="linkRedirect.srcOrpath">
                    <a :class="{ '--link-selected': $route.path == linkRedirect.srcOrpath }"
                        @click="redirectFunction(linkRedirect)">
                        {{ linkRedirect.label }}
                    </a>
                </li>
            </template>
        </HeaderMenu>
        
        <div class="bg-img" :class="{ '--open-extensive-data': requestCEP_Ok == true && stepMoment == 1 }">

            <div class="progress-bar-step">
                <transition name="fade-soft">
                    <ProgressBarSteps v-show="!activeHamburguerOptions"
                        :currentActive="stepMoment" :quantity="2"/>
                </transition>
            </div>

            <div class="container">
                
                <div class="content">


                    <transition name="slide" appear>
                        <BoxContent v-if="stepMoment == 1" noMaximumSize>

                            <Typographie elementHtmlText="h1"
                                v-text="t('message.makeRegistration', {company: 'Lokalise'})" />

                            <div class="wrapper">
                                <TextFormField
                                    fieldMaxWidthNormal
                                    type="text"
                                    :label="'* '+t('titleLabels.fullName', {company: 'Lokalise'})"
                                    :value="guardMyValuesRegister.name"
                                    :errorMessage="msgsError.nameUser.name.errorMessageName"
                                    :error="msgsError.nameUser.name.actionErrorMsgName"
                                    @onInput="handleNameUser" />

                                <TextFormField
                                    fieldMaxWidthNormal
                                    type="email"
                                    label="* E-mail"
                                    :value="guardMyValuesRegister.email"
                                    :errorMessage="msgsError.email.errorMessageEmail"
                                    :error="msgsError.email.actionErrorMsgEmail"
                                    @onInput="handleEmail" />

                                <TextFormField
                                    fieldMaxWidthNormal
                                    type="password"
                                    :label="'* '+t('titleLabels.password', {company: 'Lokalise'})"
                                    messageNotification="Digite no mínimo seis caracteres(distinção entre maiúsculo e minúsculo) com pelo menos um número ou caractere especial."
                                    :value="guardMyValuesRegister.password"
                                    :errorMessage="msgsError.password.password.errorMessagePassword"
                                    :error="msgsError.password.password.actionErrorMsgPassword"
                                    @onInput="handlePassword" />

                                <TextFormField
                                    fieldMaxWidthNormal
                                    type="password"
                                    :label="'* '+t('titleLabels.confirmPassword', {company: 'Lokalise'})"
                                    :value="guardMyValuesRegister.confirmPassword"
                                    :errorMessage="msgsError.password.confirmPassword.errorMessageConfirmPassword"
                                    :error="msgsError.password.confirmPassword.actionErrorMsgConfirmPassword"
                                    @onInput="handleConfirmPassword" />

                                <div class="field-telephone">
                                    <TextFormField
                                        fieldMaxWidthNormal
                                        withMask="+###"
                                        type="tel"
                                        :label="'* '+t('titleLabels.idd', {company: 'Lokalise'})"
                                        :value="guardMyValuesRegister.tel.idd"
                                        :errorMessage="msgsError.tel.errorMessageTelIdd"
                                        :error="msgsError.tel.actionErrorMsgTelIdd"
                                        @onInput="handleIdd" />
                                    
                                    <TextFormField
                                        fieldMaxWidthNormal
                                        withMask="(##) #####-####"
                                        type="tel"
                                        :label="'* '+t('titleLabels.phone', {company: 'Lokalise'})"
                                        :value="guardMyValuesRegister.tel.phone"
                                        :errorMessage="msgsError.tel.errorMessageTelPhone"
                                        :error="msgsError.tel.actionErrorMsgTelPhone"
                                        @onInput="handleTel" />

                                    <TextFormField
                                        fieldMaxWidthNormal
                                        type="select"
                                        :label="'* '+t('titleLabels.countryAddress', {company: 'Lokalise'})"
                                        :item="brasilDefaultSelect"
                                        :items="paises.map(pais => ({label: pais.name, value: pais.iso2}))"
                                        :errorMessage="msgsError.country.errorMessageCountry"
                                        :error="msgsError.country.actionErrorMsgCountry"
                                        @selectedValue="handleSelectValuePais" />
                                </div>

                                <TextFormField
                                    fieldMaxWidthNormal
                                    withMask="#####-#######"
                                    type="text" :withCheckSearch="!msgsError.cep.actionErrorMsgCep && msgsError.cep.errorMessageCep == ''"
                                    label="* CEP"
                                    :value="guardMyValuesRegister.cep"
                                    :errorMessage="msgsError.cep.errorMessageCep"
                                    :error="msgsError.cep.actionErrorMsgCep"
                                    @onInput="handleCep"
                                    @onSearchIcon="handleClickIconSearchCEP" />

                                <transition name="fade" type="animation" appear>
                                    <div v-if="requestCEP_Ok === true" class="wrapper-two">
                                        <TextFormField
                                            fieldMaxWidthNormal 
                                            type="text"
                                            :maxLengthInput="85"
                                            placeholder="Ex: São Valentin"
                                            :label="'* '+t('titleLabels.address', {company: 'Lokalise'})"
                                            :value="guardMyValuesRegister.address"
                                            :errorMessage="msgsError.address.errorMessageAddress"
                                            :error="msgsError.address.actionErrorMsgAddress"
                                            @onInput="handleAddress" />

                                        <TextFormField
                                            fieldMaxWidthNormal
                                            type="text"
                                            :maxLengthInput="20"
                                            :label="'* '+t('titleLabels.districtAddress', {company: 'Lokalise'})"
                                            :value="guardMyValuesRegister.district"
                                            :errorMessage="msgsError.district.errorMessageDistrict"
                                            :error="msgsError.district.actionErrorMsgDistrict"
                                            @onInput="handleDistrict" />
                                        
                                        <TextFormField
                                            fieldMaxWidthNormal 
                                            :maxLengthInput="6"
                                            type="text"
                                            :label="'* '+t('titleLabels.numberAddress', {company: 'Lokalise'})"
                                            :value="guardMyValuesRegister.number"
                                            :errorMessage="msgsError.number.errorMessageNumber"
                                            :error="msgsError.number.actionErrorMsgNumber"
                                            @onInput="handleNumberAddress" />
                                        

                                        <TextFormField
                                            fieldMaxWidthNormal
                                            type="text"
                                            :maxLengthInput="15"
                                            :label="t('titleLabels.complementAddress', {company: 'Lokalise'})"
                                            :value="guardMyValuesRegister.complement"
                                            @onInput="handleComplement" />

                                        <TextFormField
                                            fieldMaxWidthNormal
                                            type="select"
                                            :label="'* '+t('titleLabels.stateAddress', {company: 'Lokalise'})"
                                            :item="guardMyValuesRegister.stateAddressSelected"
                                            :items="[guardMyValuesRegister.stateAddressSelected]"
                                            :errorMessage="msgsError.state.errorMessageState"
                                            :error="msgsError.state.actionErrorMsgState"
                                            @selectedValue="handleSelectValuePais" />

                                        <TextFormField
                                            fieldMaxWidthNormal
                                            type="select"
                                            :label="'* '+t('titleLabels.cityAddress', {company: 'Lokalise'})"
                                            :item="guardMyValuesRegister.cityAddressSelected"
                                            :items="[guardMyValuesRegister.cityAddressSelected]"
                                            :errorMessage="msgsError.city.errorMessageCity"
                                            :error="msgsError.city.actionErrorMsgCity"
                                            @selectedValue="handleSelectValuePais" />

                                    </div>
                                </transition>
                            </div>

                            <div class="box-buttons-back-next">
                                <div class="wrapper-btn">
                                    <Button v-if="stepMoment > 1"
                                        @onClick="getStep('back')"
                                        :text="t('messageActions.txtBtnBack', {company: 'Lokalise'})" />
                                    
                                    <Button
                                        @onClick="getStep('advance')"
                                        :text="t('messageActions.txtBtnAdvance', {company: 'Lokalise'})"
                                        :disabled="disableStepOne" :title="guardMyStepsActive.advanceTitle" />
                                </div>
                            </div>

                        </BoxContent>

                        <BoxContent v-else-if="stepMoment == 2" noMaximumSize>
                            <Typographie elementHtmlText="h1"
                                v-text="t('message.completeRegistration', {company: 'Lokalise'})" />

                            <div class="wrapper-step-two">
                                <span class="field-with-width-maximum">
                                    <TextFormField 
                                        :key="guardMyValuesRegister.typeAccount.value"
                                        fieldMaxWidthNormal
                                        type="select"
                                        :label="'* '+t('titleLabels.accountType', {company: 'Lokalise'})"
                                        :item="guardMyValuesRegister.typeAccount"
                                        :items="valuesOptionsRadioPfOrPj"
                                        :errorMessage="msgsError.typeAccount.errorMessageTypeAccount"
                                        :error="msgsError.typeAccount.actionErrorMsgTypeAccount"
                                        :messageNotification="guardMyValuesRegister.typeAccount.value ? '' : 'Selecione o tipo da conta'"
                                        @selectedValue="handleSelectValueRadioPfOrPj" />
                                </span>
                                
                                <span class="field-with-width-maximum">
                                    <TextFormField
                                        fieldMaxWidthNormal
                                        type="select"
                                        :label="'* '+t('titleLabels.accountCode', {company: 'Lokalise'})"
                                        :item="guardMyValuesRegister.codTypeAccount"
                                        :items="valuesCodTypeAccount"
                                        :errorMessage="msgsError.codTypeAccount.errorMessageCodTypeAccount"
                                        :error="msgsError.codTypeAccount.actionErrorMsgCodTypeAccount"
                                        @selectedValue="handleCodTypeAccount" />
                                </span>
                                <span 
                                    class="field-with-width-maximum" 
                                    v-if="guardMyValuesRegister.codTypeAccount.value == tipoContaEcommerceMarketplace">
                                        <TextFormField
                                            fieldMaxWidthNormal
                                            type="text"
                                            :label="t('titleLabels.associatedUserCode', {company: 'Lokalise'})"
                                            :value="guardMyValuesRegister.associatedUserCode"
                                            @onInput="handleAssociatedUserCode" />
                                </span>
                            </div>
                            
                            <div class="wrapper-step-two">
                                <TextFormField
                                    :class="['field-cpf-or-cnpj']"
                                    v-if="countryIsBrazil && !msgsError.typeAccount.actionErrorMsgTypeAccount"
                                    :withMask="countryIsBrazil && guardMyValuesRegister.typeAccount.value == 'PF' ?
                                    '###.###.###-##' : '##.###.###/####-##'"
                                    fieldMaxWidthNormal
                                    type="text"
                                    :label="
                                        guardMyValuesRegister.typeAccount.value == 'PF' ?
                                        '* '+t('titleLabels.numberOfCPF', {company: 'Lokalise'}) :
                                        '* '+t('titleLabels.numberOfCNPJ', {company: 'Lokalise'})
                                    "
                                    :value="guardMyValuesRegister.typeAccount.value == 'PF' ? guardMyValuesRegister.cpf : guardMyValuesRegister.cnpj"
                                    :errorMessage="guardMyValuesRegister.typeAccount.value == 'PF' ? msgsError.cpf.errorMessageCpf : msgsError.cnpj.errorMessageCnpj"
                                    :error="guardMyValuesRegister.typeAccount.value == 'PF' ? msgsError.cpf.actionErrorMsgCpf : msgsError.cnpj.actionErrorMsgCnpj"
                                    :filterMethod="guardMyValuesRegister.typeAccount.value == 'PF' ? handleCpf : handleCnpj" />
                                
                                <span class="field-with-width-maximum">
                                    <TextFormField
                                        v-if="countryIsBrazil && guardMyValuesRegister.typeAccount.value == 'PF'"
                                        fieldMaxWidthNormal
                                        withMask="##.###.###-#"
                                        type="text"
                                        :label="'* '+t('titleLabels.numberOfRG', {company: 'Lokalise'})"
                                        :value="guardMyValuesRegister.rg"
                                        :errorMessage="msgsError.rg.errorMessageRg"
                                        :error="msgsError.rg.actionErrorMsgRg"
                                        @onInput="handleRg" />
                                </span>
                            </div>

                            <div class="wrapper-step-two">
                                <span class="field-with-width-maximum">
                                    <TextFormField
                                        fieldMaxWidthNormal
                                        type="textarea"
                                        :label="'* '+t('titleLabels.description', {company: 'Lokalise'})"
                                        :value="guardMyValuesRegister.description"
                                        :errorMessage="msgsError.description.errorMessageDescription"
                                        :error="msgsError.description.actionErrorMsgDescription"
                                        @onInput="handleDescription" />
                                </span>
                            </div>

                            <div class="box-buttons-back-next">
                                <div class="wrapper-btn">
                                    <Button
                                        @onClick="getStep('back')"
                                        :text="t('messageActions.txtBtnBack', {company: 'Lokalise'})" />
                                    
                                    <Button
                                        @onClick="getStep('advance')"
                                        :text="t('messageActions.txtBtnFinish', {company: 'Lokalise'})"
                                        :disabled="disableStepTwo" :title="guardMyStepsActive.advanceTitle" />
                                </div>
                            </div>

                        </BoxContent>

                        <BoxContent v-else-if="stepMoment == 3" noMaximumSize>

                            <div class="wrapper-finish-register">
                                <Typographie elementHtmlText="h1"
                                    v-text="t('message.finishRegister', {company: 'Lokalise'})" />
                                <Typographie elementHtmlText="h2" :customStyle="h2StyleText"
                                    v-text="t('messageNotification.backToLoginAccessAccount', {company: 'Lokalise'})"/>

                                <Button
                                    @onClick="router.push({ path: '/login' })"
                                    :text="t('messageActions.txtBtnBackToLogin', {company: 'Lokalise'})"
                                    typeColor="primary" />
                            </div>
                            
                        </BoxContent>
                    </transition>

                </div>

            </div>

        </div>

        <transition name="fade-soft">
            <Footer v-show="!activeHamburguerOptions" :withLink="true"
                :titleLink="t('termsOfUse', {company: 'Lokalise'})"
                hrefLink="https://www.google.com/" />
        </transition>
    </div>
    
</template>

<script lang="ts">
/* eslint-disable */
import { ref, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';

// COMPONENT´S:
import HeaderMenu from "@/components/header_menu/HeaderMenu.vue";
import ProgressBarSteps from "@/components/progress_bar_step/ProgressBarSteps.vue";
import BoxContent from "@/components/box_content/BoxContent.vue";
import Typographie from "@/components/typographies/Typographie.vue";
import TextFormField from "@/components/text_form_field/TextFormField.vue";
import MsgField from "@/components/msgField/MsgField.vue";
import InputFileField from "@/components/input_file_field/InputFileField.vue";
import Button from "@/components/button/Button.vue";
import Footer from "@/components/footer/Footer.vue";
import { AuthService } from '@/app/services/AuthService';
import { container } from 'tsyringe';
import SelectField from '@/components/select/Select.vue';

// INTERFACE´S:
// import { LinkRedirect as ILinkRedirect } from "@/interfaces/LinkRedirect";
// import { Option as IOption } from "@/interfaces/Option";
// import LinkRedirect from "@/models/LinkRedirect";
// import Option from "@/models/Option";

import IPaises from '@/interfaces/IPaises'
import { PaisService } from '@/app/services/PaisService';
import { PostalcodeService } from '@/app/services/PostalcodeService';
import axios from 'axios';
import { IPostalcode } from '@/interfaces/IPostalcode';

export default {
    name: 'Register',

    components: {
        HeaderMenu,
        ProgressBarSteps,
        BoxContent,
        Typographie,
        TextFormField,
        MsgField,
        InputFileField,
        Button,
        Footer,
        SelectField
    },

    setup() {
        const paises = ref<IPaises[]>([]);

        onMounted(async () => {
            try {
                const paisService = container.resolve(PaisService);
                const response = await paisService.getAll();
                paises.value = response.data.data;
            } catch (error) {
                alert('Ocorreu um erro ao efetuar busca de paises');
                console.log(error);
            }
        });

        const brasilDefaultSelect = computed(() => {
            const paisBrasil = paises.value.find(pais => pais.iso2 == "BR");
            return {
                label:paisBrasil?.name ?? "",
                value:paisBrasil?.currency ?? ""
            };
        });

        // useI18n:
        const { t } = useI18n();

        const linksRedirectedAux = [
            {
                label: t('messageLinksRedirect.init', {company: 'Lokalise'}),
                srcOrpath: '/init',
            },
            {
                label: t('messageLinksRedirect.doubts', {company: 'Lokalise'}),
                srcOrpath: '/doubts',
            },
            {
                label: t('messageLinksRedirect.login', {company: 'Lokalise'}),
                srcOrpath: '/login',
            },
            {
                label: t('messageLinksRedirect.contact', {company: 'Lokalise'}),
                srcOrpath: '/contact',
            },
        ];
        const msgsErrorAux = {
            // 1º) StepOne:
            nameUser: {
                name: {
                    actionErrorMsgName: true,
                    errorMessageName: '',
                },
            },
            tel: {
                actionErrorMsgTelIdd: true,
                errorMessageTelIdd: '',

                actionErrorMsgTelPhone: true,
                errorMessageTelPhone: '',
            },
            email: {
                actionErrorMsgEmail: true,
                errorMessageEmail: '',
            },
            password: {
                password: {
                    actionErrorMsgPassword: true,
                    errorMessagePassword: '',
                },
                confirmPassword: {
                    actionErrorMsgConfirmPassword: true,
                    errorMessageConfirmPassword: '',
                }
            },
            cep: {
                actionErrorMsgCep: true,
                errorMessageCep: '',
            },
            address: {
                actionErrorMsgAddress: true,
                errorMessageAddress: '',
            },
            number: {
                actionErrorMsgNumber: true,
                errorMessageNumber: '',
            },
            district: {
                actionErrorMsgDistrict: true,
                errorMessageDistrict: '',
            },
            complement: {
                actionErrorMsgComplement: true,
                errorMessageComplement: '',
            },
            state: {
                actionErrorMsgState: true,
                errorMessageState: '',
            },
            city: {
                actionErrorMsgCity: true,
                errorMessageCity: '',
            },
            country: {
                actionErrorMsgCountry: false,
                errorMessageCountry: '',
            },

            // 2º) StepTwo:
            typeAccount: {
                actionErrorMsgTypeAccount: true,
                errorMessageTypeAccount: '',
            },
            codTypeAccount: {
                actionErrorMsgCodTypeAccount: true,
                errorMessageCodTypeAccount: '',
            },
            associatedUserCode:  {
                actionErrorMsgAssociatedUserCode:true,
                errorMessageAssociatedUserCod: ''
            },
            rg: {
                actionErrorMsgRg: true,
                errorMessageRg: '',
            },
            cpf: {
                actionErrorMsgCpf: true,
                errorMessageCpf: '',
            },
            cnpj: {
                actionErrorMsgCnpj: true,
                errorMessageCnpj: '',
            },
            description: {
                actionErrorMsgDescription:true,
                errorMessageDescription: ''
            }
                
        };

        const guardMyValuesRegisterAux = {
            // 1º Step:
            name: '',
            tel: {
                idd: '',
                phone: '',
                branch: '',
            },
            email: '',
            password: '',
            confirmPassword: '',
            cep: '',
            address: '',
            number: '',
            district: '',
            complement: '',
            state: '',
            city: '',
            country: 'BR',
            codigo_pais: "" as string|bigint,
            stateAddressSelected: {
                label: "",
                value:"" as string|bigint
            },
            cityAddressSelected: {
                label: "",
                value:"" as string|bigint
            },

            // 2º Step:
            typeAccount: {
                label: null,
                value: null,
                disabled: false,
            },

            codTypeAccount: {
                value: null,
                label: null,
                disabled: false,
            },
            associatedUserCode: "",
            rg: '',
            cpf: '',
            cnpj: '',
            description: ''
        };

        // STORE (VUEX):
        const store = useStore();
        
        // ROUTER (VUE-ROUTER):
        const router = useRouter();
        
        // DATA´s:
        let openOptionsRedirect = ref(false);
        let linksRedirected = ref(linksRedirectedAux);
        
        let stepMoment = ref(1);

        let msgsError = ref(msgsErrorAux);

        let guardMyStepsActive = ref({ advanceTitle: t('messageNotification.fillFields', {company: 'Lokalise'}) });

        let guardMyValuesRegister = ref(guardMyValuesRegisterAux);

        const valuesCodTypeAccount = computed(() => store.getters.getTipoContas);

        let valuesOptionsRadioPfOrPj = ref([
            {
                label: 'PF',
                value: 'PF',
                disabled: false,
            },
            {
                label: 'PJ',
                value: 'PJ',
                disabled: false,
            },
        ]);

        let requestCEP_Ok = ref(false);



        const activeHamburguerOptions = computed(() => store.state.headerMenu.activeHamburguerOptions);

        const disableStepOne = computed(() =>{
            let res = true;

            let valuesRegister = guardMyValuesRegister.value;

            let validationName = msgsError.value.nameUser;
            let validationPassword = msgsError.value.password;
            
            if (
                ((valuesRegister.name == null || valuesRegister.name == '') || validationName.name.actionErrorMsgName) ||
                ((valuesRegister.tel.idd == null || valuesRegister.tel.idd == '') || msgsError.value.tel.actionErrorMsgTelIdd) ||
                ((valuesRegister.tel.phone == null || valuesRegister.tel.phone == '') || msgsError.value.tel.actionErrorMsgTelPhone) ||
                ((valuesRegister.email == null || valuesRegister.email == '') || msgsError.value.email.actionErrorMsgEmail) ||
                
                ((valuesRegister.password == null || valuesRegister.password == '') ||
                validationPassword.password.actionErrorMsgPassword || validationPassword.confirmPassword.actionErrorMsgConfirmPassword) 
                ||
                ((valuesRegister.cep == null || valuesRegister.cep == '') || msgsError.value.cep.actionErrorMsgCep) 
                ||
                ((valuesRegister.address == null || valuesRegister.address == '')) 
                ||
                ((valuesRegister.number == null || valuesRegister.number == '') || msgsError.value.number.actionErrorMsgNumber) ||
                ((valuesRegister.district == null || valuesRegister.district == '')) 
                ||
                ((valuesRegister.stateAddressSelected.value == null || valuesRegister.stateAddressSelected.value == '')) ||
                ((valuesRegister.cityAddressSelected.value == null || valuesRegister.cityAddressSelected.value == '')) ||
                ((valuesRegister.codigo_pais == null || valuesRegister.codigo_pais == '') || msgsError.value.country.actionErrorMsgCountry)
            ) {
                guardMyStepsActive.value.advanceTitle = t('messageNotification.fillFields', {company: 'Lokalise'});
                res = true;
            } else {
                guardMyStepsActive.value.advanceTitle = '';
                res = false;
            }

            return res;
        });

        const disableStepTwo = computed(() => {
            let res = true;

            let valuesRegister = guardMyValuesRegister.value;

            let typeAccountIsPf = (valuesRegister.typeAccount && valuesRegister.typeAccount.value) == 'PF' ? true : false;
            
            if (
                ((valuesRegister.typeAccount == null || valuesRegister.typeAccount.value == null) || msgsError.value.typeAccount.actionErrorMsgTypeAccount) ||
                ((valuesRegister.codTypeAccount == null || valuesRegister.codTypeAccount.value == null) || msgsError.value.codTypeAccount.actionErrorMsgCodTypeAccount) ||
                ((valuesRegister.description == null) || msgsError.value.description.actionErrorMsgDescription)
            ) {
                guardMyStepsActive.value.advanceTitle = t('messageNotification.fillFields', {company: 'Lokalise'});
                res = true;
            } else {
                if (typeAccountIsPf && (msgsError.value.cpf.actionErrorMsgCpf) || (msgsError.value.rg.actionErrorMsgRg)) {
                    guardMyStepsActive.value.advanceTitle = t('messageNotification.fillFields', {company: 'Lokalise'});
                    res = true;
                } else if (!typeAccountIsPf && msgsError.value.cnpj.actionErrorMsgCnpj) {
                    guardMyStepsActive.value.advanceTitle = t('messageNotification.fillFields', {company: 'Lokalise'});
                    res = true;
                } else {
                    guardMyStepsActive.value.advanceTitle = '';
                    res = false;
                }
            }

            return res;
        });

        const countryIsBrazil = computed(() => {
            let res = true;

            if (
                guardMyValuesRegister.value.country == 'Brazil' ||
                guardMyValuesRegister.value.country == 'brazil' ||
                guardMyValuesRegister.value.country == 'Brasil' ||
                guardMyValuesRegister.value.country == 'brasil' ||
                guardMyValuesRegister.value.country == 'BR' ||
                guardMyValuesRegister.value.country == 'br'
            ) {
                res = true;
            } else {
                res = false;
            }

            return res;
        });

        const h2StyleText = computed(() => ({ color: '#000000' }))


        // WATCH´S:
        watch(openOptionsRedirect, (newVal, oldVal) => {
            if (newVal  === true) store.commit("headerMenu/setActiveHamburguerOptions", true);
            else store.commit("headerMenu/setActiveHamburguerOptions", false);
        });


        function getValueOptionsRedirect(value: boolean) {
            openOptionsRedirect.value = value;
        };
        function redirectFunction(linkRedirect: any) {
            // Is path:
            if (linkRedirect.srcOrpath[0] === '/') {
                router.push({ path: linkRedirect.srcOrpath }).catch(() => {});
            } 
            // Is URL Ancora:
            else {
                window.location.href = linkRedirect.srcOrpath;
            }

            openOptionsRedirect.value = false;
            store.commit("headerMenu/setActiveHamburguerOptions", false);
        };

        async function getStep(value: string) {
            if (value === 'back') {
                stepMoment.value--;
                if (stepMoment.value == 1) window.document.body.style.overflowY = 'auto';
                else window.document.body.style.overflow = 'hidden';

                window.scrollTo(0,0);
            } else if (value === 'advance') {
                if (stepMoment.value == 1 && disableStepOne.value === false) {
                    stepMoment.value++;
                    window.scrollTo(0,0);
                } else if (stepMoment.value == 2 && disableStepTwo.value === false) {
                    try {
                        const authService: AuthService = container.resolve(AuthService);
                        await authService.register(guardMyValuesRegister.value);
                        stepMoment.value++;
                        window.scrollTo(0,0);
                    } catch (error) {
                        console.log(error);
                        alert(error.message);
                    }

                }
            }

            window.document.body.style.overflow = 'auto';
        };

        // FROM STEP 1º:
        function handleNameUser(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.nameUser.name.actionErrorMsgName = false;
                msgsError.value.nameUser.name.errorMessageName = '';
            } else {
                msgsError.value.nameUser.name.actionErrorMsgName = true;
                msgsError.value.nameUser.name.errorMessageName = t('messageNotification.notAllowedEmptyField', {company: 'Lokalise'});
            }
            
            guardMyValuesRegister.value.name = value;
        };

        // IDD (International Prefix):
        function handleIdd(value: string) {
            if ((value != null || value != '') && value.length > 0) {
                msgsError.value.tel.actionErrorMsgTelIdd = false;
                msgsError.value.tel.errorMessageTelIdd = '';
            } else {
                msgsError.value.tel.actionErrorMsgTelIdd = true;
                msgsError.value.tel.errorMessageTelIdd = t('messageNotification.insertValidIdd', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.tel.idd = value;
        };
        function handleTel(value: string) {
            if ((value != null || value != '') && value.length >= 10) {
                msgsError.value.tel.actionErrorMsgTelPhone = false;
                msgsError.value.tel.errorMessageTelPhone = '';
            } else {
                msgsError.value.tel.actionErrorMsgTelPhone = true;
                msgsError.value.tel.errorMessageTelPhone = t('messageNotification.insertValidPhone', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.tel.phone = value;
        };
        function handleBranch(value: string) {
            guardMyValuesRegister.value.tel.branch = value;
        };


        function handleEmail(value: string) {
            let regexValidation = /^[\w+.]+@\w+\.\w{2,}(?:\.\w{2})?$/;

            if (value == '') {
                msgsError.value.email.actionErrorMsgEmail = true;
                msgsError.value.email.errorMessageEmail = t('messageNotification.fieldIsEmpty', {company: 'Lokalise'});
            } else if(!regexValidation.test(value)) {
                msgsError.value.email.actionErrorMsgEmail = true;
                msgsError.value.email.errorMessageEmail = t('messageNotification.defaultMsgErrorEmail', {company: 'Lokalise'});
            } else {
                msgsError.value.email.actionErrorMsgEmail = false;
                msgsError.value.email.errorMessageEmail = "";
            }

            guardMyValuesRegister.value.email = value;
        };
        function handlePassword(value: string) {
            let regexValidation = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[?!%$*&@#])[0-9a-zA-Z?!%$*&@#]{6,}$/;
            
            if (!regexValidation.test(value)) {
                msgsError.value.password.password.actionErrorMsgPassword = true;
                msgsError.value.password.password.errorMessagePassword = t('messageNotification.defaultSixMinAndSpecialCharactersWithParentheses', {company: 'Lokalise'});
            } else {
                msgsError.value.password.password.actionErrorMsgPassword = false;
                msgsError.value.password.password.errorMessagePassword = '';
            }
            
            guardMyValuesRegister.value.password = value;
            handleConfirmPassword(guardMyValuesRegister.value.confirmPassword);
        };
        function handleConfirmPassword(value: string) {
            if (value !== guardMyValuesRegister.value.password) {
                msgsError.value.password.confirmPassword.actionErrorMsgConfirmPassword = true;
                msgsError.value.password.confirmPassword.errorMessageConfirmPassword = t('messageNotification.passwordsNotMatch', {company: 'Lokalise'});
            } else {
                msgsError.value.password.confirmPassword.actionErrorMsgConfirmPassword = false;
                msgsError.value.password.confirmPassword.errorMessageConfirmPassword = '';
            }

            guardMyValuesRegister.value.confirmPassword = value;
        };
        function handleCep(value: string) {
            if (value.length >= 9) {
                msgsError.value.cep.actionErrorMsgCep = false;
                msgsError.value.cep.errorMessageCep = '';
            } else {
                msgsError.value.cep.actionErrorMsgCep = true;
                msgsError.value.cep.errorMessageCep = t('messageNotification.correctCep', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.cep = value;
        };
        async function handleClickIconSearchCEP() {
            const postalcodeService = container.resolve(PostalcodeService);
            try {
                const {cep, country} = guardMyValuesRegister.value;
                const response = await postalcodeService.buscaDetalhesDoCep(country,cep.replace("-", ""));
                const data: IPostalcode = response.data.data;

                const {logradouro, bairro, estado, cidade, codigo_estado, codigo_cidade,
                    codigo_pais} = data;

                guardMyValuesRegister.value = Object.assign({
                    ...guardMyValuesRegister.value,
                    address: logradouro,
                    district: bairro,
                    state: estado,
                    city: cidade,
                    stateAddressSelected: {
                        label:estado,
                        value:codigo_estado
                    },
                    cityAddressSelected: {
                        label: cidade,
                        value: codigo_cidade
                    },
                    codigo_pais,                   
                });
                
                console.log('Clicou em pesquisar CEP')
                requestCEP_Ok.value = true;
            } catch (error) {
                console.log(error);
                alert('erro ao buscar detalhes do cep');
            }

        };


        function handleSelectValuePais({label, value}: {label:string, value:string}) {
            guardMyValuesRegister.value.country = value
        }

        function handleSelectValueRadioPfOrPj(value: any) {
            if (value.value != null || value.value != '') {
                guardMyValuesRegister.value.typeAccount = value;
                msgsError.value.typeAccount.actionErrorMsgTypeAccount = false;
                msgsError.value.typeAccount.errorMessageTypeAccount = '';

                if (guardMyValuesRegister.value.typeAccount.value == 'PF') {
                    guardMyValuesRegister.value.cnpj = '';

                    msgsError.value.cnpj.actionErrorMsgCnpj = false;
                    msgsError.value.cnpj.errorMessageCnpj = '';

                    guardMyValuesRegister.value.cpf = '';

                    msgsError.value.cpf.actionErrorMsgCpf = true;
                    msgsError.value.cpf.errorMessageCpf = '';

                    guardMyValuesRegister.value.rg = '';

                    msgsError.value.rg.actionErrorMsgRg = true;
                    msgsError.value.rg.errorMessageRg = '';
                } else {
                    guardMyValuesRegister.value.cnpj = '';

                    msgsError.value.cnpj.actionErrorMsgCnpj = true;
                    msgsError.value.cnpj.errorMessageCnpj = '';

                    guardMyValuesRegister.value.cpf = '';

                    msgsError.value.cpf.actionErrorMsgCpf = false;
                    msgsError.value.cpf.errorMessageCpf = '';

                    guardMyValuesRegister.value.rg = '';

                    msgsError.value.rg.actionErrorMsgRg = false;
                    msgsError.value.rg.errorMessageRg = '';
                }
            }
        };

        
        // FROM STEP 2º:
        function handleCodTypeAccount(value: any) {
            if (value != {}) {
                msgsError.value.codTypeAccount.actionErrorMsgCodTypeAccount = false;
                msgsError.value.codTypeAccount.errorMessageCodTypeAccount = '';
            } else {
                msgsError.value.codTypeAccount.actionErrorMsgCodTypeAccount = true;
                msgsError.value.codTypeAccount.errorMessageCodTypeAccount = t('messageNotification.selectCodAccount', {company: 'Lokalise'});
            }
            guardMyValuesRegister.value.codTypeAccount = value; 
        };
        function handleAssociatedUserCode(value: string) {
            if (value.trim() != "") {
                msgsError.value.associatedUserCode.actionErrorMsgAssociatedUserCode = false;
                msgsError.value.associatedUserCode.errorMessageAssociatedUserCod = '';
            } else {
                msgsError.value.associatedUserCode.actionErrorMsgAssociatedUserCode = true;
                msgsError.value.associatedUserCode.errorMessageAssociatedUserCod = t('messageNotification.selectAssociatedCod', {company: 'Lokalise'});
            }
            guardMyValuesRegister.value.associatedUserCode = value; 
        };
        function handleRg(value: string) {

            msgsError.value.rg.actionErrorMsgRg = true;
            msgsError.value.rg.errorMessageRg = t('messageNotification.rgInvalid', {company: 'Lokalise'});

            if (value.length == 12) {
                msgsError.value.rg.actionErrorMsgRg = false;
                msgsError.value.rg.errorMessageRg = '';
            }

            guardMyValuesRegister.value.rg = value;
        };
        function handleCpf(value: string) {
            msgsError.value.cpf.actionErrorMsgCpf = true;
            msgsError.value.cpf.errorMessageCpf = t('messageNotification.cpfInvalid', {company: 'Lokalise'});

            if (value.length == 14) {
                msgsError.value.cpf.actionErrorMsgCpf = false;
                msgsError.value.cpf.errorMessageCpf = '';
            }

            guardMyValuesRegister.value.cpf = value;
        };
        function handleCnpj(value: string) {
            msgsError.value.cnpj.actionErrorMsgCnpj = true;
            msgsError.value.cnpj.errorMessageCnpj = t('messageNotification.cnpjInvalid', {company: 'Lokalise'});

            if (value.length == 18) {
                msgsError.value.cnpj.actionErrorMsgCnpj = false;
                msgsError.value.cnpj.errorMessageCnpj = '';
            }

            guardMyValuesRegister.value.cnpj = value;
        };
        function handleCountry(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.country.actionErrorMsgCountry = false;
                msgsError.value.country.errorMessageCountry = '';
            } else {
                msgsError.value.country.actionErrorMsgCountry = true;
                msgsError.value.country.errorMessageCountry = t('messageNotification.informTheCountry', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.country = value;
        };


        // FROM STEP 3º:
        function handleAddress(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.address.actionErrorMsgAddress = false;
                msgsError.value.address.errorMessageAddress = '';
            } else {
                msgsError.value.address.actionErrorMsgAddress = true;
                msgsError.value.address.errorMessageAddress = t('messageNotification.fillTheField', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.address = value;
        };
        function handleNumberAddress(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/) && value.match(/^\d+$/)) {
                msgsError.value.number.actionErrorMsgNumber = false;
                msgsError.value.number.errorMessageNumber = '';
            } else {
                msgsError.value.number.actionErrorMsgNumber = true;
                msgsError.value.number.errorMessageNumber = t('messageNotification.justNumber', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.number = value;
        };
        function handleDistrict(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.district.actionErrorMsgDistrict = false;
                msgsError.value.district.errorMessageDistrict = '';
            } else {
                msgsError.value.district.actionErrorMsgDistrict = true;
                msgsError.value.district.errorMessageDistrict = t('messageNotification.fillTheField', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.district = value;
        };
        function handleComplement(value: string) {
            guardMyValuesRegister.value.complement = value;
        };
        function handleState(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.state.actionErrorMsgState = false;
                msgsError.value.state.errorMessageState = '';
            } else {
                msgsError.value.state.actionErrorMsgState = true;
                msgsError.value.state.errorMessageState = t('messageNotification.informTheState', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.state = value;
        };
        function handleCity(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.city.actionErrorMsgCity = false;
                msgsError.value.city.errorMessageCity = '';
            } else {
                msgsError.value.city.actionErrorMsgCity = true;
                msgsError.value.city.errorMessageCity = t('messageNotification.informTheCity', {company: 'Lokalise'});
            }

            guardMyValuesRegister.value.city = value;
        };

        function handleDescription(value:string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.description.actionErrorMsgDescription = false
                msgsError.value.description.errorMessageDescription = '';
            } else {
                msgsError.value.description.actionErrorMsgDescription = true;
                msgsError.value.description.errorMessageDescription = t('messageNotification.fillTheField', {company: 'Lokalise'})
            }

            guardMyValuesRegister.value.description = value;
        }

        const tipoContaEcommerceMarketplace = computed(() => {
            return store.state.spec.tipo_contas?.ecommerce_marketplace?.value ?? '';
        });

        return {
            t,
            router,
            
            // DATA´s:
            openOptionsRedirect,
            linksRedirected,
            
            stepMoment,

            msgsError,

            guardMyStepsActive,
            guardMyValuesRegister,

            valuesCodTypeAccount,
            valuesOptionsRadioPfOrPj,

            requestCEP_Ok,

            // COMPUTED´s:
            activeHamburguerOptions,
            disableStepOne,
            disableStepTwo,
            countryIsBrazil,
            h2StyleText,


            // FUNCTION´S / METHOD´S:
            getValueOptionsRedirect,
            redirectFunction,
            getStep,
            handleNameUser,
            handleIdd,
            handleTel,
            handleBranch,
            handleEmail,
            handlePassword,
            handleConfirmPassword,
            handleCep,
            handleClickIconSearchCEP,
            handleSelectValueRadioPfOrPj,
            handleCodTypeAccount,
            handleAssociatedUserCode,
            handleRg,
            handleCpf,
            handleCnpj,
            handleCountry,
            handleAddress,
            handleNumberAddress,
            handleDistrict,
            handleComplement,
            handleState,
            handleCity,
            paises,
            brasilDefaultSelect,
            handleSelectValuePais,
            tipoContaEcommerceMarketplace,
            handleDescription
        }
    },
}

</script>

<style lang="scss" scoped>

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    position: relative;
}

.bg-img {
    background-image: linear-gradient(0deg, rgba(1, 3, 8, 0.4) 0%, rgba(1, 3, 8, 0) 100%), url("../../assets/login_bg_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 161px);

    .progress-bar-step {
        align-items: center;
        width: 100%;
        padding: 10px 40%;
    }

    .content {

        .box-buttons-back-next {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;

            .wrapper-btn {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                column-gap: 10px;
            }
        }
    }

    &.--open-extensive-data {
        padding-bottom: 40px;
    }

    // SLIDE_ANIMATION:
    @keyframes slide-in {
		from { transform: translateX(40px); }
		to { transform: translateX(0); }
	}

	@keyframes slide-out {
		from { transform: translateX(0); }
		to { transform: translateX(40px); }
	}
	.slide-enter-active {
		animation: slide-in 1s ease;
		transition: opacity 1s;
	}
	.slide-leave-active {
		position: absolute;
		width: 100%;
		animation: slide-out 1s ease;
		transition: opacity 1s;
	}
	.slide-enter, .slide-leave-to {
		opacity: 0;
	}
	.slide-move {
		transition: transform 1s;
	}

    // FADE_ANIMATION:
    .fade-enter-active {
		animation: slide-in 1s ease;
		transition: opacity 1s;
	}

	.fade-leave-active {
		position: absolute;
		width: 100%;
		animation: slide-out 1s ease;
		transition: opacity 1s;
	}
    .fade-enter, .fade-leave-to {
		opacity: 0;
	}
	.fade-enter-active, .fade-leave-active {
		transition: opacity 2s transform 2s;
	}

    // FADE TRANSITION OF PROGRESS_BAR AND FOOTER:
    .fade-soft-enter-active, .fade-soft-leave-active {
        transition: opacity .5s;
    }
    .fade-soft-enter, .fade-soft-leave-to {
        opacity: 0;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        column-gap: 10px;

        .field-telephone {
            width: 100%;
            display: grid;
            grid-template: auto 60% auto / auto 60% auto;
            grid-template-rows: auto;
            column-gap: 5px;
        }

        .wrapper-two {
            grid-column-start: 1;
            grid-column-end: 3;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            column-gap: 10px;
        }
    }

    .wrapper-step-two {
        display: flex;
        width: 100%;
        justify-content: space-between;
        column-gap: 20px;

        .field-with-width-maximum {
            width: 100%;
        }

        .field-cpf-or-cnpj {
            width: 100%;
        }
    }

    .wrapper-finish-register {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 25px 0px;
        row-gap: 10px;
    }

}

@media only screen and (max-width: 1070px) {
    .bg-img {

        .wrapper {
            padding-top: 0px;
            grid-template-columns: repeat(2, minmax(200px, 1fr));

            .field-telephone {
                grid-template: auto 50% auto / auto 50% auto;
            }

            .wrapper-two {
                padding-top: 0px;
                grid-template-columns: repeat(2, minmax(200px, 1fr));
            }
        }
        
    }
}

@media only screen and (max-width: 860px) {
    .wrapper-step-two {
        flex-direction: column;
    }
    .bg-img {
        .progress-bar-step {
            padding: 10px 35%;
        }
    }
}

@media only screen and (max-width: 650px) {
    .bg-img {
        padding-bottom: 40px;

        .wrapper {
            padding-top: 0px;
            grid-template-columns: repeat(1, minmax(150px, 1fr));

            .wrapper-two {
                margin-top: 15px;
                padding-top: 0px;
                grid-template-columns: repeat(1, minmax(100px, 1fr));

                grid-column-start: auto;
                grid-column-end: auto;
            }
        }

        .wrapper-step-two {
            flex-direction: column;
        }
        
    }
}

@media only screen and (max-width: 550px) {
    .bg-img {
        background: none;

        .progress-bar-step {
            padding: 10px 28%;
        }

        .content {
            .box-buttons-back-next {
                .wrapper-btn {
                    width: 100%;
                }
            }
        }
        
    }
}
</style>