<template>
    <header>
        <div class="container">

            <div class="header-content">
                <div class="header-logo">
                    <img v-if="imgLogo" :src="imgLogo" class="img-logo" >

                    <svg v-else class="svg-logo" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.6892 11.4623C19.7595 11.4623 18.8026 11.1878 18.2015 10.7486L18.0376 10.9818C18.7483 11.4623 19.7464 11.7369 20.7295 11.7369C22.3156 11.7369 23.8185 11.0091 23.8185 9.16977C23.8185 6.15028 18.4731 7.90688 18.4731 4.90147C18.4731 3.41944 19.7174 2.843 21.0284 2.843C21.8354 2.843 22.6688 3.06213 23.2568 3.41944L23.4066 3.17214C22.6728 2.77197 21.8502 2.56431 21.0152 2.56842C19.5527 2.56842 18.1594 3.21351 18.1594 4.90147C18.1594 8.25011 23.5047 6.46622 23.5047 9.16977C23.5039 10.8173 22.1237 11.4623 20.6892 11.4623Z" fill="#060800"/>
                        <path d="M24.9935 7.17951H31.0206V11.5165H31.3344V2.78711H31.0206V6.90493H24.9935V2.78711H24.679V11.5165H24.9935V7.17951Z" fill="#060800"/>
                        <path d="M33.2208 2.78711H32.9062V11.5165H33.2208V2.78711Z" fill="#060800"/>
                        <path d="M35.1058 8.25074C35.6312 8.36584 36.1673 8.42484 36.705 8.42675C38.6048 8.42675 40.4634 7.65845 40.4634 5.46181C40.4634 3.65064 39.2611 2.56641 36.8286 2.56641C36.1437 2.57486 35.461 2.64466 34.7886 2.77498V11.5175H35.1023L35.1058 8.25074ZM35.1058 2.99412C35.6472 2.89589 36.1961 2.84553 36.7462 2.84363C38.5224 2.84363 40.1357 3.44735 40.1357 5.46446C40.1357 7.11193 38.9194 8.15481 36.7322 8.15481C36.1862 8.14981 35.6418 8.09472 35.1058 7.99024V2.99412Z" fill="#060800"/>
                        <path d="M18.8577 15.6244C18.8577 14.4029 19.9233 13.8819 21.0852 13.8819C21.8333 13.8847 22.5683 14.0782 23.2216 14.4442L23.5634 13.8951C22.8939 13.4973 21.9782 13.25 21.0624 13.25C19.5456 13.25 18.0971 13.9224 18.0971 15.7203C18.0971 18.9185 23.1673 17.4365 23.1673 19.8382C23.1673 21.1697 22.0053 21.732 20.7478 21.732C19.8716 21.732 18.9033 21.468 18.2469 21.0183L17.9192 21.5816C18.6702 22.0621 19.7506 22.3639 20.789 22.3639C22.4154 22.3639 23.9323 21.6361 23.9323 19.7422C23.9279 16.75 18.8577 18.232 18.8577 15.6244Z" fill="#060800"/>
                        <path d="M29.1208 18.7808C27.9729 16.6264 26.8521 13.8946 25.3081 13.4414H24.6658V22.1708H25.3896V14.2651C26.5244 14.9102 27.5803 17.4906 28.7379 19.5358H29.4626C30.6377 17.4906 31.6761 14.9102 32.824 14.2651V22.1708H33.5487V13.4414H32.9064C31.3624 13.8946 30.2547 16.6264 29.1208 18.7808Z" fill="#060800"/>
                        <path d="M37.7575 13.4414C36.0496 15.5967 34.6028 18.8221 34.0271 22.1708H34.7509C34.9135 21.276 35.128 20.3915 35.3932 19.5218H40.5861C40.8708 20.387 41.0902 21.2725 41.2424 22.1708H41.9803C41.4063 18.8265 39.9718 15.5967 38.2631 13.4414H37.7575ZM35.5843 18.9216C36.2406 17.0136 37.1292 15.367 37.9765 14.2414C38.8099 15.367 39.7116 17.0136 40.3951 18.9216H35.5843Z" fill="#060800"/>
                        <path d="M45.2471 18.2875C46.7499 18.1502 48.0617 17.381 48.0617 15.8717C48.0617 14.1424 46.7473 13.25 44.5767 13.25C43.8714 13.2506 43.1675 13.3148 42.4736 13.4419V22.1712H43.2115V18.4661H43.7583C45.5985 18.4661 47.4063 20.6478 47.9127 22.1712H48.6918C48.2834 20.7992 46.8726 18.768 45.2471 18.2875ZM43.2106 17.8474V14.0051C43.6586 13.9375 44.1106 13.9008 44.5636 13.8951C45.9981 13.8951 47.2695 14.3756 47.2695 15.8849C47.2695 17.066 46.2855 17.8615 44.235 17.8615C43.8932 17.8659 43.5515 17.8659 43.2106 17.8483V17.8474Z" fill="#060800"/>
                        <path d="M48.1572 13.4414V14.0592H51.2321V22.1708H51.984V14.0592H55.0589V13.4414H48.1572Z" fill="#060800"/>
                        <path d="M7.54307 8.23619C7.50066 8.23927 7.46099 8.25836 7.43203 8.28963C7.40306 8.3209 7.38696 8.36202 7.38696 8.40472C7.38696 8.44743 7.40306 8.48855 7.43203 8.51982C7.46099 8.55108 7.50066 8.57018 7.54307 8.57326C7.57194 8.56895 7.59946 8.55815 7.62359 8.54166C7.64771 8.52517 7.66781 8.50342 7.68239 8.47803C7.69697 8.45264 7.70564 8.42427 7.70777 8.39505C7.7099 8.36582 7.70542 8.33648 7.69467 8.30924C7.67976 8.28306 7.65727 8.26206 7.6302 8.24901C7.60312 8.23596 7.57274 8.23149 7.54307 8.23619Z" fill="#060800"/>
                        <path d="M8.97848 7.71297C9.00495 7.71315 9.03099 7.70616 9.05384 7.69273L9.09853 7.66721C9.11579 7.65721 9.13092 7.6439 9.14306 7.62803C9.1552 7.61216 9.16411 7.59404 9.16927 7.57471C9.17444 7.55539 9.17577 7.53523 9.17317 7.51539C9.17058 7.49554 9.16413 7.47641 9.15417 7.45907C9.14422 7.44174 9.13096 7.42654 9.11516 7.41435C9.09936 7.40216 9.08132 7.39321 9.06208 7.38803C9.04283 7.38284 9.02276 7.3815 9.003 7.38411C8.98325 7.38671 8.96419 7.39319 8.94693 7.40319L8.90312 7.42871C8.86863 7.44892 8.84354 7.48206 8.83336 7.52083C8.82317 7.55961 8.82872 7.60086 8.84879 7.63553C8.86151 7.65892 8.88026 7.67845 8.90308 7.69208C8.92589 7.7057 8.95194 7.71292 8.97848 7.71297Z" fill="#060800"/>
                        <path d="M8.49301 7.99596C8.51949 7.99614 8.54552 7.98914 8.56837 7.97571L8.61218 7.95019C8.62945 7.94025 8.64459 7.927 8.65675 7.91118C8.66891 7.89536 8.67785 7.8773 8.68306 7.85801C8.68826 7.83872 8.68964 7.8186 8.6871 7.79878C8.68456 7.77896 8.67816 7.75983 8.66827 7.7425C8.65837 7.72516 8.64517 7.70995 8.62942 7.69774C8.61367 7.68553 8.59568 7.67655 8.57648 7.67132C8.55728 7.66609 8.53724 7.66471 8.5175 7.66726C8.49777 7.66981 8.47872 7.67623 8.46146 7.68617L8.41765 7.7117C8.38864 7.72809 8.3659 7.75372 8.35301 7.78454C8.34011 7.81536 8.3378 7.84961 8.34644 7.88189C8.35508 7.91418 8.37418 7.94265 8.40072 7.96283C8.42726 7.983 8.45973 7.99373 8.49301 7.99332V7.99596Z" fill="#060800"/>
                        <path d="M9.43314 7.12241L9.38933 7.14881C9.36032 7.16521 9.33758 7.19084 9.32469 7.22166C9.31179 7.25247 9.30948 7.28673 9.31812 7.31901C9.32676 7.35129 9.34586 7.37977 9.3724 7.39994C9.39894 7.42012 9.43141 7.43084 9.46469 7.43043C9.49124 7.43026 9.51725 7.42297 9.54005 7.40931L9.58386 7.38379C9.60113 7.37385 9.61627 7.36059 9.62843 7.34477C9.64059 7.32896 9.64953 7.31089 9.65474 7.2916C9.65994 7.27232 9.66132 7.25219 9.65878 7.23237C9.65624 7.21255 9.64984 7.19343 9.63995 7.17609C9.63005 7.15876 9.61685 7.14355 9.6011 7.13133C9.58535 7.11912 9.56736 7.11014 9.54816 7.10491C9.52896 7.09968 9.50892 7.0983 9.48918 7.10085C9.46945 7.1034 9.4504 7.10983 9.43314 7.11977V7.12241Z" fill="#060800"/>
                        <path d="M8.181 8.02696C8.17112 8.0096 8.15789 7.9944 8.1421 7.98224C8.1263 7.97007 8.10825 7.96119 8.089 7.95611C8.06974 7.95103 8.04968 7.94985 8.02997 7.95265C8.01025 7.95545 7.9913 7.96216 7.9742 7.9724L7.93038 7.99792C7.90206 8.01476 7.88 8.04045 7.86758 8.07106C7.85517 8.10168 7.85307 8.13553 7.86161 8.16746C7.87015 8.19939 7.88887 8.22762 7.91489 8.24786C7.94092 8.2681 7.97283 8.27923 8.00574 8.27954C8.03216 8.27927 8.05808 8.27231 8.0811 8.2593L8.1258 8.23289C8.16019 8.21283 8.1853 8.17992 8.19564 8.14135C8.20598 8.10277 8.20072 8.06165 8.181 8.02696Z" fill="#060800"/>
                        <path d="M13.3196 4.85678L13.2749 4.88318C13.2465 4.90003 13.2245 4.92572 13.2121 4.95633C13.1996 4.98695 13.1975 5.0208 13.2061 5.05273C13.2146 5.08465 13.2333 5.11289 13.2594 5.13313C13.2854 5.15337 13.3173 5.16449 13.3502 5.16481C13.3768 5.16476 13.4028 5.15746 13.4256 5.14368L13.4703 5.11816C13.5051 5.09809 13.5306 5.06493 13.5411 5.02598C13.5517 4.98703 13.5463 4.94548 13.5264 4.91047C13.5064 4.87546 13.4734 4.84985 13.4346 4.83929C13.3958 4.82873 13.3544 4.83407 13.3196 4.85414V4.85678Z" fill="#060800"/>
                        <path d="M13.8067 4.57641L13.7629 4.60193C13.7339 4.61833 13.7111 4.64396 13.6982 4.67478C13.6853 4.7056 13.683 4.73985 13.6917 4.77213C13.7003 4.80442 13.7194 4.83289 13.7459 4.85307C13.7725 4.87324 13.8049 4.88397 13.8382 4.88355C13.8646 4.88329 13.8906 4.87633 13.9136 4.86331L13.9574 4.83691C13.9923 4.81684 14.0178 4.78368 14.0283 4.74473C14.0388 4.70578 14.0335 4.66423 14.0135 4.62922C13.9935 4.5942 13.9605 4.5686 13.9217 4.55804C13.8829 4.54748 13.8415 4.55282 13.8067 4.57289V4.57641Z" fill="#060800"/>
                        <path d="M12.3485 5.42318L12.3047 5.4487C12.2702 5.46891 12.2452 5.50204 12.235 5.54082C12.2248 5.5796 12.2303 5.62085 12.2504 5.65551C12.2705 5.68991 12.3034 5.71494 12.3418 5.72516C12.3801 5.73538 12.421 5.72996 12.4555 5.71008L12.5001 5.68456C12.5343 5.66402 12.5591 5.6309 12.5692 5.59225C12.5794 5.55361 12.5741 5.51252 12.5545 5.47774C12.5446 5.46051 12.5314 5.44541 12.5157 5.43332C12.4999 5.42123 12.482 5.4124 12.4628 5.40732C12.4437 5.40225 12.4237 5.40104 12.4041 5.40376C12.3845 5.40648 12.3656 5.41308 12.3485 5.42318Z" fill="#060800"/>
                        <path d="M12.835 5.13999L12.7912 5.16551C12.7622 5.1819 12.7394 5.20753 12.7265 5.23835C12.7136 5.26917 12.7113 5.30342 12.72 5.33571C12.7286 5.36799 12.7477 5.39647 12.7743 5.41664C12.8008 5.43682 12.8333 5.44754 12.8665 5.44713C12.893 5.44731 12.9191 5.44032 12.9419 5.42689L12.9857 5.40136C13.003 5.39143 13.0181 5.37817 13.0303 5.36235C13.0424 5.34654 13.0514 5.32847 13.0566 5.30918C13.0618 5.2899 13.0632 5.26977 13.0606 5.24995C13.0581 5.23013 13.0517 5.211 13.0418 5.19367C13.0319 5.17633 13.0187 5.16113 13.003 5.14891C12.9872 5.1367 12.9692 5.12772 12.95 5.12249C12.9308 5.11726 12.9108 5.11588 12.891 5.11843C12.8713 5.12098 12.8523 5.12741 12.835 5.13735V5.13999Z" fill="#060800"/>
                        <path d="M11.863 5.70727L11.8183 5.73279C11.7899 5.74967 11.7678 5.77544 11.7554 5.80614C11.743 5.83684 11.741 5.87078 11.7497 5.90276C11.7583 5.93473 11.7772 5.96296 11.8034 5.98313C11.8295 6.0033 11.8616 6.01429 11.8946 6.01441C11.921 6.01403 11.9468 6.00708 11.9699 5.99417L12.0137 5.96777C12.0486 5.9477 12.0741 5.91454 12.0846 5.87559C12.0951 5.83664 12.0898 5.79509 12.0698 5.76008C12.0498 5.72506 12.0168 5.69946 11.978 5.6889C11.9392 5.67834 11.8979 5.68368 11.863 5.70375V5.70727Z" fill="#060800"/>
                        <path d="M9.91965 6.83813L9.87496 6.86365C9.84664 6.88049 9.82458 6.90618 9.81216 6.9368C9.79975 6.96741 9.79765 7.00127 9.80619 7.0332C9.81473 7.06512 9.83345 7.09336 9.85947 7.1136C9.8855 7.13384 9.91741 7.14496 9.95033 7.14527C9.97689 7.14523 10.0029 7.13793 10.0257 7.12415L10.0704 7.09863C10.1052 7.07856 10.1307 7.0454 10.1412 7.00645C10.1518 6.9675 10.1464 6.92595 10.1265 6.89093C10.1065 6.85592 10.0735 6.83032 10.0347 6.81976C9.99589 6.8092 9.95452 6.81454 9.91965 6.83461V6.83813Z" fill="#060800"/>
                        <path d="M11.3768 5.98803L11.333 6.01443C11.3157 6.02437 11.3006 6.03763 11.2884 6.05344C11.2763 6.06926 11.2673 6.08733 11.2621 6.10661C11.2569 6.1259 11.2555 6.14603 11.2581 6.16585C11.2606 6.18567 11.267 6.20479 11.2769 6.22212C11.2868 6.23946 11.3 6.25467 11.3158 6.26688C11.3315 6.27909 11.3495 6.28807 11.3687 6.2933C11.3879 6.29853 11.4079 6.29991 11.4277 6.29736C11.4474 6.29482 11.4664 6.28839 11.4837 6.27845L11.5275 6.25293C11.5448 6.24299 11.5599 6.22973 11.5721 6.21392C11.5842 6.1981 11.5932 6.18003 11.5984 6.16074C11.6036 6.14146 11.605 6.12133 11.6024 6.10151C11.5999 6.08169 11.5935 6.06257 11.5836 6.04523C11.5737 6.0279 11.5605 6.01269 11.5448 6.00048C11.529 5.98826 11.511 5.97928 11.4918 5.97405C11.4726 5.96882 11.4526 5.96744 11.4328 5.96999C11.4131 5.97254 11.3941 5.97897 11.3768 5.98891V5.98803Z" fill="#060800"/>
                        <path d="M10.4051 6.556L10.3613 6.58152C10.333 6.59836 10.3109 6.62405 10.2985 6.65467C10.2861 6.68528 10.284 6.71914 10.2925 6.75107C10.3011 6.78299 10.3198 6.81123 10.3458 6.83147C10.3718 6.85171 10.4037 6.86283 10.4367 6.86314C10.4631 6.86332 10.4892 6.85633 10.512 6.8429L10.5558 6.81738C10.5907 6.79731 10.6162 6.76415 10.6267 6.7252C10.6372 6.68625 10.6319 6.6447 10.6119 6.60968C10.5919 6.57467 10.5589 6.54907 10.5201 6.53851C10.4813 6.52795 10.44 6.53329 10.4051 6.55336V6.556Z" fill="#060800"/>
                        <path d="M10.8913 6.2728L10.8466 6.29832C10.8182 6.3152 10.7962 6.34097 10.7838 6.37167C10.7714 6.40237 10.7693 6.43631 10.778 6.46828C10.7866 6.50025 10.8055 6.52849 10.8317 6.54866C10.8578 6.56883 10.8899 6.57982 10.9229 6.57994C10.9491 6.58009 10.9748 6.5731 10.9974 6.5597L11.042 6.53418C11.0769 6.5141 11.1024 6.48094 11.1129 6.44199C11.1234 6.40304 11.1181 6.36149 11.0981 6.32648C11.0781 6.29147 11.0451 6.26587 11.0063 6.2553C10.9676 6.24474 10.9262 6.25008 10.8913 6.27016V6.2728Z" fill="#060800"/>
                        <path d="M5.21112 6.86404L5.1673 6.83852C5.15004 6.82858 5.131 6.82215 5.11127 6.8196C5.09153 6.81705 5.07149 6.81843 5.05229 6.82366C5.03308 6.82889 5.01509 6.83787 4.99935 6.85008C4.9836 6.8623 4.9704 6.87751 4.9605 6.89484C4.9506 6.91218 4.9442 6.9313 4.94167 6.95112C4.93913 6.97094 4.9405 6.99107 4.94571 7.01035C4.95092 7.02964 4.95986 7.04771 4.97202 7.06352C4.98418 7.07934 4.99932 7.0926 5.01658 7.10254L5.0604 7.12806C5.0832 7.14172 5.10921 7.14901 5.13576 7.14918C5.16904 7.14959 5.20151 7.13887 5.22805 7.11869C5.25459 7.09852 5.27369 7.07004 5.28233 7.03776C5.29096 7.00548 5.28865 6.97122 5.27576 6.94041C5.26287 6.90959 5.24012 6.88396 5.21112 6.86756V6.86404Z" fill="#060800"/>
                        <path d="M6.66954 7.71387L6.62572 7.68835C6.60846 7.67835 6.58941 7.67186 6.56965 7.66926C6.5499 7.66666 6.52982 7.66799 6.51058 7.67318C6.49134 7.67837 6.4733 7.68732 6.45749 7.69951C6.44169 7.7117 6.42844 7.72689 6.41848 7.74423C6.40853 7.76157 6.40207 7.7807 6.39948 7.80054C6.39689 7.82038 6.39822 7.84054 6.40338 7.85987C6.40855 7.8792 6.41746 7.89731 6.4296 7.91318C6.44173 7.92905 6.45687 7.94237 6.47413 7.95236L6.51794 7.97877C6.5528 7.99896 6.59422 8.00441 6.63309 7.99393C6.67195 7.98345 6.70508 7.95789 6.72518 7.92288C6.74529 7.88787 6.75072 7.84627 6.74028 7.80724C6.72985 7.76821 6.7044 7.73494 6.66954 7.71475V7.71387Z" fill="#060800"/>
                        <path d="M4.23944 6.29763L4.19562 6.27211C4.17836 6.26217 4.15932 6.25574 4.13959 6.2532C4.11985 6.25065 4.09981 6.25203 4.08061 6.25726C4.04182 6.26782 4.00881 6.29342 3.98882 6.32843C3.96883 6.36345 3.96351 6.405 3.97403 6.44395C3.98455 6.4829 4.01004 6.51606 4.0449 6.53613L4.08872 6.56165C4.11157 6.57508 4.1376 6.58207 4.16408 6.58189C4.19736 6.58231 4.22983 6.57158 4.25637 6.5514C4.28291 6.53123 4.30201 6.50275 4.31065 6.47047C4.31928 6.43819 4.31697 6.40394 4.30408 6.37312C4.29119 6.3423 4.26844 6.31667 4.23944 6.30027V6.29763Z" fill="#060800"/>
                        <path d="M6.18304 7.43045L6.13923 7.40492C6.12197 7.39498 6.10293 7.38856 6.08319 7.38601C6.06346 7.38346 6.04342 7.38484 6.02421 7.39007C6.00501 7.3953 5.98702 7.40428 5.97127 7.41649C5.95552 7.4287 5.94232 7.44391 5.93242 7.46125C5.92253 7.47858 5.91613 7.49771 5.91359 7.51753C5.91105 7.53735 5.91243 7.55747 5.91764 7.57676C5.92284 7.59605 5.93178 7.61411 5.94394 7.62993C5.9561 7.64575 5.97125 7.659 5.98851 7.66894L6.03232 7.69446C6.05517 7.70789 6.08121 7.71489 6.10768 7.71471C6.14096 7.71512 6.17344 7.70439 6.19998 7.68422C6.22651 7.66404 6.24561 7.63557 6.25425 7.60328C6.26289 7.571 6.26058 7.53675 6.24768 7.50593C6.23479 7.47511 6.21205 7.44948 6.18304 7.43309V7.43045Z" fill="#060800"/>
                        <path d="M5.69597 7.14793L5.65215 7.12153C5.61747 7.10168 5.5764 7.09638 5.53784 7.10676C5.49929 7.11714 5.46637 7.14237 5.44622 7.17697C5.43619 7.19404 5.42963 7.21294 5.42694 7.23258C5.42424 7.25221 5.42545 7.27219 5.43051 7.29135C5.43556 7.31051 5.44436 7.32847 5.45638 7.34419C5.46841 7.35991 5.48342 7.37307 5.50055 7.38291L5.54525 7.40843C5.58011 7.4285 5.62148 7.43385 5.66026 7.42328C5.69905 7.41272 5.73206 7.38712 5.75205 7.35211C5.77204 7.3171 5.77736 7.27554 5.76684 7.23659C5.75632 7.19764 5.73083 7.16449 5.69597 7.14441V7.14793Z" fill="#060800"/>
                        <path d="M3.55858 6.24833L3.60327 6.27385C3.62601 6.28763 3.65206 6.29493 3.67863 6.29498C3.71154 6.29466 3.74345 6.28354 3.76948 6.2633C3.7955 6.24306 3.81422 6.21482 3.82276 6.1829C3.8313 6.15097 3.82921 6.11712 3.81679 6.0865C3.80437 6.05589 3.78231 6.0302 3.75399 6.01336L3.7093 5.98695C3.67444 5.96688 3.63306 5.96154 3.59428 5.9721C3.5555 5.98266 3.52248 6.00827 3.50249 6.04328C3.48251 6.07829 3.47719 6.11984 3.4877 6.15879C3.49822 6.19774 3.52371 6.2309 3.55858 6.25097V6.24833Z" fill="#060800"/>
                        <path d="M3.07322 5.9662L3.11704 5.99261C3.14006 6.00562 3.16598 6.01258 3.1924 6.01285C3.22568 6.01326 3.25815 6.00253 3.28469 5.98236C3.31123 5.96218 3.33033 5.93371 3.33897 5.90143C3.3476 5.86914 3.34529 5.83489 3.3324 5.80407C3.31951 5.77325 3.29676 5.74762 3.26776 5.73123L3.22395 5.7057C3.18908 5.68563 3.14771 5.68029 3.10893 5.69085C3.07015 5.70141 3.03713 5.72702 3.01714 5.76203C2.99715 5.79704 2.99183 5.83859 3.00235 5.87754C3.01287 5.91649 3.03836 5.94965 3.07322 5.96972V5.9662Z" fill="#060800"/>
                        <path d="M1.32391 4.59841L1.2801 4.57289C1.26284 4.56295 1.24379 4.55653 1.22406 4.55398C1.20433 4.55143 1.18428 4.55281 1.16508 4.55804C1.14588 4.56327 1.12789 4.57225 1.11214 4.58446C1.09639 4.59667 1.08319 4.61188 1.07329 4.62922C1.0634 4.64655 1.057 4.66568 1.05446 4.6855C1.05192 4.70531 1.0533 4.72544 1.0585 4.74473C1.06371 4.76401 1.07265 4.78208 1.08481 4.7979C1.09697 4.81372 1.11211 4.82697 1.12938 4.83691L1.17319 4.86331C1.19621 4.87633 1.22213 4.88329 1.24855 4.88355C1.28183 4.88397 1.31431 4.87324 1.34084 4.85307C1.36738 4.83289 1.38648 4.80442 1.39512 4.77213C1.40376 4.73985 1.40145 4.7056 1.38855 4.67478C1.37566 4.64396 1.35292 4.61833 1.32391 4.60193V4.59841Z" fill="#060800"/>
                        <path d="M1.61497 5.11747L1.65966 5.143C1.68241 5.15677 1.70846 5.16408 1.73502 5.16412C1.76794 5.16381 1.79985 5.15268 1.82587 5.13244C1.8519 5.1122 1.87061 5.08397 1.87916 5.05204C1.8877 5.02011 1.8856 4.98626 1.87318 4.95564C1.86077 4.92503 1.83871 4.89934 1.81038 4.8825L1.76569 4.8561C1.73083 4.83602 1.68946 4.83068 1.65068 4.84124C1.61189 4.85181 1.57888 4.87741 1.55889 4.91242C1.5389 4.94743 1.53358 4.98898 1.5441 5.02793C1.55462 5.06688 1.58011 5.10004 1.61497 5.12011V5.11747Z" fill="#060800"/>
                        <path d="M2.10301 5.40068L2.14682 5.4262C2.16967 5.43963 2.19571 5.44662 2.22218 5.44644C2.25547 5.44686 2.28794 5.43613 2.31448 5.41595C2.34102 5.39578 2.36011 5.3673 2.36875 5.33502C2.37739 5.30274 2.37508 5.26848 2.36219 5.23767C2.34929 5.20685 2.32655 5.18122 2.29754 5.16482L2.25373 5.1393C2.23647 5.12936 2.21743 5.12293 2.19769 5.12038C2.17796 5.11783 2.15792 5.11921 2.13871 5.12445C2.09993 5.13501 2.06691 5.16061 2.04693 5.19562C2.02694 5.23063 2.02162 5.27218 2.03214 5.31113C2.04266 5.35009 2.06815 5.38324 2.10301 5.40332V5.40068Z" fill="#060800"/>
                        <path d="M2.58665 5.68388L2.63134 5.7094C2.65416 5.72292 2.68022 5.72991 2.7067 5.72965C2.73962 5.72933 2.77153 5.71821 2.79755 5.69797C2.82358 5.67773 2.84229 5.64949 2.85084 5.61757C2.85938 5.58564 2.85728 5.55179 2.84486 5.52117C2.83245 5.49056 2.81039 5.46486 2.78206 5.44802L2.73737 5.4225C2.70251 5.40243 2.66114 5.39709 2.62236 5.40765C2.58357 5.41821 2.55056 5.44381 2.53057 5.47883C2.51058 5.51384 2.50526 5.55539 2.51578 5.59434C2.5263 5.63329 2.55179 5.66645 2.58665 5.68652V5.68388Z" fill="#060800"/>
                        <path d="M4.72591 6.58084L4.68122 6.55531C4.66396 6.54537 4.64492 6.53895 4.62518 6.5364C4.60545 6.53385 4.58541 6.53523 4.5662 6.54046C4.52742 6.55102 4.4944 6.57663 4.47442 6.61164C4.45443 6.64665 4.44911 6.6882 4.45963 6.72715C4.47015 6.7661 4.49564 6.79926 4.5305 6.81933L4.57519 6.84486C4.59801 6.85837 4.62406 6.86537 4.65055 6.8651C4.68347 6.86479 4.71537 6.85366 4.7414 6.83342C4.76743 6.81318 4.78614 6.78495 4.79468 6.75302C4.80323 6.72109 4.80113 6.68724 4.78871 6.65662C4.77629 6.62601 4.75424 6.60032 4.72591 6.58348V6.58084Z" fill="#060800"/>
                        <path d="M7.15497 7.99685L7.11115 7.97133C7.09389 7.96139 7.07485 7.95496 7.05512 7.95241C7.03538 7.94987 7.01534 7.95125 6.99614 7.95648C6.97693 7.96171 6.95894 7.97068 6.94319 7.9829C6.92745 7.99511 6.91425 8.01032 6.90435 8.02765C6.89445 8.04499 6.88805 8.06411 6.88551 8.08393C6.88298 8.10375 6.88435 8.12388 6.88956 8.14317C6.89477 8.16245 6.90371 8.18052 6.91587 8.19634C6.92803 8.21215 6.94317 8.22541 6.96043 8.23535L7.00512 8.26087C7.03998 8.28083 7.08131 8.28606 7.12001 8.27541C7.15871 8.26477 7.19162 8.23912 7.21149 8.20411C7.23136 8.16909 7.23657 8.12759 7.22597 8.08872C7.21537 8.04985 7.18983 8.01681 7.15497 7.99685Z" fill="#060800"/>
                        <path d="M7.5431 10.4727C7.52339 10.4725 7.50386 10.4764 7.48562 10.4839C7.46739 10.4914 7.45083 10.5025 7.43689 10.5165C7.42295 10.5305 7.41192 10.5471 7.40443 10.5654C7.39694 10.5837 7.39314 10.6034 7.39326 10.6231V10.6742C7.39168 10.695 7.39439 10.7159 7.40123 10.7356C7.40806 10.7553 7.41887 10.7733 7.43298 10.7886C7.44709 10.8039 7.46419 10.8161 7.48322 10.8244C7.50225 10.8328 7.52278 10.8371 7.54354 10.8371C7.5643 10.8371 7.58484 10.8328 7.60387 10.8244C7.62289 10.8161 7.63999 10.8039 7.6541 10.7886C7.66821 10.7733 7.67903 10.7553 7.68586 10.7356C7.6927 10.7159 7.69541 10.695 7.69383 10.6742V10.6231C7.69383 10.6033 7.68992 10.5837 7.68234 10.5654C7.67475 10.547 7.66364 10.5304 7.64963 10.5164C7.63562 10.5024 7.619 10.4914 7.60072 10.4839C7.58244 10.4763 7.56286 10.4725 7.5431 10.4727Z" fill="#060800"/>
                        <path d="M7.54316 9.90625C7.52341 9.90625 7.50385 9.91017 7.48561 9.91779C7.46737 9.92541 7.45082 9.93657 7.43689 9.95064C7.42296 9.96471 7.41195 9.9814 7.40447 9.99976C7.39699 10.0181 7.3932 10.0378 7.39331 10.0576V10.1087C7.39621 10.1467 7.4133 10.1822 7.44116 10.2082C7.46903 10.2341 7.50561 10.2485 7.5436 10.2485C7.58158 10.2485 7.61817 10.2341 7.64603 10.2082C7.6739 10.1822 7.69098 10.1467 7.69388 10.1087V10.0576C7.69388 10.0175 7.678 9.97897 7.64973 9.95059C7.62147 9.9222 7.58313 9.90625 7.54316 9.90625Z" fill="#060800"/>
                        <path d="M7.5431 9.34375C7.52335 9.34375 7.5038 9.34767 7.48556 9.35529C7.46732 9.36291 7.45076 9.37407 7.43684 9.38814C7.42291 9.40221 7.41189 9.4189 7.40441 9.43726C7.39694 9.45562 7.39314 9.47528 7.39326 9.49512V9.54616C7.39168 9.56695 7.39439 9.58785 7.40123 9.60754C7.40806 9.62722 7.41887 9.64528 7.43298 9.66057C7.44709 9.67587 7.46419 9.68807 7.48322 9.69642C7.50225 9.70476 7.52278 9.70907 7.54354 9.70907C7.5643 9.70907 7.58484 9.70476 7.60387 9.69642C7.62289 9.68807 7.63999 9.67587 7.6541 9.66057C7.66821 9.64528 7.67903 9.62722 7.68586 9.60754C7.6927 9.58785 7.69541 9.56695 7.69383 9.54616V9.49512C7.69383 9.45497 7.67795 9.41647 7.64968 9.38809C7.62142 9.3597 7.58308 9.34375 7.5431 9.34375Z" fill="#060800"/>
                        <path d="M7.5431 11.0313C7.52335 11.0312 7.5038 11.0352 7.48556 11.0428C7.46732 11.0504 7.45076 11.0616 7.43684 11.0756C7.42291 11.0897 7.41189 11.1064 7.40441 11.1248C7.39694 11.1431 7.39314 11.1628 7.39326 11.1826V11.2337C7.39168 11.2545 7.39439 11.2753 7.40123 11.295C7.40806 11.3147 7.41887 11.3328 7.43298 11.3481C7.44709 11.3634 7.46419 11.3756 7.48322 11.3839C7.50225 11.3923 7.52278 11.3966 7.54354 11.3966C7.5643 11.3966 7.58484 11.3923 7.60387 11.3839C7.62289 11.3756 7.63999 11.3634 7.6541 11.3481C7.66821 11.3328 7.67903 11.3147 7.68586 11.295C7.6927 11.2753 7.69541 11.2545 7.69383 11.2337V11.1826C7.69383 11.1425 7.67795 11.104 7.64968 11.0756C7.62142 11.0472 7.58308 11.0313 7.5431 11.0313Z" fill="#060800"/>
                        <path d="M7.5431 8.78321C7.52339 8.78309 7.50386 8.7869 7.48562 8.79442C7.46739 8.80194 7.45083 8.81303 7.43689 8.82702C7.42295 8.84102 7.41192 8.85766 7.40443 8.87597C7.39694 8.89428 7.39314 8.9139 7.39326 8.9337V8.98474C7.39168 9.00553 7.39439 9.02642 7.40123 9.04611C7.40806 9.0658 7.41887 9.08386 7.43298 9.09915C7.44709 9.11445 7.46419 9.12665 7.48322 9.13499C7.50225 9.14334 7.52278 9.14765 7.54354 9.14765C7.5643 9.14765 7.58484 9.14334 7.60387 9.13499C7.62289 9.12665 7.63999 9.11445 7.6541 9.09915C7.66821 9.08386 7.67903 9.0658 7.68586 9.04611C7.6927 9.02642 7.69541 9.00553 7.69383 8.98474V8.9337C7.69383 8.91386 7.68992 8.89422 7.68234 8.8759C7.67475 8.85759 7.66364 8.84096 7.64963 8.82697C7.63562 8.81298 7.619 8.80192 7.60072 8.79441C7.58244 8.7869 7.56286 8.78309 7.5431 8.78321Z" fill="#060800"/>
                        <path d="M7.5431 12.1563C7.52339 12.1561 7.50386 12.1599 7.48562 12.1675C7.46739 12.175 7.45083 12.1861 7.43689 12.2001C7.42295 12.2141 7.41192 12.2307 7.40443 12.249C7.39694 12.2673 7.39314 12.287 7.39326 12.3067V12.3578C7.39168 12.3786 7.39439 12.3995 7.40123 12.4192C7.40806 12.4388 7.41887 12.4569 7.43298 12.4722C7.44709 12.4875 7.46419 12.4997 7.48322 12.508C7.50225 12.5164 7.52278 12.5207 7.54354 12.5207C7.5643 12.5207 7.58484 12.5164 7.60387 12.508C7.62289 12.4997 7.63999 12.4875 7.6541 12.4722C7.66821 12.4569 7.67903 12.4388 7.68586 12.4192C7.6927 12.3995 7.69541 12.3786 7.69383 12.3578V12.3067C7.69383 12.2869 7.68992 12.2673 7.68234 12.249C7.67475 12.2306 7.66364 12.214 7.64963 12.2C7.63562 12.186 7.619 12.175 7.60072 12.1675C7.58244 12.1599 7.56286 12.1561 7.5431 12.1563Z" fill="#060800"/>
                        <path d="M7.5431 14.4023C7.52335 14.4023 7.5038 14.4063 7.48556 14.4139C7.46732 14.4215 7.45076 14.4327 7.43684 14.4467C7.42291 14.4608 7.41189 14.4775 7.40441 14.4959C7.39694 14.5142 7.39314 14.5339 7.39326 14.5537V14.6083C7.39168 14.6291 7.39439 14.65 7.40123 14.6696C7.40806 14.6893 7.41887 14.7074 7.43298 14.7227C7.44709 14.738 7.46419 14.7502 7.48322 14.7585C7.50225 14.7669 7.52278 14.7712 7.54354 14.7712C7.5643 14.7712 7.58484 14.7669 7.60387 14.7585C7.62289 14.7502 7.63999 14.738 7.6541 14.7227C7.66821 14.7074 7.67903 14.6893 7.68586 14.6696C7.6927 14.65 7.69541 14.6291 7.69383 14.6083V14.5572C7.69429 14.5371 7.69074 14.517 7.68337 14.4982C7.67601 14.4795 7.66498 14.4623 7.65094 14.4479C7.6369 14.4335 7.62012 14.422 7.6016 14.4142C7.58309 14.4064 7.5632 14.4023 7.5431 14.4023Z" fill="#060800"/>
                        <path d="M7.54316 11.5938C7.50341 11.5938 7.4653 11.6096 7.4372 11.6378C7.4091 11.6661 7.39331 11.7043 7.39331 11.7442V11.7935C7.3962 11.8316 7.41329 11.8671 7.44116 11.893C7.46902 11.919 7.50561 11.9334 7.54359 11.9334C7.58158 11.9334 7.61816 11.919 7.64603 11.893C7.67389 11.8671 7.69098 11.8316 7.69388 11.7935V11.7416C7.69296 11.7021 7.67668 11.6645 7.64851 11.6368C7.62034 11.6092 7.58253 11.5937 7.54316 11.5938Z" fill="#060800"/>
                        <path d="M7.5431 13.8418C7.52335 13.8418 7.5038 13.8457 7.48556 13.8533C7.46732 13.861 7.45076 13.8721 7.43684 13.8862C7.42291 13.9003 7.41189 13.9169 7.40441 13.9353C7.39694 13.9537 7.39314 13.9733 7.39326 13.9932V14.0442C7.39168 14.065 7.39439 14.0859 7.40123 14.1056C7.40806 14.1253 7.41887 14.1433 7.43298 14.1586C7.44709 14.1739 7.46419 14.1861 7.48322 14.1945C7.50225 14.2028 7.52278 14.2071 7.54354 14.2071C7.5643 14.2071 7.58484 14.2028 7.60387 14.1945C7.62289 14.1861 7.63999 14.1739 7.6541 14.1586C7.66821 14.1433 7.67903 14.1253 7.68586 14.1056C7.6927 14.0859 7.69541 14.065 7.69383 14.0442V13.9932C7.69383 13.953 7.67795 13.9145 7.64968 13.8861C7.62142 13.8577 7.58308 13.8418 7.5431 13.8418Z" fill="#060800"/>
                        <path d="M7.5431 12.7168C7.52335 12.7168 7.5038 12.7207 7.48556 12.7283C7.46732 12.736 7.45076 12.7471 7.43684 12.7612C7.42291 12.7753 7.41189 12.7919 7.40441 12.8103C7.39694 12.8287 7.39314 12.8483 7.39326 12.8682V12.9192C7.39168 12.94 7.39439 12.9609 7.40123 12.9806C7.40806 13.0003 7.41887 13.0183 7.43298 13.0336C7.44709 13.0489 7.46419 13.0611 7.48322 13.0695C7.50225 13.0778 7.52278 13.0821 7.54354 13.0821C7.5643 13.0821 7.58484 13.0778 7.60387 13.0695C7.62289 13.0611 7.63999 13.0489 7.6541 13.0336C7.66821 13.0183 7.67903 13.0003 7.68586 12.9806C7.6927 12.9609 7.69541 12.94 7.69383 12.9192V12.8682C7.69383 12.828 7.67795 12.7895 7.64968 12.7611C7.62142 12.7327 7.58308 12.7168 7.5431 12.7168Z" fill="#060800"/>
                        <path d="M7.54316 13.2793C7.50341 13.2793 7.4653 13.2952 7.4372 13.3234C7.4091 13.3516 7.39331 13.3899 7.39331 13.4298V13.4817C7.3962 13.5197 7.41329 13.5553 7.44116 13.5812C7.46902 13.6071 7.50561 13.6215 7.54359 13.6215C7.58158 13.6215 7.61816 13.6071 7.64603 13.5812C7.67389 13.5553 7.69098 13.5197 7.69388 13.4817V13.4298C7.69365 13.3898 7.67766 13.3515 7.64942 13.3233C7.62118 13.2951 7.58298 13.2793 7.54316 13.2793Z" fill="#060800"/>
                        <path d="M13.933 3.31434L12.0051 2.20018L8.75761 0.31596C8.39486 0.10741 7.98384 -0.00155599 7.56586 1.67874e-05C7.10228 0.00172895 6.6479 0.130112 6.25143 0.371404C5.65731 0.725189 1.66495 3.03712 0.864895 3.49739C0.275154 3.83797 0 4.38625 0 5.22055V11.6283C0 12.3455 0.297937 12.8762 0.937627 13.3004C1.13917 13.4307 2.19072 14.0458 3.38071 14.734C3.34633 14.8121 3.33953 14.8997 3.36144 14.9822L3.96607 17.1753C3.98225 17.2374 4.01403 17.2943 4.05837 17.3406C4.10272 17.3868 4.15813 17.4208 4.21932 17.4394C4.24386 17.4464 4.46994 17.5142 4.83272 17.596V20.715C4.83215 20.7949 4.85702 20.8729 4.9037 20.9376L6.35921 22.9345C6.39251 22.982 6.70973 23.4 7.53169 23.4C8.31246 23.4 8.62179 23.0374 8.69101 22.938L10.157 20.935C10.2045 20.8703 10.2297 20.7918 10.2289 20.7114V17.552C10.4699 17.4869 10.6127 17.4358 10.6294 17.4306C10.6806 17.4123 10.7273 17.3831 10.7662 17.345C10.805 17.3068 10.8352 17.2607 10.8546 17.2097L11.6905 15.0165C11.7256 14.9278 11.7256 14.829 11.6905 14.7402L14.032 13.3823C14.7575 12.9616 15.1107 12.335 15.1107 11.4646V5.19239C15.1081 4.40033 14.7111 3.76757 13.933 3.31434ZM8.08375 22.4936C8.06622 22.512 7.92689 22.6449 7.53169 22.6449C7.13648 22.6449 6.98664 22.5094 6.96648 22.4892L6.12174 21.3257C6.59101 21.4059 7.06618 21.4463 7.5422 21.4463C8.00907 21.4464 8.47513 21.4072 8.9355 21.3292L8.08375 22.4936ZM9.47792 20.4351C8.84707 20.6074 8.19597 20.6936 7.5422 20.6912C6.88182 20.6925 6.22416 20.6061 5.58633 20.4342V17.7386C6.23065 17.8475 6.88269 17.904 7.53607 17.9075C8.18877 17.9064 8.83997 17.8448 9.48142 17.7236L9.47792 20.4351ZM10.2184 16.7696C9.3462 17.0212 8.44349 17.15 7.53607 17.1525C6.55771 17.1401 5.58431 17.0107 4.63643 16.767L4.24298 15.3369C5.0071 15.4398 6.39251 15.6009 7.53607 15.6009C7.93565 15.6009 8.36591 15.5807 8.78916 15.5507C9.46477 15.5023 10.1229 15.4284 10.6118 15.365L10.7634 15.3457L10.2184 16.7696ZM14.3562 11.4646C14.3562 11.9882 14.2134 12.4045 13.6552 12.7293L10.3691 14.6346C9.42948 14.7588 8.48363 14.8296 7.53607 14.8467C6.59584 14.8302 5.65729 14.7603 4.72494 14.6372C3.20283 13.7572 1.58958 12.8243 1.35474 12.6685C0.893813 12.3649 0.755359 12.0569 0.755359 11.6283V5.22055C0.746148 4.99347 0.784974 4.76701 0.869277 4.55611C0.880198 4.54629 0.889383 4.53468 0.896441 4.52178C0.905931 4.50523 0.912178 4.48701 0.914843 4.4681C0.994896 4.33513 1.10858 4.22582 1.24433 4.15128C2.54999 3.39354 6.07705 1.35355 6.63612 1.02089C6.91671 0.850408 7.23793 0.75919 7.56586 0.756871C7.85147 0.754787 8.13267 0.82759 8.38168 0.968087L13.5518 3.96646C14.039 4.24896 14.3553 4.61859 14.3553 5.19151L14.3562 11.4646Z" fill="#060800"/>
                        <path d="M8.17407 8.80441V10.1368L9.29835 9.49878V8.125L8.31428 8.71992L8.17407 8.80441Z" fill="#060800"/>
                        <path d="M1.53442 6.88253L3.92318 8.27567V7.61739L1.53442 6.20312V6.88253Z" fill="#060800"/>
                        <path d="M1.53442 7.91964L3.92318 9.31278V8.6545L1.53442 7.24023V7.91964Z" fill="#060800"/>
                    </svg>
                </div>

                <div class="header-button-menu" @click="activeHamburguer">
                    <div />
                    <div />
                    <div />
                </div>

                <nav>
                    <ul>
                        <!-- IF YOU INSERT A LIST OF LINKS. WILL TREAT AS THE ROUTE OF THE 'window' (own browser): -->
                        <li v-for="(linkRedirect) in linksRedirected" :key="linkRedirect.srcOrpath">
                            <a :class="{ '--link-selected': pathOrAncora(linkRedirect) }"
                                @click="redirect(linkRedirect)">
                                {{ linkRedirect.label }}
                            </a>
                        </li>

                        <!-- IF YOU WANT TO DEAL WITH ELEMENTS AND A SPECIFIC ROUTE TREATMENT (ex: VueRouter) -->
                        <slot v-if="!linksRedirected" name="paths" >

                        </slot>
                    </ul>
                </nav>
            </div>
            
        </div>
    </header>
</template>

<script lang="ts">
import { ref, onUpdated, computed } from 'vue';

export default {
    name: 'HeaderMenu',

    props: {
        imgLogo: {
            type: String,
            required: false,
        },

        // { label: [LABEL], srcOrpath: [ancora or path] }
        linksRedirected: {
            type: Array,
            required: false,
        },
        
        openOptionsRedirect: {
            type: Boolean,
            required: false,
            default: false,
        },
    },

    emits: ['resOpenOptionsRedirectHamburguer'],

    setup(props:  any, { emit }: any) {
        // DATA´S:
        const activeHamburguerOptions = ref(false);

        // UPDATE THE EACH MOMENT:
        onUpdated(() => {
            watchOptionsRedirect();
        });


        // COMPUTED´S:
        const headerButtonMenu = computed(() => document.querySelector('.header-button-menu'));
        const nav = computed(() => document.querySelector('nav'));


        // FUNCTION´S / METHOD´S:
        function watchOptionsRedirect() {
            if (props.openOptionsRedirect == true) {
                openOptionsRedirectMethod();
                activeHamburguerOptions.value = true;
                emit('resOpenOptionsRedirectHamburguer', true);
            } else {
                closeOptionsRedirectMethod();
                activeHamburguerOptions.value = false;
                emit('resOpenOptionsRedirectHamburguer', false);
            }
        };

        function pathOrAncora(linkRedirect: any) {
            // Is path:
            if (linkRedirect.srcOrpath[0] === '/') {
                if (window.location.pathname == linkRedirect.srcOrpath) return true
                else return false
            } 
            // Is URL Ancora:
            else {
                if (window.location.href == linkRedirect.srcOrpath) return true
                else return false
            }
        };

        function redirect(linkRedirect: any) {
            // Is path:
            if (linkRedirect.srcOrpath[0] === '/') {
                window.location.pathname = linkRedirect.srcOrpath;
            } 
            // Is URL Ancora:
            else {
                window.location.href = linkRedirect.srcOrpath;
            }

            activeHamburguerOptions.value = false;
            closeOptionsRedirectMethod();

            emit('resOpenOptionsRedirectHamburguer', activeHamburguerOptions.value);
        };


        // MOBILE:
        function activeHamburguer() {
            activeHamburguerOptions.value = !activeHamburguerOptions.value;

            if (activeHamburguerOptions.value) {
                openOptionsRedirectMethod();
            } else {
                closeOptionsRedirectMethod();
            }

            emit('resOpenOptionsRedirectHamburguer', activeHamburguerOptions.value);
        };

        function openOptionsRedirectMethod() {
            if (headerButtonMenu.value && nav.value) {
                headerButtonMenu.value.classList.add("is-open-active");
                nav.value.classList.add("is-active");
            }
            
        };
        function closeOptionsRedirectMethod() {
            if (headerButtonMenu.value && nav.value) {
                headerButtonMenu.value.classList.remove("is-open-active");
                nav.value.classList.remove("is-active");
            }
            
        };

        return {
            // FUNCTION´S / METHOD´S:
            pathOrAncora,
            redirect,
            activeHamburguer
        };
    },
}

</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$maxWidthMobile: 425px;
$colorWhite: #FFFFFF;

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 20px;
}

header {
    box-shadow: 0px 1px 1px 0px #F2F2F2;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 87px;
    }

    .header-logo {
        width: auto;

        .img-logo, .svg-logo {
            width: 90px;
            height: 38.2px;
        }
    }

    .header-button-menu {
        height: 15px;
        width: 20px;
        position: relative;
        display: none;

        div {
            width: 100%;
            height: 2px;
            background-color: #FBBE2F;
            border-radius: 25%;
            position: absolute;
            top: 0px;
            left: 0px;

            &:nth-child(2) {
                top: calc(50% - 1px);
            }
            &:nth-child(3) {
                top: calc(100% - 2px);
            }
        }
    }

    nav {
        flex: 1;
        overflow-x: auto;

        ul {
            display: flex;
            justify-content: flex-end;
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                list-style: none;

                a {
                    cursor: pointer;
                    padding: 35px 25px;
                    display: block;
                    
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 17px;
                    color: #757575;
                    text-decoration: none;

                    &.--link-selected {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 550px) {
    header {

        .header-logo {
            .svg-logo {
                width: 55px;
                height: 23.4px;
            }
        }

        .header-button-menu {
            display: block;

            &.is-open-active {
                transition: transform 0.3s ease;

                div {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);

                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg);
                        top: calc(50% - 1px);
                    }
                }
            }

        }

        nav {
            position: absolute;
            top: 88px;
            right: 0px;
            width: 0px;
            height: calc(100vh - 88px);
            background: #FFFFFF;
            z-index: 2;

            overflow-x: hidden;
            overflow-y: auto;
            transition: width 0.3s ease;

            &.is-active {
                width: 100%;

                ul {
                    transform: translateX(0%);
                }
            }

            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;

                transform: translateX(100%);
                transition: transform 0.3s ease;
            }
        }
    }
}

</style>