<template>
    <SideNavBar :user="user" >
        <div class="container">
            <div class="box-content">
                <Typographie text="Central" tagText="h1" class="font-bold mb-4">
                    <span class="font-medium">de Configurações</span>
                </Typographie>
                <Typographie tagText="p"
                    text="Gerenciamento de configuração de arquivos." />

                <form @submit.prevent="enviaConfiguracao">
                    <InputFileField
                        class="mt-10"
                        textInput="Selecione um arquivo"
                        @resFile="handleConfigFile" />
                    
                    <TextFormField
                        fieldMaxWidthNormal
                        type="select"
                        label="Selecione o tipo de configuração"
                        :item="configuracaoSelecionada"
                        :items="configuracoes"
                        @selectedValue="handleConfiguracao" />

                    <div v-if="configuracaoSelecionada && configuracaoSelecionada.value">
                        <TextFormField
                            v-if="selectTransportadorHabilitado"
                            fieldMaxWidthNormal
                            type="select"
                            label="Selecione o transportador de referência"
                            :item="{label:'', value: ''}"
                            :items="[{label: '', value: ''}, {label: 'DHL', value: 1}]" />

                        <TextFormField
                            v-if="selectUsuarioReferenciaHabilidado"
                            fieldMaxWidthNormal
                            type="select"
                            label="Selecione o usuário de referência"
                            :item="{label: '', value: ''}"
                            :items="[{label: '', value: ''}, {label: 'Fulano de Tal', value: 1}]" />

                        <div class="text-center mt-10">
                            <Button text="Enviar" typeColor="primary" />
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </SideNavBar>
</template>

<script lang="ts">
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue'
import Typographie from '@/components/typographies/Typographie.vue';
import TextFormField from '@/components/text_form_field/TextFormField.vue'
import Button from '@/components/button/Button.vue'
import InputFileField from '@/components/input_file_field/InputFileField.vue'
import { defineComponent, ref } from 'vue';
import { useConfiguracao } from '@/composables/useConfiguracao';

export default defineComponent({
    components: { 
        SideNavBar, 
        Typographie,
        TextFormField,
        Button,
        InputFileField
    },
    setup() {
        const user = ref({
            name: 'Rafael',
            last_name: 'Weldo Lopes',
            city: 'São Paulo',
            address: 'Rua Rodrigo Lobato',
            address_number: '15'
        });

        const {configuracoes,configuracaoSelecionada,selectTransportadorHabilitado,
            handleConfiguracao,selectUsuarioReferenciaHabilidado} = useConfiguracao();
        
        const handleConfigFile = (file: File) => {
            console.log(file)
        };

        const enviaConfiguracao = () => {
            window.alert('Enviado...');
        }

        return {
            user,
            configuracaoSelecionada,
            configuracoes,
            handleConfiguracao,
            selectTransportadorHabilitado,
            selectUsuarioReferenciaHabilidado,
            handleConfigFile,
            enviaConfiguracao,
        }
    },
})
</script>

<style lang="scss" scoped>
    div:nth-child(1) {
        height: 100%;
    }
</style>