<template>
    <div>
        <HeaderMenu :openOptionsRedirect="openOptionsRedirect.value" @resOpenOptionsRedirectHamburguer="getValueOptionsRedirect">
            <template #paths >
                <li v-for="(linkRedirect) in linksRedirected" :key="linkRedirect.srcOrpath">
                    <a :class="{ '--link-selected': $route.path == linkRedirect.srcOrpath }"
                        @click.prevent="redirectFunction(linkRedirect)">
                        {{ linkRedirect.label }}
                    </a>
                </li>
            </template>
        </HeaderMenu>

        <div class="bg-img">
        
            <div class="container">
                
                <div class="content">
                    <BoxContent>
                        <Typographie elementHtmlText="h1" v-text="t('message.enterLogin', {company: 'Lokalise'})" />

                        <TextFormField
                            :label="t('titleLabels.email', {company: 'Lokalise'})"
                            type="email" 
                            :errorMessage="errorMessage"
                            :error="actionErrorMsg" 
                            :value="email"
                            @onInput="handleEmail" />

                        <TextFormField
                            :label="t('titleLabels.password', {company: 'Lokalise'})"
                            type="password"
                            :messageNotification="watchResponsePageAndReturnMsgTxtField"
                            :value="password"
                            :errorMessage="errorMessagePassword"
                            :error="actionErrorMsgPassword"
                            @onInput="handlePassword" />

                        <LinkText>
                            <template #link-redirect>
                                <a @click="redirectLinkForgotPassword" >
                                    {{ t('message.forgotPasswordMsg', {company: 'Lokalise'}) }}
                                </a>
                            </template>
                        </LinkText>

                        <div class="box-content-btn">
                            <Button
                                @onClick="login"
                                :text="t('message.enterMsg', {company: 'Lokalise'})"
                                typeColor="secondary"
                                :loading="false"
                                :disabled="false" />
                        </div>

                        <Button
                            @onClick="signUp"
                            :text="t('message.signUpMsg', {company: 'Lokalise'})"
                            typeColor="primary"
                            :loading="false"
                            :disabled="false" />

                    </BoxContent>
                </div>

            </div>

        </div>
        
        <Footer v-show="!activeHamburguerOptions.value" :withLink="true"
            :titleLink="t('termsOfUse', {company: 'Lokalise'})"
            hrefLink="https://www.google.com/" />
    </div>
    
</template>

<script lang="ts">
/* eslint-disable */
import { ref, watch, computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';

import HeaderMenu from "@/components/header_menu/HeaderMenu.vue";
import Typographie from "@/components/typographies/Typographie.vue";
import BoxContent from "@/components/box_content/BoxContent.vue";
import TextFormField from "@/components/text_form_field/TextFormField.vue";
import LinkText from "@/components/link_text/LinkText.vue";
import Button from "@/components/button/Button.vue";
import Footer from "@/components/footer/Footer.vue";

import UserService from "@/services/UserService";
import LoginService from "@/services/LoginService";

import {container} from 'tsyringe'
import {AuthService} from "@/app/services/AuthService";

const loginService = new LoginService();
const userService = new UserService();

export default {
    name: 'Entrar',

    components: {
        HeaderMenu,
        Typographie,
        BoxContent,
        TextFormField,
        LinkText,
        Button,
        Footer,
    },

    setup() {
        const { t } = useI18n();

        let actionErrorMsg = ref(false);
        let errorMessage = ref('');

        let actionErrorMsgPassword = ref(false);
        let errorMessagePassword = ref('');

        let openOptionsRedirect = ref(false);

        let email = ref('');
        let password = ref('');

        let linksRedirected = ref([
            {
                label: t('messageLinksRedirect.init', {company: 'Lokalise'}),
                srcOrpath: '/init',
            },
            {
                label: t('messageLinksRedirect.doubts', {company: 'Lokalise'}),
                srcOrpath: '/doubts',
            },
            {
                label: t('messageLinksRedirect.login', {company: 'Lokalise'}),
                srcOrpath: '/login',
            },
            {
                label: t('messageLinksRedirect.contact', {company: 'Lokalise'}),
                srcOrpath: '/contact',
            },
        ]);


        // STORE (VUEX):
        const store = useStore();

        // ROUTER (VUE-ROUTER):
        const router = useRouter();

        //FUNCTIONS
        function handleEmail(value: any) {
            let regexValidation = /^[\w+.]+@\w+\.\w{2,}(?:\.\w{2})?$/;

            if (value == '') {
                actionErrorMsg.value = true;
                errorMessage.value = t('messageNotification.fieldIsEmpty', {company: 'Lokalise'});
            } else if(!regexValidation.test(value)) {
                actionErrorMsg.value = true;
                errorMessage.value = t('messageNotification.defaultMsgErrorEmail', {company: 'Lokalise'});
            } else {
                actionErrorMsg.value = false;
                errorMessage.value = "";
            }

            email.value = value;
        };

        function handlePassword(value: any) {
            let regexValidation = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[?!%$*&@#])[0-9a-zA-Z?!%$*&@#]{6,}$/;
            
            if (!regexValidation.test(value)) {
                actionErrorMsgPassword.value = true;
                errorMessagePassword.value = t('messageNotification.defaultSixMinAndSpecialCharactersWithParentheses', {company: 'Lokalise'});
            } else {
                actionErrorMsgPassword.value = false;
                errorMessagePassword.value = '';
            }
            
            password.value = value;
        };

        function getValueOptionsRedirect(value: any) {
            openOptionsRedirect.value = value;
        };
        function redirectFunction(linkRedirect: any) {
            // Is path:
            if (linkRedirect.srcOrpath[0] === '/') {
                router.push({ path: linkRedirect.srcOrpath }).catch(() => {});
            } 
            // Is URL Ancora:
            else {
                window.location.href = linkRedirect.srcOrpath;
            }

            openOptionsRedirect.value = false;
            store.commit("headerMenu/setActiveHamburguerOptions", openOptionsRedirect.value);
        };
        function redirectLinkForgotPassword() {
            router.push({ path: '/forgot_password' }).catch(() => {});
        };


        // Functions of example:
        async function login() {
            const date = new Date();
            const dia = String(date.getDate()).padStart(2, '0');
            const mes = String(date.getMonth() + 1).padStart(2, '0');
            const ano = date.getFullYear();
            let propsAlerta = {
                mostrar: false,
                tipo: '',
                titulo: '',
                mensagem: '',
                mensagem_footer: `${dia} / ${mes} / ${ano}`,
                duracao: 4000
            };

            try {
                const authService: AuthService = container.resolve(AuthService);
                const {data} = await authService.login(email.value, password.value);
                const {usuario, auth_token} = data.data;

                propsAlerta.mostrar = true;
                propsAlerta.tipo = 'success';
                propsAlerta.titulo = 'Sucesso!';
                propsAlerta.mensagem = 'Login efetuado';
                store.commit("global/SET_ALERTA", propsAlerta);

                store.commit('usuario/SET_USUARIO', usuario);
                localStorage.setItem('auth_token', auth_token);
                router.push({path:"home"});
            } catch (error) {
                console.log(error.errors);
                if(error.errors) {
                    return alert(error.errors.join('\n'));
                }
                propsAlerta.mostrar = true;
                propsAlerta.tipo = 'error';
                propsAlerta.titulo = 'Erro!';
                propsAlerta.mensagem = 'Erro ao efetuar o login';
                store.commit("global/SET_ALERTA", propsAlerta);
                // alert(error?.response?.data?.message ?? 'Erro ao efetuar o login');
            }
        };
        function signUp() {
            router.push({ path: 'register' }).catch(() => {});
        };


        // WATCH´S:
        watch(() => openOptionsRedirect.value, (newV) => {
            if (newV === true) store.commit("headerMenu/setActiveHamburguerOptions", true);
            else store.commit("headerMenu/setActiveHamburguerOptions", false);
        });


        // COMPUTED´S:
        const watchResponsePageAndReturnMsgTxtField = computed(() => {
            const responsePag = window.innerWidth

            return t(
                responsePag > 550 ?
                'messageNotification.defaultSixMinAndSpecialCharactersWithParentheses' :
                'messageNotification.defaultSixMinAndSpecialCharacters', 
                {company: 'Lokalise'}
            )
        });

        const activeHamburguerOptions = computed(() => store.state.headerMenu.activeHamburguerOptions);


        //Return 
        return { 
            t, 

            //DATA's
            actionErrorMsg, errorMessage, actionErrorMsgPassword,errorMessagePassword,
            openOptionsRedirect, email, password, linksRedirected,

            // FUNCTION´S / METHOD´S:
            redirectFunction, redirectLinkForgotPassword, login, signUp,
            getValueOptionsRedirect, handleEmail, handlePassword,

            // COMPUTED:
            watchResponsePageAndReturnMsgTxtField, activeHamburguerOptions,
        }
    },

}
</script>

<style lang="scss" scoped>

    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        padding: 0px 15px;
    }

    .bg-img {
        background-image: linear-gradient(0deg, rgba(1, 3, 8, 0.4) 0%, rgba(1, 3, 8, 0) 100%), url("../../assets/login_bg_3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: flex;
        align-items: center;
        min-height: calc(100vh - 161px);

        .content {
            .box-content-btn {
                margin-top: 37px;
                margin-bottom: 16px;
            }
        }
    }

    @media only screen and (max-width: 550px) {
        .bg-img {
            background: none;

            .content {
                display: flex;
                justify-content: center;
            }
        }
    }
</style>