<template>
    <div>
        <h2>Contato</h2>
    </div>
</template>

<script lang="ts">
export default {

}
</script>

<style lang="scss" scoped>
    div:nth-child(1) {
        height: 100%;
    }
</style>