<template>
    <side-nav-bar :user="user" >
        
        <div class="container">

            <div class="box-content">
                
                <div class="initial-title">
                    <Typographie v-text="'Conta'" elementHtmlText="h1" :customStyle="initTitleStyleBold" />

                    <Button roundedBall text="?" typeColor="secondary" />
                </div>

                <div class="wrapper-questions">
                    <TextFormField
                        fieldMaxWidthNormal
                        type="number"
                        label="Seu ID"
                        :value="profile.id"
                        @onInput="handleIdUser" />

                    <TextFormField
                        fieldMaxWidthNormal
                        type="text"
                        label="* Nome completo"
                        :errorMessage="msgsError.name.errorMessageName"
                        :error="msgsError.name.actionErrorMsgName"
                        :value="profile.name"
                        @onInput="handleNameUser" />

                    <TextFormField
                        fieldMaxWidthNormal
                        type="text"
                        label="* E-mail"
                        :errorMessage="msgsError.email.errorMessageEmail"
                        :error="msgsError.email.actionErrorMsgEmail"
                        :value="profile.email"
                        @onInput="handleEmail" />

                    <div class="field-telephone">
                        <TextFormField
                            fieldMaxWidthNormal
                            withMask="+###"
                            type="tel"
                            :label="'* '+t('titleLabels.idd', {company: 'Lokalise'})"
                            :value="profile.phone.idd"
                            :errorMessage="msgsError.phone.errorMessageTelIdd"
                            :error="msgsError.phone.actionErrorMsgTelIdd"
                            @onInput="handleIdd" />
                        
                        <TextFormField
                            fieldMaxWidthNormal
                            withMask="(##) #####-####"
                            type="tel"
                            :label="'* '+t('titleLabels.phone', {company: 'Lokalise'})"
                            :value="profile.phone.phone"
                            :errorMessage="msgsError.phone.errorMessageTelPhone"
                            :error="msgsError.phone.actionErrorMsgTelPhone"
                            @onInput="handleTel" />
                        
                        <TextFormField
                            fieldMaxWidthNormal
                            withMask="####"
                            type="tel"
                            :value="profile.phone.branch"
                            :label="t('titleLabels.branchPhone', {company: 'Lokalise'})"
                            @onInput="handleBranch" />
                    </div>

                    <TextFormField
                        fieldMaxWidthNormal
                        withMask="#####-#######"
                        type="text" :withCheckSearch="!msgsError.cep.actionErrorMsgCep && msgsError.cep.errorMessageCep == ''"
                        label="* CEP"
                        :value="profile.cep"
                        :errorMessage="msgsError.cep.errorMessageCep"
                        :error="msgsError.cep.actionErrorMsgCep"
                        @onInput="handleCep"
                        @onSearchIcon="handleClickIconSearchCEP" />

                    <TextFormField
                        fieldMaxWidthNormal 
                        type="text"
                        :maxLengthInput="85"
                        :label="'* '+t('titleLabels.address', {company: 'Lokalise'})"
                        :value="profile.address"
                        :errorMessage="msgsError.address.errorMessageAddress"
                        :error="msgsError.address.actionErrorMsgAddress"
                        @onInput="handleAddress" />
                    
                    <TextFormField
                        fieldMaxWidthNormal 
                        :maxLengthInput="6"
                        type="text"
                        :label="'* '+t('titleLabels.numberAddress', {company: 'Lokalise'})"
                        :value="profile.numberAddress"
                        :errorMessage="msgsError.numberAddress.errorMessageNumberAddress"
                        :error="msgsError.numberAddress.actionErrorMsgNumberAddress"
                        @onInput="handleNumberAddress" />

                    <TextFormField
                        fieldMaxWidthNormal
                        type="text"
                        :maxLengthInput="20"
                        :label="'* '+t('titleLabels.districtAddress', {company: 'Lokalise'})"
                        :value="profile.district"
                        :errorMessage="msgsError.district.errorMessageDistrict"
                        :error="msgsError.district.actionErrorMsgDistrict"
                        @onInput="handleDistrict" />
                    
                    <TextFormField
                        fieldMaxWidthNormal
                        type="text"
                        :maxLengthInput="15"
                        :label="t('titleLabels.complementAddress', {company: 'Lokalise'})"
                        :value="profile.complement"
                        @onInput="handleComplement" />

                    <TextFormField
                        fieldMaxWidthNormal
                        type="text"
                        :label="'* '+t('titleLabels.stateAddress', {company: 'Lokalise'})"
                        :value="profile.state"
                        :errorMessage="msgsError.state.errorMessageState"
                        :error="msgsError.state.actionErrorMsgState"
                        @onInput="handleState" />

                    <TextFormField
                        fieldMaxWidthNormal
                        type="text"
                        :label="'* '+t('titleLabels.cityAddress', {company: 'Lokalise'})"
                        :value="profile.city"
                        :errorMessage="msgsError.city.errorMessageCity"
                        :error="msgsError.city.actionErrorMsgCity"
                        @onInput="handleCity" />

                    <TextFormField
                        fieldMaxWidthNormal
                        type="text"
                        :label="'* '+t('titleLabels.countryAddress', {company: 'Lokalise'})"
                        :value="profile.country"
                        :errorMessage="msgsError.country.errorMessageCountry"
                        :error="msgsError.country.actionErrorMsgCountry"
                        @onInput="handleCountry" />

                    <TextFormField 
                        :key="profile.typeAccount.value"
                        fieldMaxWidthNormal
                        type="select"
                        :label="'* '+t('titleLabels.accountType', {company: 'Lokalise'})"
                        :item="profile.typeAccount"
                        :items="valuesOptionsRadioPfOrPj"
                        :errorMessage="msgsError.typeAccount.errorMessageTypeAccount"
                        :error="msgsError.typeAccount.actionErrorMsgTypeAccount"
                        :messageNotification="profile.typeAccount.value ? '' : t('titleLabels.selectTypeAccount', {company: 'Lokalise'}) "
                        @selectedValue="handleSelectValueRadioPfOrPj" />
                    
                    <TextFormField
                        :key="profile.codTypeAccount.value"
                        fieldMaxWidthNormal
                        type="select"
                        :label="'* '+t('titleLabels.accountCode', {company: 'Lokalise'})"
                        :item="profile.codTypeAccount"
                        :items="valuesCodTypeAccount"
                        :errorMessage="msgsError.codTypeAccount.errorMessageCodTypeAccount"
                        :error="msgsError.codTypeAccount.actionErrorMsgCodTypeAccount"
                        @selectedValue="handleCodTypeAccount" />
                    
                    <TextFormField
                        :key="profile.associatedUserCode.value"
                        fieldMaxWidthNormal
                        type="select"
                        :label="'* '+t('titleLabels.associatedUserCode', {company: 'Lokalise'})"
                        :item="profile.associatedUserCode"
                        :items="valuesAssociatedUserCode"
                        :errorMessage="msgsError.associatedUserCode.errorMessageAssociatedUserCode"
                        :error="msgsError.associatedUserCode.actionErrorMsgAssociatedUserCode"
                        @selectedValue="handleAssociatedUserCode" />

                    <TextFormField
                        v-if="countryIsBrazil && !msgsError.typeAccount.actionErrorMsgTypeAccount"
                        :withMask="countryIsBrazil && profile.typeAccount.value == 'PF' ?
                        '###.###.###-##' : '##.###.###/####-##'"
                        fieldMaxWidthNormal
                        type="text"
                        :label="
                            profile.typeAccount.value == 'PF' ?
                            '* '+t('titleLabels.numberOfCPF', {company: 'Lokalise'}) :
                            '* '+t('titleLabels.numberOfCNPJ', {company: 'Lokalise'})
                        "
                        :value="profile.typeAccount.value == 'PF' ? profile.cpf : profile.cnpj"
                        :errorMessage="profile.typeAccount.value == 'PF' ? msgsError.cpf.errorMessageCpf : msgsError.cnpj.errorMessageCnpj"
                        :error="profile.typeAccount.value == 'PF' ? msgsError.cpf.actionErrorMsgCpf : msgsError.cnpj.actionErrorMsgCnpj"
                        :filterMethod="profile.typeAccount.value == 'PF' ? handleCpf : handleCnpj" />

                    <TextFormField
                        v-if="countryIsBrazil && profile.typeAccount.value == 'PF'"
                        fieldMaxWidthNormal
                        withMask="##.###.###-#"
                        type="text"
                        :label="'* '+t('titleLabels.numberOfRG', {company: 'Lokalise'})"
                        :value="profile.rg"
                        :errorMessage="msgsError.rg.errorMessageRg"
                        :error="msgsError.rg.actionErrorMsgRg"
                        @onInput="handleRg" />
                </div>

                <div class="wrapper-btns">
                    <Button text="Voltar" typeColor="secondary" @onClick="backPage"/>
                    <Button text="Alterar" />
                </div>

            </div>

        </div>

    </side-nav-bar>

</template>

<script lang="ts">
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';

// COMPONENT´S:
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue';

import Typographie from '@/components/typographies/Typographie.vue';
import Button from '@/components/button/Button.vue';
import TextFormField from '@/components/text_form_field/TextFormField.vue';

/* eslint-disable */
export default {
    name: 'Profile',

	components: {
        // COMPONENT´S:
        SideNavBar, Typographie, Button,
        TextFormField,
    },

    setup() {
        // VUE-I18N
        const { t } = useI18n();

        // VUEROUTER
        const router = useRouter();

        // DATA´S:
        const user = ref({
            name: 'Rafael',
            last_name: 'Weldo Lopes',
            city: 'São Paulo',
            address: 'Rua Rodrigo Lobato',
            address_number: '15'
        });

        let msgsError = ref({
            name: {
                errorMessageName: '',
                actionErrorMsgName: false,
            },
            email: {
                errorMessageEmail: '',
                actionErrorMsgEmail: false,
            },
            phone: {
                idd: {
                    errorMessageIdd: '',
                    actionErrorMsgIdd: false,
                },
                tel: {
                    errorMessageTel: '',
                    actionErrorMsgTel: false,
                },
                branch: {
                    errorMessageBranch: '',
                    actionErrorMsgBranch: false,
                }
            },
            cep: {
                errorMessageCep: '',
                actionErrorMsgCep: false,
            },

            address: {
                errorMessageAddress: '',
                actionErrorMsgAddress: false,
            },
            numberAddress: {
                errorMessageNumberAddress: '',
                actionErrorMsgNumberAddress: false,
            },
            district: {
                errorMessageDistrict: '',
                actionErrorMsgDistrict: false,
            },
            state: {
                errorMessageState: '',
                actionErrorMsgState: false,
            },
            city: {
                errorMessageCity: '',
                actionErrorMsgCity: false,
            },
            country: {
                errorMessageCountry: '',
                actionErrorMsgCountry: false,
            },

            typeAccount: {
                errorMessageTypeAccount: '',
                actionErrorMsgTypeAccount: false,
            },
            codTypeAccount: {
                errorMessageCodTypeAccount: '',
                actionErrorMsgCodTypeAccount: false,
            },
            associatedUserCode: {
                errorMessageAssociatedUserCode: '',
                actionErrorMsgAssociatedUserCode: false,
            },

            cpf: {
                errorMessageCpf: '',
                actionErrorMsgCpf: false,
            },
            rg: {
                errorMessageRg: '',
                actionErrorMsgRg: false,
            },
            cnpj: {
                errorMessageCnpj: '',
                actionErrorMsgCnpj: false,
            },
        });

        let profile = ref({
            id: 19,
            name: 'Rafael Wendo Lopes Delgaes',
            email: 'rafael.weldo@gmail.com',
            phone: {
                idd: '55',
                tel: '11 94707-5286',
                branch: '',
            },
            cep: '05030-130',
            address: 'Rua Rodrigo Lobato',
            numberAddress: '15',
            district: 'São José de Anchieta',
            city: 'São Paulo',
            state: 'SP',
            country: 'Brasil',
            complement: 'SP',

            typeAccount: {
                label: 'PF',
                value: 'PF',
                disabled: false,
            },

            codTypeAccount: {
                value: 3,
                label: '3',
                disabled: false
            },
            associatedUserCode: {
                value: 1,
                label: '1',
                disabled: false
            },
            rg: '12.894.948-2',
            cpf: '050.923.621-22',
            cnpj: '',
        });

        let valuesCodTypeAccount = ref([
            { value: 1, label: '1', disabled: false },
            { value: 2, label: '2', disabled: false },
            { value: 3, label: '3', disabled: false },
            { value: 4, label: '4', disabled: false },
            { value: 5, label: '5', disabled: false },
            { value: 6, label: '6', disabled: false },
        ]);

        let valuesAssociatedUserCode = ref([{ value: 1, label: '1', disabled: false }]);

        let valuesOptionsRadioPfOrPj = ref([
            {
                label: 'PF',
                value: 'PF',
                disabled: false,
            },
            {
                label: 'PJ',
                value: 'PJ',
                disabled: false,
            },
        ]);


        // COMPUTED´S:
        const initTitleStyleBold = computed(() => {
            return {
                marginBottom: '16px',
            }
        });
        const countryIsBrazil = computed(() => {
            let res = true;

            if (
                profile.value.country == 'Brazil' ||
                profile.value.country == 'brazil' ||
                profile.value.country == 'Brasil' ||
                profile.value.country == 'brasil' ||
                profile.value.country == 'BR' ||
                profile.value.country == 'br'
            ) {
                res = true;
            } else {
                res = false;
            }

            return res;
        });


        // FUNCTIONS/METHODS:
        function backPage() {
            router.push({ path: '/' });
        }

        // OF THE FIELDS:
        function handleIdUser(value: string) {
            profile.value.id = Number(value);
        };
        function handleNameUser(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.name.actionErrorMsgName = false;
                msgsError.value.name.errorMessageName = '';
            } else {
                msgsError.value.name.actionErrorMsgName = true;
                msgsError.value.name.errorMessageName = t('messageNotification.notAllowedEmptyField', {company: 'Lokalise'});
            }
            
            profile.value.name = value;
        };
        function handleEmail(value: string) {
            let regexValidation = /^[\w+.]+@\w+\.\w{2,}(?:\.\w{2})?$/;

            if (value == '') {
                msgsError.value.email.actionErrorMsgEmail = true;
                msgsError.value.email.errorMessageEmail = t('messageNotification.fieldIsEmpty', {company: 'Lokalise'});
            } else if(!regexValidation.test(value)) {
                msgsError.value.email.actionErrorMsgEmail = true;
                msgsError.value.email.errorMessageEmail = t('messageNotification.defaultMsgErrorEmail', {company: 'Lokalise'});
            } else {
                msgsError.value.email.actionErrorMsgEmail = false;
                msgsError.value.email.errorMessageEmail = "";
            }

            profile.value.email = value;
        };

        // IDD (International Prefix):
        function handleIdd(value: string) {
            if ((value != null || value != '') && value.length > 0) {
                msgsError.value.phone.idd.actionErrorMsgIdd = false;
                msgsError.value.phone.idd.errorMessageIdd = '';
            } else {
                msgsError.value.phone.idd.actionErrorMsgIdd = false;
                msgsError.value.phone.idd.errorMessageIdd = t('messageNotification.insertValidIdd', {company: 'Lokalise'});
            }

            profile.value.phone.idd = value;
        };
        function handleTel(value: string) {
            if ((value != null || value != '') && value.length >= 10) {
                msgsError.value.phone.tel.actionErrorMsgTel = false;
                msgsError.value.phone.tel.errorMessageTel = '';
            } else {
                msgsError.value.phone.branch.actionErrorMsgBranch = true;
                msgsError.value.phone.branch.errorMessageBranch = t('messageNotification.insertValidPhone', {company: 'Lokalise'});
            }

            profile.value.phone.tel = value;
        };
        function handleBranch(value: string) {
            profile.value.phone.branch = value;
        };

        function handleCep(value: string) {
            if (value.length >= 9) {
                msgsError.value.cep.actionErrorMsgCep = false;
                msgsError.value.cep.errorMessageCep = '';
            } else {
                msgsError.value.cep.actionErrorMsgCep = true;
                msgsError.value.cep.errorMessageCep = t('messageNotification.correctCep', {company: 'Lokalise'});
            }

            profile.value.cep = value;
        };
        function handleClickIconSearchCEP() {
            console.log('Clicou em pesquisar CEP')
        };

        function handleAddress(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.address.actionErrorMsgAddress = false;
                msgsError.value.address.errorMessageAddress = '';
            } else {
                msgsError.value.address.actionErrorMsgAddress = true;
                msgsError.value.address.errorMessageAddress = t('messageNotification.fillTheField', {company: 'Lokalise'});
            }

            profile.value.address = value;
        };
        function handleNumberAddress(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/) && value.match(/^\d+$/)) {
                msgsError.value.numberAddress.actionErrorMsgNumberAddress = false;
                msgsError.value.numberAddress.errorMessageNumberAddress = '';
            } else {
                msgsError.value.numberAddress.actionErrorMsgNumberAddress = true;
                msgsError.value.numberAddress.errorMessageNumberAddress = t('messageNotification.justNumber', {company: 'Lokalise'});
            }

            profile.value.numberAddress = value;
        };
        function handleDistrict(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.district.actionErrorMsgDistrict = false;
                msgsError.value.district.errorMessageDistrict = '';
            } else {
                msgsError.value.district.actionErrorMsgDistrict = true;
                msgsError.value.district.errorMessageDistrict = t('messageNotification.fillTheField', {company: 'Lokalise'});
            }

            profile.value.district = value;
        };
        function handleComplement(value: string) {
            profile.value.complement = value;
        };
        function handleState(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.state.actionErrorMsgState = false;
                msgsError.value.state.errorMessageState = '';
            } else {
                msgsError.value.state.actionErrorMsgState = true;
                msgsError.value.state.errorMessageState = t('messageNotification.informTheState', {company: 'Lokalise'});
            }

            profile.value.state = value;
        };
        function handleCity(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.city.actionErrorMsgCity = false;
                msgsError.value.city.errorMessageCity = '';
            } else {
                msgsError.value.city.actionErrorMsgCity = true;
                msgsError.value.city.errorMessageCity = t('messageNotification.informTheCity', {company: 'Lokalise'});
            }

            profile.value.city = value;
        };
        function handleCountry(value: string) {
            if(value.length > 0 && !value.match(/^(\s)+$/)) {
                msgsError.value.country.actionErrorMsgCountry = false;
                msgsError.value.country.errorMessageCountry = '';
            } else {
                msgsError.value.country.actionErrorMsgCountry = true;
                msgsError.value.country.errorMessageCountry = t('messageNotification.informTheCountry', {company: 'Lokalise'});
            }

            profile.value.country = value;
        };

        function handleSelectValueRadioPfOrPj(value: any) {
            if (value.value != null || value.value != '') {
                profile.value.typeAccount = value;
                msgsError.value.typeAccount.actionErrorMsgTypeAccount = false;
                msgsError.value.typeAccount.errorMessageTypeAccount = '';

                if (profile.value.typeAccount.value == 'PF') {
                    profile.value.cnpj = '';

                    msgsError.value.cnpj.actionErrorMsgCnpj = false;
                    msgsError.value.cnpj.errorMessageCnpj = '';

                    profile.value.cpf = '';

                    msgsError.value.cpf.actionErrorMsgCpf = true;
                    msgsError.value.cpf.errorMessageCpf = '';

                    profile.value.rg = '';

                    msgsError.value.rg.actionErrorMsgRg = true;
                    msgsError.value.rg.errorMessageRg = '';
                } else {
                    profile.value.cnpj = '';

                    msgsError.value.cnpj.actionErrorMsgCnpj = true;
                    msgsError.value.cnpj.errorMessageCnpj = '';

                    profile.value.cpf = '';

                    msgsError.value.cpf.actionErrorMsgCpf = false;
                    msgsError.value.cpf.errorMessageCpf = '';

                    profile.value.rg = '';

                    msgsError.value.rg.actionErrorMsgRg = false;
                    msgsError.value.rg.errorMessageRg = '';
                }
            }
        };
        function handleCodTypeAccount(value: any) {
            if (value != {}) {
                msgsError.value.codTypeAccount.actionErrorMsgCodTypeAccount = false;
                msgsError.value.codTypeAccount.errorMessageCodTypeAccount = '';
            } else {
                msgsError.value.codTypeAccount.actionErrorMsgCodTypeAccount = true;
                msgsError.value.codTypeAccount.errorMessageCodTypeAccount = t('messageNotification.selectCodAccount', {company: 'Lokalise'});
            }
            profile.value.codTypeAccount = value; 
        };
        function handleAssociatedUserCode(value: any) {
            if (value != {}) {
                msgsError.value.associatedUserCode.actionErrorMsgAssociatedUserCode = false;
                msgsError.value.associatedUserCode.errorMessageAssociatedUserCode = '';
            } else {
                msgsError.value.associatedUserCode.actionErrorMsgAssociatedUserCode = true;
                msgsError.value.associatedUserCode.errorMessageAssociatedUserCode = t('messageNotification.selectAssociatedCod', {company: 'Lokalise'});
            }
            profile.value.associatedUserCode = value; 
        };

        function handleRg(value: string) {

            msgsError.value.rg.actionErrorMsgRg = true;
            msgsError.value.rg.errorMessageRg = t('messageNotification.rgInvalid', {company: 'Lokalise'});

            if (value.length == 12) {
                msgsError.value.rg.actionErrorMsgRg = false;
                msgsError.value.rg.errorMessageRg = '';
            }

            profile.value.rg = value;
        };
        function handleCpf(value: string) {
            msgsError.value.cpf.actionErrorMsgCpf = true;
            msgsError.value.cpf.errorMessageCpf = t('messageNotification.cpfInvalid', {company: 'Lokalise'});

            if (value.length == 14) {
                msgsError.value.cpf.actionErrorMsgCpf = false;
                msgsError.value.cpf.errorMessageCpf = '';
            }

            profile.value.cpf = value;
        };
        function handleCnpj(value: string) {
            msgsError.value.cnpj.actionErrorMsgCnpj = true;
            msgsError.value.cnpj.errorMessageCnpj = t('messageNotification.cnpjInvalid', {company: 'Lokalise'});

            if (value.length == 18) {
                msgsError.value.cnpj.actionErrorMsgCnpj = false;
                msgsError.value.cnpj.errorMessageCnpj = '';
            }

            profile.value.cnpj = value;
        };


        return {
            t,
            // DATA´S:
            user, msgsError, profile,
            valuesCodTypeAccount, valuesAssociatedUserCode, valuesOptionsRadioPfOrPj,

            // COMPUTED´S:
            initTitleStyleBold, countryIsBrazil,

            // FUNCTION´S:
            backPage,
            // of the fields:
            handleIdUser,
            handleNameUser, handleEmail,
            handleIdd, handleTel, handleBranch,
            handleCep, handleClickIconSearchCEP,
            handleAddress, handleNumberAddress, handleDistrict, handleComplement, handleState, handleCity, handleCountry,
            handleSelectValueRadioPfOrPj, handleCodTypeAccount, handleAssociatedUserCode,
            handleRg, handleCpf, handleCnpj,
        };
    },
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container {
    background: #F2F2F2;

    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.box-content {
    width: 100%;

    display: flex;
    flex-direction: column;

    .initial-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wrapper-questions {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        column-gap: 30px;

        .field-telephone {
            width: 100%;
            display: grid;
            grid-template: auto 60% auto / auto 60% auto;
            grid-template-rows: auto;
            column-gap: 5px;
        }
    }

    .wrapper-btns {
        width: 100%;
        display: flex;
        margin-top: 32px;
        column-gap: 30px;
    }
}

@media only screen and (max-width: 430px) {
    .box-content {
        .wrapper-questions {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

            .field-telephone {
                grid-template: auto 40% auto / auto 40% auto;
            }
        }
    }
}

</style>