<template>
    <side-nav-bar :user="user" withFooter footerWithLink>
        
        <div class="container">

            <div class="wrapper-content-heigth">
                <div class="box-content">
                
                    <div class="box-initial-title">
                        <span>
                            <Typographie elementHtmlText="h1" :customStyle="initTitleStyleBold">
                                <template #slot>
                                    <span>Resumo <span :style="subTitleContentStyle">da conta</span></span>
                                </template>
                            </Typographie>

                            <Typographie elementHtmlText="p"
                                v-text="'Bem vindo! Aqui é possível fazer cotações, envios e ver um resumo das atividades como: cotações de moeda, principais destinos e seus últimos pedidos.'" />
                        </span>
                        
                        <div class="btn-help">
                            <Button roundedBall text="?" typeColor="secondary" />
                        </div>
                    </div>
                    

                    <div class="box-question-cotacao">
                        <Typographie v-text="'Deseja fazer uma cotação ou envio?'" elementHtmlText="p" />

                        <span>
                            <Button text="Cotação" typeColor="secondary"/>
                            <Button text="Envio" />
                        </span>
                    </div>


                    <!-- # COTACAO DE MOEDAS # -->
                    <Typographie elementHtmlText="h2" :customStyle="subTitleStyle">
                        <template #slot>
                            <span>Cotação <span :style="subTitleContentStyle">de moedas</span></span>
                        </template>
                    </Typographie>

                    <div class="box-card-values__cotacao">
                        <Card typeColor="primary">
                            <div class="wrapper-content-card">
                                <svg class="icon-currency" width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.68488 7.79684C6.02602 7.43273 5.32556 7.15532 4.63202 6.86751C4.22978 6.70106 3.84487 6.50687 3.50504 6.23639C2.83578 5.70237 2.96408 4.83546 3.74777 4.49216C3.9697 4.39507 4.20204 4.36386 4.43784 4.34999C5.34636 4.30144 6.20981 4.46789 7.03164 4.8632C7.44082 5.06086 7.57606 4.99844 7.71477 4.57192C7.86041 4.12112 7.98178 3.66339 8.11702 3.20913C8.20718 2.90398 8.09621 2.70285 7.8084 2.57455C7.28131 2.34222 6.74036 2.17577 6.17166 2.08561C5.42959 1.97118 5.42959 1.96771 5.42612 1.22216C5.42265 0.171463 5.42265 0.171463 4.36848 0.171463C4.21591 0.171463 4.06333 0.167995 3.91075 0.171463C3.41835 0.185334 3.33512 0.272025 3.32125 0.7679C3.31432 0.98983 3.32125 1.21176 3.31778 1.43716C3.31432 2.09601 3.31085 2.08561 2.67973 2.31447C1.15397 2.8693 0.210765 3.9096 0.110203 5.57407C0.0200436 7.04782 0.789863 8.04304 2.00007 8.76778C2.74562 9.21511 3.57092 9.47865 4.36155 9.82888C4.67017 9.96412 4.96492 10.1202 5.22153 10.3352C5.98094 10.9628 5.84224 12.0066 4.94065 12.4019C4.45864 12.6134 3.9489 12.6654 3.42528 12.5995C2.61732 12.499 1.84403 12.2875 1.11582 11.9095C0.689301 11.6875 0.564465 11.7465 0.418824 12.2077C0.293988 12.6065 0.183023 13.0087 0.0720585 13.411C-0.0770507 13.9519 -0.0215686 14.0802 0.495112 14.3334C1.15397 14.6524 1.8579 14.8154 2.57571 14.9298C3.13747 15.02 3.1548 15.0442 3.16174 15.6268C3.16521 15.8903 3.16521 16.1574 3.16867 16.4209C3.17214 16.7538 3.33165 16.948 3.67495 16.9549C4.06333 16.9618 4.45517 16.9618 4.84355 16.9514C5.16258 16.9445 5.32556 16.7711 5.32556 16.4486C5.32556 16.088 5.34289 15.7239 5.32902 15.3633C5.31168 14.9957 5.4712 14.8084 5.8249 14.7113C6.6398 14.4894 7.33333 14.0525 7.86735 13.4006C9.3515 11.5974 8.78627 8.9585 6.68488 7.79684Z" fill="white"/>
                                </svg>

                                <div class="contents-card content-money">
                                    <span>R$5,50</span>
                                    <pre><strong>USD</strong></pre>
                                </div>

                                <div class="contents-card content-up-or-down">
                                    <svg width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.51172 10.5782C1.51172 10.5782 4.05257 5.86821 6.97174 7.48998C9.89092 9.11174 10.2693 10.5782 12.8641 9.60515C15.4589 8.63209 15.6213 0.408185 17.8918 2.02995C20.1623 3.65172 25.7666 6.89525 30.6319 2.02995" stroke="url(#paint0_linear)" stroke-width="1.82001" stroke-linecap="round" stroke-linejoin="round"/>
                                        <defs>
                                            <linearGradient id="paint0_linear" x1="19.9236" y1="-0.332413" x2="13.9772" y2="14.7857" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#FDFF9A"/>
                                            <stop offset="1" stop-color="white"/>
                                            </linearGradient>
                                        </defs>
                                    </svg>


                                    <span>
                                        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.28156 4.18146L2.45424 5.00878C2.14963 5.31339 1.65576 5.31339 1.35115 5.00878C1.04654 4.70417 1.04654 4.2103 1.35115 3.90569L2.17847 3.07837L0 0.899902H5.46003V6.35993L3.28156 4.18146Z" fill="white"/>
                                        </svg>
                                        <pre>+12,5%</pre>
                                    </span>
                                </div>
                            </div>
                        </Card>

                        <Card>
                            <div class="wrapper-content-card">
                                <svg class="icon-currency" width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.68488 7.79684C6.02602 7.43273 5.32556 7.15532 4.63202 6.86751C4.22978 6.70106 3.84487 6.50687 3.50504 6.23639C2.83578 5.70237 2.96408 4.83546 3.74777 4.49216C3.9697 4.39507 4.20204 4.36386 4.43784 4.34999C5.34636 4.30144 6.20981 4.46789 7.03164 4.8632C7.44082 5.06086 7.57606 4.99844 7.71477 4.57192C7.86041 4.12112 7.98178 3.66339 8.11702 3.20913C8.20718 2.90398 8.09621 2.70285 7.8084 2.57455C7.28131 2.34222 6.74036 2.17577 6.17166 2.08561C5.42959 1.97118 5.42959 1.96771 5.42612 1.22216C5.42265 0.171463 5.42265 0.171463 4.36848 0.171463C4.21591 0.171463 4.06333 0.167995 3.91075 0.171463C3.41835 0.185334 3.33512 0.272025 3.32125 0.7679C3.31432 0.98983 3.32125 1.21176 3.31778 1.43716C3.31432 2.09601 3.31085 2.08561 2.67973 2.31447C1.15397 2.8693 0.210765 3.9096 0.110203 5.57407C0.0200436 7.04782 0.789863 8.04304 2.00007 8.76778C2.74562 9.21511 3.57092 9.47865 4.36155 9.82888C4.67017 9.96412 4.96492 10.1202 5.22153 10.3352C5.98094 10.9628 5.84224 12.0066 4.94065 12.4019C4.45864 12.6134 3.9489 12.6654 3.42528 12.5995C2.61732 12.499 1.84403 12.2875 1.11582 11.9095C0.689301 11.6875 0.564465 11.7465 0.418824 12.2077C0.293988 12.6065 0.183023 13.0087 0.0720585 13.411C-0.0770507 13.9519 -0.0215686 14.0802 0.495112 14.3334C1.15397 14.6524 1.8579 14.8154 2.57571 14.9298C3.13747 15.02 3.1548 15.0442 3.16174 15.6268C3.16521 15.8903 3.16521 16.1574 3.16867 16.4209C3.17214 16.7538 3.33165 16.948 3.67495 16.9549C4.06333 16.9618 4.45517 16.9618 4.84355 16.9514C5.16258 16.9445 5.32556 16.7711 5.32556 16.4486C5.32556 16.088 5.34289 15.7239 5.32902 15.3633C5.31168 14.9957 5.4712 14.8084 5.8249 14.7113C6.6398 14.4894 7.33333 14.0525 7.86735 13.4006C9.3515 11.5974 8.78627 8.9585 6.68488 7.79684Z" fill="#757575"/>
                                </svg>

                                <div class="contents-card content-money">
                                    <span>R$8,50</span>
                                    <pre><strong>USD</strong></pre>
                                </div>

                                <div class="contents-card content-up-or-down">

                                    <!-- DEIXEI ASSIM POR ENQUANTO, POIS NÃO ESTAVA LENDO CORRETAMENTE O 'SVG' INCLUÍDO - DE FATO -->
                                    <img src="@/assets/icons/icon_line_graph_up_green.svg" >

                                    <span>
                                        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.28156 4.18146L2.45424 5.00878C2.14963 5.31339 1.65576 5.31339 1.35115 5.00878C1.04654 4.70417 1.04654 4.2103 1.35115 3.90569L2.17847 3.07837L0 0.899902H5.46003V6.35993L3.28156 4.18146Z" fill="#31D0AD"/>
                                        </svg>
                                        <pre class="--up-green">+12,5%</pre>
                                    </span>
                                </div>
                            </div>
                        </Card>

                        <Card>
                            <div class="wrapper-content-card">
                                <svg class="icon-currency" width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.9253 14.648C13.7416 14.1988 13.5544 13.7496 13.3502 13.3072C13.1699 12.9124 12.9385 12.7967 12.5063 12.8954C11.9584 13.0213 11.4207 13.1881 10.8728 13.3004C9.81444 13.5216 8.75269 13.542 7.70795 13.2119C6.39777 12.8001 5.70014 11.8507 5.27135 10.6256H8.82415C9.1032 10.6256 9.32781 10.401 9.32781 10.1219V9.00232C9.32781 8.72327 9.1032 8.49867 8.82415 8.49867H4.93104C4.93104 8.18559 4.92764 7.88612 4.93104 7.58665H8.82415C9.1032 7.58665 9.32781 7.36205 9.32781 7.08299V5.96338C9.32781 5.68433 9.1032 5.45973 8.82415 5.45973H5.42109C5.42109 5.44612 5.42109 5.43251 5.42789 5.4257C5.83626 4.49666 6.4318 3.75139 7.40848 3.36344C8.5451 2.91424 9.70555 2.92444 10.8762 3.16606C11.4309 3.27836 11.9754 3.44852 12.5301 3.57443C12.9351 3.66631 13.1699 3.54721 13.3434 3.16947C13.5442 2.73387 13.728 2.29147 13.9117 1.84567C14.0853 1.4271 13.9832 1.13103 13.5884 0.89962C13.4898 0.841768 13.3877 0.794125 13.2822 0.753288C11.6419 0.113512 9.95057 -0.124703 8.20479 0.154348C6.97629 0.351726 5.82945 0.773707 4.83916 1.5428C3.59024 2.50927 2.78031 3.78542 2.31068 5.28617L2.25283 5.45973H0.503654C0.224602 5.45973 0 5.68433 0 5.96338V7.08299C0 7.36205 0.224602 7.58665 0.503654 7.58665H1.8819C1.8819 7.89292 1.8819 8.18899 1.8819 8.49867H0.503654C0.224602 8.49867 0 8.72327 0 9.00232V10.1219C0 10.401 0.224602 10.6256 0.503654 10.6256H2.16435C2.29026 11.034 2.39576 11.4491 2.5557 11.8405C3.39626 13.8687 4.80513 15.3116 6.92524 15.999C8.67782 16.5673 10.444 16.5503 12.2102 16.0637C12.6696 15.9378 13.1256 15.7744 13.5612 15.5736C13.9832 15.3797 14.0921 15.053 13.9253 14.648Z" fill="#757575"/>
                                </svg>

                                <div class="contents-card content-money">
                                    <span>R$6,50</span>
                                    <pre><strong>EUR</strong></pre>
                                </div>

                                <div class="contents-card content-up-or-down">

                                    <!-- DEIXEI ASSIM POR ENQUANTO, POIS NÃO ESTAVA LENDO CORRETAMENTE O 'SVG' INCLUÍDO - DE FATO -->
                                    <img src="@/assets/icons/icon_line_graph_down_red.svg" >

                                    <span>
                                        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.17938 4.18146L1.35206 3.35414C1.04745 3.04953 1.04745 2.55566 1.35206 2.25105C1.65667 1.94644 2.15054 1.94644 2.45515 2.25105L3.28247 3.07837L5.46094 0.899902V6.35993H0.000911713L2.17938 4.18146Z" fill="#EB5757"/>
                                        </svg>

                                        <pre class="--down-red">-12,5%</pre>
                                    </span>
                                </div>
                            </div>
                        </Card>

                        <Card withClick @onClick="getValueCard">
                            <div class="wrapper-content-card element-center">
                                <span>+ Adicionar</span>
                            </div>
                        </Card>
                    </div>

                    
                    <!-- # PRINCIPAIS DESTINOS # -->
                    <Typographie elementHtmlText="h2" :customStyle="subTitleStyle">
                        <template #slot>
                            <span>Principais <span :style="subTitleContentStyle">destinos</span></span>
                        </template>
                    </Typographie>
                    
                    <div class="box-card-values__destino">

                        <Card v-for="(item, i) in 2" :key="i" noShadowStyle>
                            <div class="wrapper-content-card">
                                <div class="initial-content">
                                    <span>
                                        <span class="txt-destination">SAO</span>
                                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.76327 8.48112L2.20312 4.92098L5.76327 1.36084" stroke="#757575" stroke-width="2.37343"/>
                                            <path d="M9.32267 13.2282L12.8828 9.66805L9.32267 6.10791" stroke="#757575" stroke-width="2.37343"/>
                                        </svg>
                                        <span class="txt-destination">{{ i==0 ? 'NYC' : 'ORL' }}</span>
                                    </span>

                                    <span>
                                        <svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.28156 4.18146L2.45424 5.00878C2.14963 5.31339 1.65576 5.31339 1.35115 5.00878C1.04654 4.70417 1.04654 4.2103 1.35115 3.90569L2.17847 3.07837L0 0.899902H5.46003V6.35993L3.28156 4.18146Z" fill="#31D0AD"/>
                                        </svg>
                                        <pre class="--up-green">+5,23%</pre>
                                    </span>
                                </div>

                                <span class="number-shipments">7.356 envios</span>

                                <div class="img-graph">
                                    <img src="@/assets/icons/icon_line_graph_up_green_large.svg" >
                                </div>
                                
                            </div>
                        </Card>

                        <Card withClick @onClick="getValueCard">
                            <div class="wrapper-content-card element-center">
                                <span>+ Adicionar</span>
                            </div>
                        </Card>

                    </div>


                    <!-- # ENVIOS RECENTES # -->
                    <Typographie elementHtmlText="h2" :customStyle="subTitleStyle">
                        <template #slot>
                            <span>Envios <span :style="subTitleContentStyle">recentes</span></span>
                        </template>
                    </Typographie>
                    

                    <div class="box-card-value__envios">

                        <Card v-for="(item, i) in itemsHiddenEnvio" :key="i" typeColor="secondary">
                            <div class="content">

                                <div class="item-column">
                                    <MsgField message="Order ID" />
                                    <MsgField withBoldStyle message="21799266438" />
                                </div>

                                <div class="item-column radio-item">
                                    <MsgField message="Status" />
                                    <span class="radio-element">
                                        <Radio :options="[ { label: 'Impresso', value: 1, disabled: false } ]"
                                            :value="item.value"
                                            @onSelect="handleFunctionSelectRadioEnviosRecentes($event, i)"/>
                                    </span>
                                </div>

                                <div class="item-column">
                                    <MsgField message="Data" />
                                    <MsgField withBoldStyle message="25/05/21" />
                                </div>

                                <div class="item-column">
                                    <MsgField message="Destinatário" />
                                    <MsgField withBoldStyle message="Priscila Vaz" />
                                </div>

                                <div id="wrapperArrow" class="item-column wrapper-arrow-opening" @click="openCollapseCard($event)">
                                    <div class="arrow-opening">
                                        <div id="arrowOne" />
                                        <div id="arrowTwo" />
                                    </div>
                                </div>
                            </div>
                        </Card>

                        <span class="box-end-vermais">
                            <Typographie v-text="'Ver mais'" elementHtmlText="u" :customStyle="txtVerMaisStyle" />
                        </span>
                        
                    </div>
                    
                </div>
            </div>

        </div>
        
        <!-- FOOTER IS BEING RECEIVED BY THE SIDE-NAV-BAR COMPONENT -->
    </side-nav-bar>
    
</template>

<script lang="ts">
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';

// COMPONENT´S:
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue';

import Typographie from '@/components/typographies/Typographie.vue';
import MsgField from '@/components/msgField/MsgField.vue';

import Button from '@/components/button/Button.vue';
import Radio from '@/components/radio/Radio.vue';

import BoxContent from '@/components/box_content/BoxContent.vue';
import Card from '@/components/box_content/Card.vue';

/* eslint-disable */
export default {
    name: 'Resumo',

	components: {
        // COMPONENT´S:
        SideNavBar, Typographie,MsgField, Button,Radio, BoxContent,Card,
    },

    setup() {
        const { t } = useI18n();
        // DATA´S:
        const user = ref({
            name: 'Rafael',
            last_name: 'Weldo Lopes',
            city: 'São Paulo',
            address: 'Rua Rodrigo Lobato',
            address_number: '15'
        });
    
        const valuePrinted1 = ref({ label: null, value: null, disabled: false });
        const valuePrinted2 = ref({ label: null, value: null, disabled: false });
        const valuePrinted3 = ref({ label: null, value: null, disabled: false });
        const valuePrinted4 = ref({ label: null, value: null, disabled: false });

        const itemsHiddenEnvio = ref([
            { value: valuePrinted1 },
            { value: valuePrinted2 },
            { value: valuePrinted3 },
            { value: valuePrinted4 },
        ]);

        // COMPUTED´S:
        const initTitleStyleBold = computed(() => {
            return {
                fontWeight: 700,
                marginBottom: '16px',
            }
        });
        const subTitleStyle = computed(() => {
            return {
                fontWeight: 700,
                marginBottom: '37px',
            }
        });
        const subTitleContentStyle = computed(() => {
            return {
                fontWeight: 400,
            }
        });
        const txtVerMaisStyle = computed(() => {
            return {
                cursor: 'pointer',
                marginBottom: '20px',
            }
        });


        // FUNCTION´S:
        function getValueCard() {
            console.log('Clicou!');
        };

        function getValueSelectPrinted1(value: any) {
            valuePrinted1.value = value;
        }
        function getValueSelectPrinted2(value: any) {
            valuePrinted2.value = value;
        }
        function getValueSelectPrinted3(value: any) {
            valuePrinted3.value = value;
        }
        function getValueSelectPrinted4(value: any) {
            valuePrinted4.value = value;
        }

        function handleFunctionSelectRadioEnviosRecentes($event: any, index: number) {
            if (index == 0) {
                getValueSelectPrinted1($event);
            } else if (index == 1) {
                getValueSelectPrinted2($event);
            } else if (index == 2) {
                getValueSelectPrinted3($event);
            } else if (index == 3) {
                getValueSelectPrinted4($event);
            }
        }

        function openCollapseCard($event: any) {
            if ($event.target.id == "wrapperArrow") {
                $event.target.lastElementChild.classList.toggle("open-active");
            } else if ($event.target.className.indexOf("arrow-opening") > -1) {
                $event.target.classList.toggle("open-active");
            } else if ($event.target.id == "arrowOne" || $event.target.id == "arrowTwo") {
                $event.target.parentElement.classList.toggle("open-active");
            }
        }

        return {
            t,
            // DATA´S:
            user,
            valuePrinted1, valuePrinted2,
            valuePrinted3, valuePrinted4,
            itemsHiddenEnvio,

            // COMPUTED´S:
            initTitleStyleBold, subTitleStyle, subTitleContentStyle, txtVerMaisStyle,

            // FUNCTION´S:
            getValueCard,
            getValueSelectPrinted1, getValueSelectPrinted2,
            getValueSelectPrinted3, getValueSelectPrinted4,
            handleFunctionSelectRadioEnviosRecentes,
            openCollapseCard,
        };
    },
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container {
    background: #F2F2F2;

    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
.wrapper-content-heigth {
    height: calc(100% - 73px);
}

.box-content {
    width: 100%;

    display: flex;
    flex-direction: column;

    .box-initial-title {
        width: 100%;
        display: flex;

        .btn-help {
            margin-left: 80px;
        }
    }

    .title-content {
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        line-height: 30px;
        color: #000000;
    }

    .box-question-cotacao {
        max-width: 570px;
        margin-top: 32px;

        display: flex;
        flex-direction: column;

        span {
            margin: 43px 0px 32px;
            display: flex;
            column-gap: 30px;
        }
    }


    // COIN QUOTATION
    .box-card-values__cotacao {
        width: 100%;
        margin-bottom: 90px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: 1rem;
        font-family: 'Montserrat';

        .wrapper-content-card {
            position: relative;
            height: 65px;

            &.element-center {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .icon-currency {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .contents-card {
                position: absolute;
                right: 0;

                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .content-money {
                top: 0;
                width: 90px;
                pre {
                    opacity: 50%;
                }
            }

            .content-up-or-down {
                bottom: 0;
                width: 120px;
                span {
                    display: flex;

                    .--up-green {
                        color: #31D0AD;
                    }

                    .--down-red {
                        color: #EB5757;
                    }
                }
            }
            
        }
    }


    // MAIN DESTINATIONS:
    .box-card-values__destino {
        width: 100%;
        margin-bottom: 135px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
        font-family: 'Montserrat';

        .wrapper-content-card {
            position: relative;
            height: 155px;

            &.element-center {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .initial-content {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    display: flex;
                    align-items: center;

                    &:nth-child(1) {
                        column-gap: 15px;
                    }

                    &:nth-child(2) {
                        column-gap: 5px;
                    }

                    .txt-destination {
                        font-weight: 700;
                        font-size: 19.5px;
                        opacity: 40%;
                    }

                    .--up-green {
                        color: #31D0AD;
                    }

                    .--down-red {
                        color: #EB5757;
                    }
                    
                    
                }
            }

            .number-shipments {
                font-size: 16px;
                opacity: 70%;
                
                position: absolute;
                left: 0;
                top: 35%;
                transform: translateY(-50%);
            }

            .img-graph {
                position: absolute;
                bottom: 0;
            }
            
        }
    }


    // RECENT SENDS:
    .box-card-value__envios {
        max-width: 670px;

        row-gap: 32px;
        display: flex;
        flex-direction: column;
        
        .content {
            width: 100%;
            position: relative;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            justify-content: space-between;

            .item-column {
                display: flex;
                flex-direction: column;

                &.radio-item {
                    align-items: center;

                    .radio-element {
                        font-size: 14px;
                    }
                }

                &.wrapper-arrow-opening {
                    height: 30px;
                    width: 30px;
                    position: relative;
                    cursor: pointer;

                    .arrow-opening {
                        height: 15px;
                        width: 13px;
                        position: absolute;
                        display: block;
                        transition: transform 0.5s ease-out;
                        top: 10%;
                        transform: translateX(10px);

                        &.open-active {
                            transition: transform 0.5s ease-out;
                            transform: rotate(89deg);
                            top: 20%;
                            right: 10%;
                        }

                        div {
                            width: 100%;
                            height: 1.5px;
                            background-color: #757575;
                            position: absolute;
                            left: 0px;

                            &:nth-child(1) {
                                top: 40%;
                                transform: rotate(50deg);
                            }
                            &:nth-child(2) {
                                top: 100%;
                                transform: rotate(-50deg);
                            }
                        }

                    }
                }
                
            }
        }

        .box-end-vermais {
            width: 100%;
            justify-content: flex-end;
            display: flex;
        }
    }
}

@media only screen and (max-width: 840px) {

    .box-content {
        .box-initial-title {
            .btn-help {
                margin-left: 10px;
            }
        }
    }

    .box-card-value__envios {
        margin-bottom: 50px;
        .content {
            .item-column {
                &.radio-item {
                    align-items: flex-start;
                }

                .arrow-opening {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

</style>