<template>
    <div>
        <HeaderMenu :openOptionsRedirect="openOptionsRedirect" @resOpenOptionsRedirectHamburguer="getValueOptionsRedirect">
            <template #paths>
                <li v-for="(linkRedirect) in linksRedirected" :key="linkRedirect.srcOrpath">
                    <a :class="{ '--link-selected': $route.path == linkRedirect.srcOrpath }"
                        @click="redirectFunction(linkRedirect)">
                        {{ linkRedirect.label }}
                    </a>
                </li>
            </template>
        </HeaderMenu>

        <div class="bg-img">

            <div class="container">
                
                <div class="content">
                    <BoxContent>
                        
                        <Typographie elementHtmlText="h1"
                            v-text="t('message.recoverPassword', {company: 'Lokalise'})"/>

                        <TextFormField
                            label="E-mail"
                            type="email"
                            :errorMessage="errorMessageEmail"
                            :error="actionErrorMsgEmail"
                            :messageNotification="msgNotification"
                            :value="emailSend"
                            @onInput="handleEmailSend" />

                        <div class="box-content-btn">
                            <Button
                                @onClick="sendEmail"
                                :text="t('messageActions.send', {company: 'Lokalise'})"
                                :loading="false"
                                :disabled="false" />
                        </div>

                    </BoxContent>
                </div>

            </div>

        </div>

        <transition name="fade">
            <Footer v-show="!activeHamburguerOptions" :withLink="true"
                :titleLink="t('termsOfUse', {company: 'Lokalise'})"
                hrefLink="https://www.google.com/" />
        </transition>
    </div>
</template>

<script lang="ts">
/* eslint-disable */
import { ref, watch, computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';

import HeaderMenu from "@/components/header_menu/HeaderMenu.vue";
import BoxContent from "@/components/box_content/BoxContent.vue";
import Typographie from "@/components/typographies/Typographie.vue";
import TextFormField from "@/components/text_form_field/TextFormField.vue";
import Button from "@/components/button/Button.vue";
import Footer from "@/components/footer/Footer.vue";
import { AuthService } from '@/app/services/AuthService';
import { container } from 'tsyringe';

export default {
    name: 'ForgotPassword',

    components: {
        HeaderMenu,
        BoxContent,
        Typographie,
        TextFormField,
        Button,
        Footer,
    },

    setup() {
        
        const { t } = useI18n();

        let openOptionsRedirect = ref(false);
        let msgNotification = ref(t('messageNotification.receivePassword', {company: 'Lokalise'}));
        let emailSend = ref('');
        let errorMessageEmail = ref('');
        let actionErrorMsgEmail = ref(true);
        let linksRedirected = ref([
            {
                label: t('messageLinksRedirect.init', {company: 'Lokalise'}),
                srcOrpath: '/init',
            },
            {
                label: t('messageLinksRedirect.doubts', {company: 'Lokalise'}),
                srcOrpath: '/doubts',
            },
            {
                label: t('messageLinksRedirect.login', {company: 'Lokalise'}),
                srcOrpath: '/login',
            },
            {
                label: t('messageLinksRedirect.contact', {company: 'Lokalise'}),
                srcOrpath: '/contact',
            },
        ]);


        // STORE (VUEX):
        const store = useStore();

        // ROUTER (VUE-ROUTER):
        const router = useRouter();
        
        //Functions
        function getValueOptionsRedirect(value: any) {
            openOptionsRedirect.value = value;
        };

        function redirectFunction(linkRedirect: any) {
            // Is path:
            if (linkRedirect.srcOrpath[0] === '/') {
                router.push({ path: linkRedirect.srcOrpath }).catch(() => {});
            } 
            // Is URL Ancora:
            else {
                window.location.href = linkRedirect.srcOrpath;
            }

            openOptionsRedirect.value = false;
            store.commit("headerMenu/setActiveHamburguerOptions", false);
        };

        function handleEmailSend(value: any) {
            const regexValidation = /^[\w+.]+@\w+\.\w{2,}(?:\.\w{2})?$/;

            emailSend.value = value;

            if (value == '') {
                actionErrorMsgEmail.value = true;
                errorMessageEmail.value = t('messageNotification.fieldIsEmpty', {company: 'Lokalise'});
            } else if(!regexValidation.test(value)) {
                actionErrorMsgEmail.value = true;
                errorMessageEmail.value = t('messageNotification.defaultMsgErrorEmail', {company: 'Lokalise'});
            } else {
                actionErrorMsgEmail.value = false;
                errorMessageEmail.value = "";
            }
        };


        async function sendEmail(){
            try {
                const authService: AuthService = container.resolve(AuthService);
                const response = await authService.recover(emailSend.value);

                if(response) {
                    window.alert(response.data.message);
                }
                // ..
            } catch (error) {
                console.log(error);
            }
        };


        // WATCH´S:
        watch(() => openOptionsRedirect, (newV: any) => {
            if (newV === true) store.commit("headerMenu/setActiveHamburguerOptions", true);
            else store.commit("headerMenu/setActiveHamburguerOptions", false);
        });

        // COMPUTED´S:
        const activeHamburguerOptions = computed(() => store.state.headerMenu.activeHamburguerOptions);

        //Return 
        return {
            t,

            //DATA's
            openOptionsRedirect, emailSend, errorMessageEmail, actionErrorMsgEmail, linksRedirected, msgNotification,

            // FUNCTION´S / METHOD´S:
            redirectFunction, handleEmailSend, sendEmail, getValueOptionsRedirect, activeHamburguerOptions,
        }
    },

}
</script>

<style lang="scss" scoped>

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px;
    position: relative;
}

.bg-img {
    background-image: linear-gradient(0deg, rgba(1, 3, 8, 0.4) 0%, rgba(1, 3, 8, 0) 100%), url("../../assets/login_bg_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    min-height: calc(100vh - 161px);

    .content {
        .box-content-btn {
            margin-top: 37px;
            margin-bottom: 16px;
        }
    }
}

// FADE TRANSITION OF FOOTER:
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media only screen and (max-width: 550px) {
    .bg-img {
        background: none;

        .content {
            display: flex;
            justify-content: center;
        }
    }
}
</style>