<template>

    <div id="dropdown" :class="{ '--select-max-width-normal': selectMaxWidthNormal }"
        @mouseleave="toggleSelect" @click.stop="onClickMethod">
        <div id="dropdown-select">
            <span id="select-label" class="select" @click.stop="onClickMethod">{{ labelOrPlaceholderSelect }}</span>
            <svg id="svg-icon" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.58839 4.51715e-07L0.621093 0.870535L8.51744 8L16.4138 0.870535L15.4465 9.17941e-08L8.51744 6.28571L1.58839 4.51715e-07Z" fill="#FBBE2F"/>
            </svg>
        </div>

        <div id="dropdown-list__element_select">
            <div v-for="(itemMoment, index) in items" :key="index"
                class="dropdown-list__item"
                :class="{ '--selected': itemMoment == item ,'--first': index == 0, '--last': index == items.length - 1 }"
                @click="selecionouMethod(itemMoment, $event)">{{ itemMoment.label }}</div>
        </div>
    </div>

</template>

<script lang="ts">
import { ref, computed } from 'vue';

export default {
    name: 'Select',

    props: {
        selectMaxWidthNormal: { type: Boolean },

        placeholder: {
            type: String,
            required: false,
        },

        // [ { value: [Any], label: [String], disabled: [Boolean] } ]
        items: {
            type: Array,
            required: true,
        },

        item: {
            type: Object,
            required: true,
        },
    },

    emits: ['selectedValue'],

    setup(props: any, { emit }: any) {
        
        // DATA´S:
        const open = ref(false);
        const realElementSelect = ref();


        // COMPUTED´S:
        const labelOrPlaceholderSelect = computed(() => {
            let res = '';

            if (props.item.value && props.item.label) {
                res = props.item.label;
            } else if (props.placeholder) {
                res = props.placeholder;
            } else {
                res = (navigator.language == "pt-BR" || navigator.language == "pt") ? 'Selecionar' : 'Select';
            }

            return res;
        });


        // FUNCTION´S / METHOD´S:
        function toggleSelect() {
            if (realElementSelect.value != null) {
                const el = realElementSelect.value;
                open.value = false;

                if (el.target.id === "select-label") {
                    closeOptionsSelect(el.target.parentElement.nextElementSibling);
                }

                if (el.target.id === "dropdown") {
                    closeOptionsSelect(el.target.lastElementChild);
                }

                if (el.target.id === "dropdown-select") {
                    closeOptionsSelect(el.target.nextElementSibling);
                }

                if (el.target.id === "svg-icon") {
                    closeOptionsSelect(el.target.parentElement.nextElementSibling)
                }
            }
        }

        function selecionouMethod(value: any, event: any) {
            closeOptionsSelect(event.target.parentElement);
            open.value = false;

            emit('selectedValue', value);
        };

        function onClickMethod($event: any) {
            
            open.value = !open.value;
            realElementSelect.value = $event;

            if (open.value) {
                if ($event.target.id === "select-label") {
                    openOptionsSelect($event.target.parentElement.nextElementSibling);
                }

                if ($event.target.id === "dropdown") {
                    openOptionsSelect($event.target.lastElementChild);
                }

                if ($event.target.id === "dropdown-select") {
                    openOptionsSelect($event.target.nextElementSibling);
                }

                if ($event.target.id === "svg-icon") {
                    openOptionsSelect($event.target.parentElement.nextElementSibling)
                }
            } else {
                if ($event.target.id === "select-label") {
                    closeOptionsSelect($event.target.parentElement.nextElementSibling);
                }

                if ($event.target.id === "dropdown") {
                    closeOptionsSelect($event.target.lastElementChild);
                }

                if ($event.target.id === "dropdown-select") {
                    closeOptionsSelect($event.target.nextElementSibling);
                }

                if ($event.target.id === "svg-icon") {
                    closeOptionsSelect($event.target.parentElement.nextElementSibling)
                }
            }
            
        };

        function openOptionsSelect(element: any) {
            element.classList.add("is-active");
        };
        function closeOptionsSelect(element: any) {
            if (element.classList != null) element.classList.remove("is-active");
        };


        return {
            // COMPUTED´S:
            labelOrPlaceholderSelect,

            // FUNCTION´S / METHOD´S:
            toggleSelect,
            selecionouMethod,
            onClickMethod,
        };
    }
}

</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$colorWhite: #FFFFFF;
$color1: #f4f4f4;
$color2: #FBBE2F;

#dropdown {
    width: 100%;
    max-width: 425px;
    height: 43px;
    padding: 0 31.5px;
    position: relative;

    outline: none;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid #000000;

    //Font:
    font-family: 'Montserrat';
    font-size: 14px;

    &.--select-max-width-normal {
        max-width: none;
    }

    #dropdown-select {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            position: absolute;
            right: 31.5px;
        }
    }

    #dropdown-list__element_select {
        position: absolute;
        right: 0px;
        width: 0px;
        background: $colorWhite;
        transition: width 0.3s ease;
        z-index: 1;

        border-top: 30px solid $colorWhite;
        border-bottom: 30px solid $colorWhite;
        border-radius: 40px;
        box-shadow: 0px 1px 24px rgb(35 34 39 / 10%);
        background-color: $colorWhite;
        
        grid-row: auto;
        top: 102%;

        display: none;
        align-items: center;
        
        &.is-active {
            width: 100%;
            max-height: 180px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            transition: width 0.3s ease;
            z-index: 2;

            .dropdown-list__item {
                transition: transform 0.3s ease;
            }

            &::-webkit-scrollbar {
                width: 4px;
                height: 13px;
            }
            &::-webkit-scrollbar-track {
                border: 8px solid #232943;
                box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
            }
            &::-webkit-scrollbar-thumb {
                background: linear-gradient(
                    45deg,
                    $color1,
                    $color2
                );
                border-radius: 3px;
            }
        }

        .dropdown-list__item {
            padding: 9px 43px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid black;

            &.--selected {
                background: #FBBE2F;
            }

            &.--first {
                border-top: 1px solid black;
                border-top-right-radius: 40px;
                border-top-left-radius: 40px;
                margin-top: 1.1px;
            }
            &.--last {
                border-bottom: 1px solid black;
                border-bottom-right-radius: 40px;
                border-bottom-left-radius: 40px;
                margin-bottom: 0.8px;
            }

            &:hover {
                background: #fbbe2f21;
            }
        }
    }
    
}

</style>