<template>
    <div class="mt-10">
        <table class="border-separate w-full">
            <thead class="text-left">
                <th class="w-20">#</th>
                <th>Nome</th>
                <th>Status</th>
                <th class="w-20">Ações</th>
            </thead>
            <tbody>
                <tr v-for="(permissao, index) in canais" :key="index" class="bg-gray-100">
                    <td class="p-5">{{permissao.codigo}}</td>
                    <td>{{permissao.nome}}</td>
                    <td>
                        <span :class="['rounded-full text-white text-sm px-2', permissao.status == 'ativo' ? 'bg-green-500' : 'bg-red-500']">{{permissao.status}}</span>
                    </td>
                    <td class="space-x-2">
                        <button @click="router.push({name:'editar_permissao', params: {codigo_permissao:permissao.codigo}})">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                            </svg>
                        </button>
                        <button class="h-full" @click="toggleStatusPermissao(permissao, index)">
                            <svg v-show="permissao.status == 'ativo'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                            </svg>
                            <svg v-show="permissao.status == 'inativo'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <Paginacao v-if="canais && canais.length" :total="100" :porPagina="10" />
    </div>
</template>

<script setup lang="ts">
import Paginacao from '@/components/paginacao/Paginacao.vue'
import Button from '@/components/button/Button.vue'
import {ref} from 'vue';
import { useRouter } from "vue-router";

interface Permissao {
    codigo:number;
    nome:string;
    status:string;
}

const router = useRouter();
const canais = ref<Permissao[]>([
    {codigo:1, nome: 'Gerenciar Usuário', status: 'ativo'},
    {codigo:2, nome: 'Excluir regras de cotação', status: 'ativo'},
    {codigo:3, nome: 'Visualizar Pedidos', status: 'inativo'},
    {codigo:4, nome: 'Adicionar Canais', status: 'ativo'},
    {codigo:5, nome: 'Gerenciar Logs', status: 'inativo'},
    {codigo:6, nome: 'Visualizar Financeiro', status: 'ativo'},
]);

const toggleStatusPermissao = (permissao: Permissao, index:number) => {

    const toggle = {
        bloquear() {
            const confirm = window.confirm('Deseja bloquear essa permissão ?');
            if(confirm) {
                canais.value[index].status = 'inativo';
            }
        },

        desbloquear() {
            const confirm = window.confirm('Deseja desbloquear essa permissão ?');
            if(confirm) {
                canais.value[index].status = 'ativo';
            }
        }
    }

    const status = permissao.status;

    switch(status) {
        case 'ativo':
            toggle['bloquear']();
            break;
        case 'inativo':
            toggle['desbloquear']();
            break;
        default:
            break;
    }
}
</script>

<style lang="scss" scoped>
table {
    border-spacing: 0 16px;
    thead {
        th {
            padding: 0 0px;
        }
    }
    td {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-child {
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;
        }
        &:last-child {
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }
    }
}
</style>