<template>
    <div class="box-content"
        @click="verificationClick" 
        :class="handleClassComputed">
        <slot></slot>
    </div>
</template>

<script lang="ts">
import { computed } from 'vue';

export default {
    name: 'Card',

    props: {
        // 'primary' OR 'secondary' OR 'normal'(default)
        typeColor: {
            type: String,
            default: 'normal'
        },

        withClick: { type: Boolean },
        noShadowStyle: { type: Boolean },
    },

    emits: ['onClick'],

    setup(props: any, { emit }: any) {

        // COMPUTED´S:
        const handleClassComputed = computed(() => {
            return {
                '--primary': props.typeColor == 'primary',
                '--secondary': props.typeColor == 'secondary',
                '--with-click': props.withClick,
                '--no-shadow': props.noShadowStyle
            }
        });


        // METHOD´S:
        function verificationClick() {
            if (props.withClick) {
                emit('onClick');
            }
        }

        return {
            // COMPUTED´S:
            handleClassComputed,

            // METHOD´S:
            verificationClick,
        }
    },
}

</script>

<style lang="scss" scoped>

$colorWhite: #FFFFFF;

.box-content {
    width: auto;
    padding: 10px 15px;

    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 1px 24px rgba(35, 34, 39, 0.1);
    color: #757575;

    &.--primary {
        background-color: #FBBE2F;
        color: $colorWhite;
    }

    &.--secondary {
        background: $colorWhite;
        padding: 25px;
    }

    &.--with-click {
        cursor: pointer;
    }

    &.--no-shadow {
        box-shadow: none;
    }
}
</style>