<template>
    <transition appear name="slide-fade">
        <div v-if="modelValue && modelValue.mostrar" class="box-info">
            <div :class="['bg-info', { '--primary': modelValue.tipo == 'primary', '--error': modelValue.tipo == 'error', '--warning': modelValue.tipo == 'warning', '--success': modelValue.tipo == 'success' }]" >
                <button @click="$emit('update:modelValue:mostrar', modelValue.mostrar = !modelValue.mostrar)" aria-label="Close panel" class="btn-fechar">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.66971 19.2062C9.44562 19.2062 9.22153 19.1212 9.05127 18.9497C8.70947 18.6079 8.70947 18.0537 9.05127 17.7119L17.7137 9.04932C18.0557 8.70752 18.6098 8.70752 18.9516 9.04932C19.2934 9.39111 19.2934 9.94525 18.9516 10.2873L10.289 18.9497C10.1164 19.1212 9.89252 19.2062 9.66971 19.2062Z" :fill="modelValue.tipo == 'primary' ? '#000000' : '#F2F2F2'"/>
                    <path d="M18.3306 19.2051C18.1067 19.2051 17.8826 19.1201 17.7124 18.9486L9.04996 10.2872C8.70795 9.94541 8.70795 9.39127 9.04996 9.04948C9.39176 8.70747 9.9459 8.70747 10.2877 9.04948L18.9501 17.7119C19.2921 18.0537 19.2921 18.6078 18.9501 18.9496C18.7788 19.1201 18.5547 19.2051 18.3306 19.2051Z" :fill="modelValue.tipo == 'primary' ? '#000000' : '#F2F2F2'"/>
                </svg>
                </button>
                <p class="titulo-alerta">{{ modelValue.titulo }}</p>
                <p class="mensagem">{{ modelValue.mensagem }}</p>
                <span>{{ modelValue.mensagem_footer }}</span>
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
import { computed, watch } from 'vue';

class AlertaObj {
    constructor (tipo: string, titulo: string, mensagem: string, mensagem_footer: string, mostrar: boolean, duracao: number) {
        this.tipo = tipo;
        this.titulo = titulo;
        this.mensagem = mensagem;
        this.mensagem_footer = mensagem_footer;
        this.mostrar = mostrar;
        this.duracao = duracao;
    }
    
    tipo: string;
    titulo: string;
    mensagem: string;
    mensagem_footer: string;
    mostrar: boolean;
    duracao: number;
}

export default {
    props: {
        modelValue: {
            type: [AlertaObj, Object],
        },
    },

    emits: ['update:modelValue:mostrar'],

    setup(props: any, { emit }: any) {

        const mostrarComputed = computed(() => props.modelValue ? props.modelValue.mostrar : null);

        watch(mostrarComputed, (newVal, oldVal) => {
            let temporizador;

            if (newVal == true) {
                temporizador = setTimeout(() => {
                    emit('update:modelValue:mostrar', props.modelValue.mostrar = false);

                }, props.modelValue.duracao ? props.modelValue.duracao : 3000);
            } else {
                clearTimeout(temporizador);
            }
        });

    }
}
</script>

<style scoped lang="scss">

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$corPreta: #000000;
$corBranca: #FFFFFF;
$corCinzaClaro: #F2F2F2;

.box-info {
    z-index: 1;
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: "Montserrat";
    .bg-info {
        background-color: #757575;
        padding: 10px 30px;
        border: 0;
        border-radius: 8px;
        .btn-fechar{
            position: absolute;
            right: 10px;
            top: 10px;
            background: transparent;
            outline: none;
            border: 0;
            cursor: pointer;
        }
        .titulo-alerta {
            font-weight: 700;
            color: $corBranca;
        }
        .mensagem {
            font-size: 14px;
            color: $corCinzaClaro;
        }
        &.--primary {
            background: linear-gradient(182deg, #8DF8A5 0.27%, #36bbff77 83.17%, #c1f79300 100%);

            .titulo-alerta {
                color: $corPreta;
            }
            .mensagem {
                color: $corPreta;
            }
            span {
                color: $corPreta;
            }
        }
        &.--success {
            background-color: #31D0AD;
        }
        &.--error {
            background-color: #EB5757;
        }
        &.--warning {
            background-color: #FBBE2F;
        }
    }
    span{
        font-size: 10.5px;
        color: $corCinzaClaro;
    }
}

@media only screen and (max-width: 550px) {
    .box-info {
        top: 10px;
        right: 10px;
        left: 10px;
        .bg-info {
            .titulo-alerta {
                font-size: 14px;
            }
            .mensagem {
                font-size: 12px;
            }
            span {
                font-size: 8px;
            }
        }
    }
}

// TRANSITION´S:
.slide-fade-enter-from {
  transform: translateY(50px);
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all 500ms ease 200ms;
}
.slide-fade-enter-to {
  transform: translateY(0px);
  opacity: 1;
}
.slide-fade-leave-from {
   opacity: 1;
}
.slide-fade-leave-active {
  transition: opacity 500ms;
}
.slide-fade-leave-to {
  opacity: 0;
}

</style>