<template>
    <side-nav-bar :user="user" >
        <h2>Início</h2>
    </side-nav-bar>
</template>

<script lang="ts">
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue'

export default {
    components: { SideNavBar },
    name: 'Home',
    data() {
        return {
            user: {
                name: 'Rafael',
                last_name: 'Weldo Lopes',
                city: 'São Paulo',
                address: 'Rua Rodrigo Lobato',
                address_number: '15'
            },
        }
    },
}
</script>

<style lang="scss" scoped>
    div:nth-child(1) {
        height: 100%;
    }
</style>