<template>
  <header class="wrapper">
    <div class="logo-content">
      <figure class="logo">
        <div class="logo-img"></div> <!-- tag de img + alt -->
      </figure>
    </div>
    <div>
      Olá, {{ user.name }} {{ user.last_name }}. <b> Você está em {{ user.city }}, {{ user.address }}, número {{ user.address_number }}.</b>
    </div>
    <div>
    </div>
  </header>
</template>

<script lang="ts">
export default {
  name: "header",
  props: {
    user: {
      type: Object,
      required: true,
    },
  },

}
</script>

<style lang="scss" scoped>
.wrapper {
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  height: 120px;
  margin: auto;
  vertical-align: middle;
  font-size: 16px;
}
.logo-content {
  .logo {
    display: flex;
    height: 40px;
    width: 90px;
    .logo-img {
      &:before {
        content: url("../../assets/images/logo-nav.svg");
        left: 0;
        height: 40px;
        width: 90px;
      }
    }
  }
}

</style>