<template>
    <div>

        <div class="box-initial-title">
            <div>
                <Typographie elementHtmlText="h1" >
                    <template #slot>
                        <span>Envio <span :style="{ fontWeight: 400 }">simples</span></span>
                    </template>
                </Typographie>

                <Typographie elementHtmlText="p" :customStyle="styleDefaultP" v-text="'Detalhe do envio'" />
                <Typographie elementHtmlText="p" :customStyle="styleDefaultP" v-text="'Passo 1 de 4'" />
            </div>
            
            <div class="btn-help">
                <Button roundedBall text="?" typeColor="secondary" />
            </div>
        </div>

        <div class="wrapper-field">
            <TextFormField
                :key="simpleSubmissionStepOne.quoteCurrency.value"
                fieldMaxWidthNormal
                type="select"
                label="Moeda da cotação"
                :item="simpleSubmissionStepOne.quoteCurrency"
                :items="valuesQuoteCurrency"
                @selectedValue="handleQuoteCurrency" />

            <TextFormField
                :key="simpleSubmissionStepOne.willPayTax.value"
                fieldMaxWidthNormal
                type="select"
                label="Quem irá pagar o imposto"
                :item="simpleSubmissionStepOne.willPayTax"
                :items="valuesWillPayTax"
                @selectedValue="handleWillPayTax" />

            <TextFormField
                :key="simpleSubmissionStepOne.safe.value"
                fieldMaxWidthNormal
                type="select"
                label="Seguro"
                :item="simpleSubmissionStepOne.safe"
                :items="valuesSafe"
                @selectedValue="handleSafe" />

            <TextFormField
                :key="simpleSubmissionStepOne.destinyCountry.value"
                fieldMaxWidthNormal
                type="select"
                label="País de destino"
                :item="simpleSubmissionStepOne.destinyCountry"
                :items="valuesDestinyCountry"
                @selectedValue="handleDestinyCountry" />
        </div>

        <Typographie elementHtmlText="p" :customStyle="{ fontSize: '16px', fontWeight: 700, }" v-text="'Volumes'" />

        <div class="wrapper-field">
            <TextFormField v-for="(dimension, i) in simpleSubmissionStepOne.dimensions" :key="i"
                fieldMaxWidthNormal
                type="number"
                label="Dimensões(cm)"
                :value="dimension.value"
                @onInput="handleDimensions($event, i)" />
            
            <TextFormField
                fieldMaxWidthNormal
                type="number"
                label="Quantidade"
                :value="simpleSubmissionStepOne.quantity"
                @onInput="handleQuantity" />

            <TextFormField
                :key="simpleSubmissionStepOne.destinyCountry.value"
                fieldMaxWidthNormal
                type="select"
                label="Usar volume cadastrado"
                :item="simpleSubmissionStepOne.registeredVolume"
                :items="valuesRegisteredVolumes"
                @selectedValue="handleRegisteredVolume" />
        </div>

        <div class="wrapper-field">
            <Button typeColor="secondary" text="+ Adicionar volume" />
            <Button text="Próximo" />

            <LinkText>
                <template #link-redirect>
                    <span @click="returnStep">Voltar</span>
                </template>
            </LinkText>
        </div>
        
    </div>
</template>

<script lang="ts">
import { computed, ref } from 'vue';

// COMPONENT´S:
import Typographie from '@/components/typographies/Typographie.vue';
import Button from '@/components/button/Button.vue';
import TextFormField from '@/components/text_form_field/TextFormField.vue';
import LinkText from '@/components/link_text/LinkText.vue';

export default {
    name: 'EnvioSimples1',

    components: {
        Typographie, Button, TextFormField, LinkText,
    },

    setup() {

        // DATA´S:
        let simpleSubmissionStepOne = ref({
            quoteCurrency: { value: null, label: null, disabled: false },
            willPayTax: { value: null, label: null, disabled: false },
            safe: { value: null, label: null, disabled: false },
            destinyCountry: { value: null, label: null, disabled: false },

            dimensions: [{ value: 20.00 }, { value: 20.00 }, { value: 20.00 }],
            quantity: 1,
            registeredVolume: { value: null, label: null, disabled: false },
        });

        const valuesQuoteCurrency = ref([
            { value: 1, label: 'USD - Dólar Americano', disabled: false },
            { value: 2, label: 'USD - Dólar Americano', disabled: false },
        ]);
        const valuesWillPayTax = ref([
            { value: 1, label: 'Destinatário', disabled: false },
            { value: 2, label: 'Remetente', disabled: false },
        ]);
        const valuesSafe = ref([
            { value: 1, label: 'Sim', disabled: false },
            { value: 2, label: 'Não', disabled: false },
        ]);
        const valuesDestinyCountry = ref([
            { value: 1, label: 'Brasil', disabled: false },
            { value: 2, label: 'EUA', disabled: false },
            { value: 3, label: 'France', disabled: false },
            { value: 4, label: 'South Africa', disabled: false },
            { value: 5, label: 'Portugal', disabled: false },
        ]);
        const valuesRegisteredVolumes = ref([
            { value: 1, label: 'Volume 1', disabled: false },
            { value: 2, label: 'Volume 2', disabled: false },
            { value: 3, label: 'Volume 3', disabled: false },
            { value: 4, label: 'Volume 4', disabled: false },
        ]);

        // COMPUTED´S:
        const styleDefaultP = computed(() => ({ color: '#000000', marginTop: '12px', fontSize: '14px' }));


        // FUNCTION´S:
        function handleQuoteCurrency(value: any) {
            simpleSubmissionStepOne.value.quoteCurrency = value;
        }
        function handleWillPayTax(value: any) {
            simpleSubmissionStepOne.value.willPayTax = value;
        }
        function handleSafe(value: any) {
            simpleSubmissionStepOne.value.safe = value;
        }
        function handleDestinyCountry(value: any) {
            simpleSubmissionStepOne.value.destinyCountry = value;
        }

        function handleDimensions(v: number, i: number) {
            simpleSubmissionStepOne.value.dimensions[i].value = v;
        }
        function handleQuantity(quantity: number) {
            simpleSubmissionStepOne.value.quantity = quantity;
        }
        function handleRegisteredVolume(value: any) {
            simpleSubmissionStepOne.value.registeredVolume = value;
        }

        function returnStep() {
            console.log('clicouuu!!')
        }


        return {
            // DATA´S:
            simpleSubmissionStepOne,
            valuesQuoteCurrency, valuesWillPayTax, valuesSafe, valuesDestinyCountry, valuesRegisteredVolumes,

            // COMPUTED´S:
            styleDefaultP,

            // FUNCTION´S:
            handleQuoteCurrency, handleWillPayTax, handleSafe, handleDestinyCountry, 
            handleDimensions, handleQuantity, handleRegisteredVolume,
            returnStep,
        };
    },
}
</script>

<style lang="scss" scoped>
.box-initial-title {
    width: 100%;
    display: flex;

    justify-content: space-between;

    .btn-help {
        margin-left: 80px;
    }
}

.wrapper-field {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    margin-bottom: 60px;
}

@media only screen and (max-width: 840px) {
    .box-content {
        .box-initial-title {
            .btn-help {
                margin-left: 10px;
            }
        }
    }
}
</style>