<template>
    <side-nav-bar :user="user">

        <div class="container">

            <transition name="fade" mode="out-in">
                <!-- STEP 0: -->
                <div v-if="step == 0">
                    <div class="box-initial-title">
                        <span>
                            <Typographie elementHtmlText="h1" v-text="'Serviços'" />

                            <Typographie elementHtmlText="p" :customStyle="{ fontSize: '14px', fontWeight: 400, margin: '15px 0px 40px' }" v-text="'Deseja fazer uma cotação ou envio?'" />
                        </span>
                        
                        <div class="btn-help">
                            <Button roundedBall text="?" typeColor="secondary" />
                        </div>
                    </div>

                    <div class="wrapper-btn">
                        <Button text="Cotação" typeColor="secondary" />
                        <Button text="Envio" @onClick="step = 1" />
                    </div>
                </div>

                <!-- STEP 1: -->
                <div v-else-if="step == 1" >

                    <div class="box-initial-title">
                        <div>
                            <Typographie elementHtmlText="h1" >
                                <template #slot>
                                    <span>Envio <span :style="{ fontWeight: 400 }">simples</span></span>
                                </template>
                            </Typographie>

                            <Typographie elementHtmlText="p" :customStyle="styleDefaultP" v-text="'Detalhe do envio'" />
                            <Typographie elementHtmlText="p" :customStyle="styleDefaultP" v-text="'Passo 1 de 4'" />
                        </div>
                        
                        <div class="btn-help">
                            <Button roundedBall text="?" typeColor="secondary" />
                        </div>
                    </div>

                    <div class="wrapper-field">
                        <TextFormField
                            :key="simpleSubmissionStepOne.quoteCurrency.value"
                            fieldMaxWidthNormal
                            type="select"
                            label="Moeda da cotação"
                            :item="simpleSubmissionStepOne.quoteCurrency"
                            :items="valuesQuoteCurrency"
                            @selectedValue="handleQuoteCurrency" />

                        <TextFormField
                            :key="simpleSubmissionStepOne.willPayTax.value"
                            fieldMaxWidthNormal
                            type="select"
                            label="Quem irá pagar o imposto"
                            :item="simpleSubmissionStepOne.willPayTax"
                            :items="valuesWillPayTax"
                            @selectedValue="handleWillPayTax" />

                        <TextFormField
                            :key="simpleSubmissionStepOne.safe.value"
                            fieldMaxWidthNormal
                            type="select"
                            label="Seguro"
                            :item="simpleSubmissionStepOne.safe"
                            :items="valuesSafe"
                            @selectedValue="handleSafe" />

                        <TextFormField
                            :key="simpleSubmissionStepOne.destinyCountry.value"
                            fieldMaxWidthNormal
                            type="select"
                            label="País de destino"
                            :item="simpleSubmissionStepOne.destinyCountry"
                            :items="valuesDestinyCountry"
                            @selectedValue="handleDestinyCountry" />
                    </div>

                    <Typographie elementHtmlText="p" :customStyle="{ fontSize: '16px', fontWeight: 700, }" v-text="'Volumes'" />

                    <div class="wrapper-field">
                        <TextFormField v-for="(dimension, i) in simpleSubmissionStepOne.dimensions" :key="i"
                            fieldMaxWidthNormal
                            type="number"
                            label="Dimensões(cm)"
                            :value="dimension.value"
                            @onInput="handleDimensions($event, i)" />
                        
                        <TextFormField
                            fieldMaxWidthNormal
                            type="number"
                            label="Quantidade"
                            :value="simpleSubmissionStepOne.quantity"
                            @onInput="handleQuantity" />

                        <TextFormField
                            :key="simpleSubmissionStepOne.destinyCountry.value"
                            fieldMaxWidthNormal
                            type="select"
                            label="Usar volume cadastrado"
                            :item="simpleSubmissionStepOne.registeredVolume"
                            :items="valuesRegisteredVolumes"
                            @selectedValue="handleRegisteredVolume" />
                    </div>

                    <div class="wrapper-field">
                        <Button maxWidthNormal typeColor="secondary" text="+ Adicionar volume" />
                        <Button maxWidthNormal text="Próximo" />

                        <LinkText>
                            <template #link-redirect >
                                <div class="back">
                                    <a @click="step--">Voltar</a>
                                </div>
                            </template>
                        </LinkText>
                    </div>
                    
                </div>
                
            </transition>

        </div>

    </side-nav-bar>
</template>

<script lang="ts">
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';

// COMPONENT´S:
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue';
import Typographie from '@/components/typographies/Typographie.vue';
import TextFormField from '@/components/text_form_field/TextFormField.vue';
import LinkText from '@/components/link_text/LinkText.vue';
import Button from '@/components/button/Button.vue';


export default {
    name: 'Servico',

    components: {
        SideNavBar, Typographie, Button, TextFormField, LinkText
    },

    setup() {
        // VUE-ROUTER:
        const router = useRouter();

        // DATA´S:
        const user = ref({
            name: 'Rafael',
            last_name: 'Weldo Lopes',
            city: 'São Paulo',
            address: 'Rua Rodrigo Lobato',
            address_number: '15'
        });

        const step = ref(0);
        let simpleSubmissionStepOne = ref({
            quoteCurrency: { value: null, label: null, disabled: false },
            willPayTax: { value: null, label: null, disabled: false },
            safe: { value: null, label: null, disabled: false },
            destinyCountry: { value: null, label: null, disabled: false },

            dimensions: [{ value: 20.00 }, { value: 20.00 }, { value: 20.00 }],
            quantity: 1,
            registeredVolume: { value: null, label: null, disabled: false },
        });

        const valuesQuoteCurrency = ref([
            { value: 1, label: 'USD - Dólar Americano', disabled: false },
            { value: 2, label: 'USD - Dólar Americano', disabled: false },
        ]);
        const valuesWillPayTax = ref([
            { value: 1, label: 'Destinatário', disabled: false },
            { value: 2, label: 'Remetente', disabled: false },
        ]);
        const valuesSafe = ref([
            { value: 1, label: 'Sim', disabled: false },
            { value: 2, label: 'Não', disabled: false },
        ]);
        const valuesDestinyCountry = ref([
            { value: 1, label: 'Brasil', disabled: false },
            { value: 2, label: 'EUA', disabled: false },
            { value: 3, label: 'France', disabled: false },
            { value: 4, label: 'South Africa', disabled: false },
            { value: 5, label: 'Portugal', disabled: false },
        ]);
        const valuesRegisteredVolumes = ref([
            { value: 1, label: 'Volume 1', disabled: false },
            { value: 2, label: 'Volume 2', disabled: false },
            { value: 3, label: 'Volume 3', disabled: false },
            { value: 4, label: 'Volume 4', disabled: false },
        ]);


        // COMPUTED´S:
        const styleDefaultP = computed(() => ({ color: '#000000', marginTop: '12px', fontSize: '14px' }));

        // FUNCTION´S:
        function handleQuoteCurrency(value: any) {
            simpleSubmissionStepOne.value.quoteCurrency = value;
        }
        function handleWillPayTax(value: any) {
            simpleSubmissionStepOne.value.willPayTax = value;
        }
        function handleSafe(value: any) {
            simpleSubmissionStepOne.value.safe = value;
        }
        function handleDestinyCountry(value: any) {
            simpleSubmissionStepOne.value.destinyCountry = value;
        }

        function handleDimensions(v: number, i: number) {
            simpleSubmissionStepOne.value.dimensions[i].value = v;
        }
        function handleQuantity(quantity: number) {
            simpleSubmissionStepOne.value.quantity = quantity;
        }
        function handleRegisteredVolume(value: any) {
            simpleSubmissionStepOne.value.registeredVolume = value;
        }

        return {
            router,

            // DATA:
            user, step,
            simpleSubmissionStepOne,
            valuesQuoteCurrency, valuesWillPayTax, valuesSafe, valuesDestinyCountry, valuesRegisteredVolumes,

            // COMPUTED´S:
            styleDefaultP,

            // FUNCTION´S:
            handleQuoteCurrency, handleWillPayTax, handleSafe, handleDestinyCountry, 
            handleDimensions, handleQuantity, handleRegisteredVolume,
        };
    },

}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$fontFamily: 'Montserrat', sans-serif;

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.box-initial-title {
    width: 100%;
    display: flex;

    justify-content: space-between;

    .btn-help {
        margin-left: 80px;
    }
}

.wrapper-btn {
    max-width: 570px;
    column-gap: 30px;

    display: flex;
}

.wrapper-field {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    margin-bottom: 60px;

    .back {
        width: 100%;
        justify-content: center;
        display: flex;

        a {
            text-decoration: underline;
            text-align: center;
        }
    }
}



// FADE_ANIMATION:
.fade-enter-active {
    animation: slide-in 1s ease;
    transition: opacity 1s;
}

.fade-leave-active {
    position: absolute;
    width: 100%;
    animation: slide-out 1s ease;
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 2s transform 2s;
}
// END - FADE_ANIMATION.

// MEDIA´S:
@media only screen and (max-width: 840px) {
    .box-content {
        .box-initial-title {
            .btn-help {
                margin-left: 10px;
            }
        }
    }
}
</style>