<template>
    <SideNavBar :user="user" >
        <div class="container">
            <div class="box-content">
                <Typographie text="Permissões" tagText="h1" 
                    class="font-bold mb-4 flex items-center flex-row-reverse cursor-pointer justify-end"
                    @onClick="router.back()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                    </svg>
                </Typographie>
                <Typographie tagText="p" text="Editar Permissão" />
                
                <div class="mt-10">
                    <TextFormField
                        label="Nome da Permissão"
                        type="text"
                        :value="permissao.nome"
                        @onInput="handleNome" />

                    <Button text="Editar" @onClick="editarPermissao" />
                </div>
            </div>
        </div>
    </SideNavBar>
</template>

<script setup lang="ts">
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue'
import Typographie from '@/components/typographies/Typographie.vue';
import TextFormField from '@/components/text_form_field/TextFormField.vue'
import Button from '@/components/button/Button.vue'
import { ref, defineProps, onMounted } from 'vue';
import { useRouter } from 'vue-router';

const props = defineProps({curso_id:String});

const router = useRouter();

const user = ref({
    name: 'Rafael',
    last_name: 'Weldo Lopes',
    city: 'São Paulo',
    address: 'Rua Rodrigo Lobato',
    address_number: '15'
});

const permissao = ref({
    codigo: 0,
    nome: "",
    status:""
});

const handleNome = (value:string) => {
    permissao.value.nome = value;
}

const editarPermissao = () => {
    window.alert('Editado...');
}

const getPermissao = () => {
    permissao.value = {
        codigo:1,
        nome: "Gerenciar Usuários",
        status: "Ativo"
    }
}

onMounted(() => {
    getPermissao();
});

</script>

<style lang="scss" scoped>
div:nth-child(1) {
    height: 100%;
}
</style>