<template>
  <span class="span-msg" :class="{ '--with-bold': withBoldStyle, '--error': containsError, '--max-width-normal': maxWidthNormal }">{{ msgFieldComputed }}</span>
</template>

<script lang="ts">
import { computed } from 'vue';

export default {
  name: 'MsgField',
  
  props: {
    //the two need to be together:
    error: {
      type: Boolean,
      default: false,
    },
    errorMessage: {
      type: String,
      required: false,
    },

    message: {
      type: String,
      required: false,
    },

    withBoldStyle: { type: Boolean },
    maxWidthNormal: { type: Boolean },
  },

  setup(props:  any) {

    const msgFieldComputed = computed(() => {
      if ((props.message != null || props.message != '') && (props.errorMessage == '' || props.errorMessage == null)) {
        return props.message;
      } else if (props.error && (props.errorMessage != '' || props.errorMessage != null)) {
        return props.errorMessage;
      }
    });

    const containsError = computed(() => {
      return (props.error && (msgFieldComputed.value === props.errorMessage)) ? true : false;
    });

    return {
      msgFieldComputed,
      containsError,
    };

  },
  
}

</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.span-msg {
  margin-top: 8px;
  max-width: 425px;

  /* BODY */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;

  color: #757575;

  &.--with-bold {
    font-weight: 700;
  }
  
  &.--error {
    color: #EB5757;

    margin-top: 10px;
    font-size: 14px;
  }
  
  &.--max-width-normal {
    max-width: none;
  }
}
</style>