<template>
    <SideNavBar :user="user" >
        <div class="container">
            <div class="box-content">
                <Typographie text="Canais" tagText="h1" 
                    class="font-bold mb-4 flex items-center flex-row-reverse cursor-pointer justify-end"
                    @onClick="router.back()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                    </svg>
                </Typographie>
                <Typographie tagText="p" text="Adicionar Canal"/>
                
                <div class="mt-10">
                    <TextFormField
                        label="Nome do canal"
                        type="text"
                        :value="nome"
                        @onInput="handleNome" />

                    <Button text="Adicionar" @onClick="adicionarCanal" />
                </div>
            </div>
        </div>
    </SideNavBar>
</template>

<script setup lang="ts">
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue'
import Typographie from '@/components/typographies/Typographie.vue';
import TextFormField from '@/components/text_form_field/TextFormField.vue'
import Button from '@/components/button/Button.vue'
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const user = ref({
    name: 'Rafael',
    last_name: 'Weldo Lopes',
    city: 'São Paulo',
    address: 'Rua Rodrigo Lobato',
    address_number: '15'
});

const nome = ref("");

const handleNome = (value:string) => {
    nome.value = value;
}

const adicionarCanal = () => {
    window.alert('Adicionado...');
}
</script>

<style lang="scss" scoped>
div:nth-child(1) {
    height: 100%;
}
</style>