<template>
    <SideNavBar :user="user" >
        <div class="container">
            <div class="box-content">
                <Typographie text="Canais" tagText="h1" class="font-bold mb-4" />
                <Typographie tagText="p"
                    text="Gerenciamento de Canais" />

                <TableCanais />
            </div>
        </div>
    </SideNavBar>
</template>

<script setup lang="ts">
import SideNavBar from '@/components/base-template/HeaderAndSideNav.vue'
import Typographie from '@/components/typographies/Typographie.vue';
import TableCanais from '@/components/canais/TableCanais.vue'
import { ref } from 'vue';

const user = ref({
    name: 'Rafael',
    last_name: 'Weldo Lopes',
    city: 'São Paulo',
    address: 'Rua Rodrigo Lobato',
    address_number: '15'
});
</script>

<style lang="scss" scoped>
div:nth-child(1) {
    height: 100%;
}
</style>