<template>
    <div>
        <HeaderMenu :openOptionsRedirect="openOptionsRedirect" @resOpenOptionsRedirectHamburguer="getValueOptionsRedirect">
            <template #paths>
                <li v-for="(linkRedirect) in linksRedirected" :key="linkRedirect.srcOrpath">
                    <a :class="{ '--link-selected': $route.path == linkRedirect.srcOrpath }"
                        @click="redirectFunction(linkRedirect)">
                        {{ linkRedirect.label }}
                    </a>
                </li>
            </template>
        </HeaderMenu>

        <div class="bg-img">
        
            <div class="container">
                
                <div class="content">
                    <BoxContent>
                        <Typographie elementHtmlText="h1"
                            v-text="t('message.freightUpload', {company: 'Lokalise'})"/>
                        
                        <div class="elements-box">

                            <TextFormField
                                fieldMaxWidthNormal
                                type="select"
                                :label="'* '+t('titleLabels.typeGeneric', {company: 'Lokalise'})"
                                :item="guardMyValuesUpdate.type"
                                :items="valuesTypes"
                                :errorMessage="msgsError.type.errorMessageType"
                                :error="msgsError.type.actionErrorMsgType"
                                @selectedValue="handleType" />

                            <TextFormField
                                fieldMaxWidthNormal
                                type="select"
                                :label="'* '+t('titleLabels.codUser', {company: 'Lokalise'})"
                                :item="guardMyValuesUpdate.codUser"
                                :items="valuesCodUser"
                                :errorMessage="msgsError.codUser.errorMessageCodUser"
                                :error="msgsError.codUser.actionErrorMsgCodUser"
                                @selectedValue="handleCodUser" />

                            <TextFormField v-if="guardMyValuesUpdate.type && guardMyValuesUpdate.type.label === 'Ecommerce Marketplace'"
                                fieldMaxWidthNormal
                                type="select"
                                :label="'* '+t('titleLabels.transporter', {company: 'Lokalise'})"
                                :item="guardMyValuesUpdate.transporter"
                                :items="valuesTransporters"
                                :errorMessage="msgsError.transporter.errorMessageTransporter"
                                :error="msgsError.transporter.actionErrorMsgTransporter"
                                @selectedValue="handleTransporter" />
                            
                            <MsgField :message="'*('+t('titleLabels.csvFileOnly', {company: 'Lokalise'})+')'" />
                            <InputFileField
                                :textInput="t('titleLabels.chooseFile', {company: 'Lokalise'})"
                                @resFile="getFile" />
                            <MsgField 
                                :error="msgsError.file.actionErrorMsgFile"
                                :errorMessage="msgsError.file.errorMessageFile" />
                            
                        </div>

                        <Button
                            @onClick="update"
                            :text="t('messageActions.txtBtnUpdate', {company: 'Lokalise'})"
                            :disabled="handleButtonUpload_Computed" />

                    </BoxContent>
                </div>

            </div>

        </div>

        <transition name="fade">
            <Footer v-show="!activeHamburguerOptions" :withLink="true"
                :titleLink="t('termsOfUse', {company: 'Lokalise'})"
                hrefLink="https://www.google.com/" />
        </transition>
        
    </div>
</template>

<script lang="ts">
/* eslint-disable */
import { ref, watch, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

import HeaderMenu from "@/components/header_menu/HeaderMenu.vue";
import BoxContent from "@/components/box_content/BoxContent.vue";
import Typographie from "@/components/typographies/Typographie.vue";
import TextFormField from "@/components/text_form_field/TextFormField.vue";
import MsgField from "@/components/msgField/MsgField.vue";
import InputFileField from "@/components/input_file_field/InputFileField.vue";
import Button from "@/components/button/Button.vue";
import Footer from "@/components/footer/Footer.vue";

export default {
    name: 'fileUpload',

    components: {
        HeaderMenu,
        BoxContent,
        Typographie,
        TextFormField,
        MsgField,
        InputFileField,
        Button,
        Footer,
    },

    setup() {
        const { t } = useI18n();
        const store = useStore();
        const router = useRouter();

        // DATA´S:
        let openOptionsRedirect = ref(false);
        let linksRedirected = ref([
            {
                label: t('messageLinksRedirect.init', {company: 'Lokalise'}),
                srcOrpath: '/init',
            },
            {
                label: t('messageLinksRedirect.doubts', {company: 'Lokalise'}),
                srcOrpath: '/doubts',
            },
            {
                label: t('messageLinksRedirect.login', {company: 'Lokalise'}),
                srcOrpath: '/login',
            },
            {
                label: t('messageLinksRedirect.contact', {company: 'Lokalise'}),
                srcOrpath: '/contact',
            },
        ]);
        let msgsError = ref({
            type: {
                errorMessageType: t('messageNotification.selectType', {company: 'Lokalise'}),
                actionErrorMsgType: true,
            },

            codUser: {
                errorMessageCodUser: t('messageNotification.selectCodUser', {company: 'Lokalise'}),
                actionErrorMsgCodUser: true,
            },

            transporter: {
                errorMessageTransporter: t('messageNotification.selectTransporter', {company: 'Lokalise'}),
                actionErrorMsgTransporter: true,
            },

            file: {
                errorMessageFile: t('messageNotification.selectFileCsv', {company: 'Lokalise'}),
                actionErrorMsgFile: true,
            },
        });
        let guardMyValuesUpdate = ref({
            type: {
                value: null,
                label: null,
                disabled: false,
            },
            codUser: {},
            transporter: {},

            file: null,
        });
        let valuesTypes = ref([
            {
                value: 1,
                label: 'Tipo 1',
                disabled: false,
            },
            {
                value: 2,
                label: 'Tipo 2',
                disabled: false,
            },
            {
                value: 3,
                label: 'Ecommerce Marketplace',
                disabled: false,
            },
        ]);
        let valuesCodUser = ref([
            {
                value: 1,
                label: 'Código 1',
                disabled: false,
            },
            {
                value: 2,
                label: 'Código 2',
                disabled: false,
            },
            {
                value: 3,
                label: 'Código 3',
                disabled: false,
            },
        ]);
        let valuesTransporters = ref([
            {
                value: 1,
                label: 'Transportador 1',
                disabled: false,
            },
            {
                value: 2,
                label: 'Transportador 2',
                disabled: false,
            },
            {
                value: 3,
                label: 'Transportador 3',
                disabled: false,
            },
        ]);
        

        // WATCH´S:
        watch(openOptionsRedirect, (newVal, oldVal) => {
            if (newVal === true) store.commit('headerMenu/setActiveHamburguerOptions', true);
            else store.commit('headerMenu/setActiveHamburguerOptions', false);
        });

        // DATA´S COMPUTED´S:
        const activeHamburguerOptions = computed(() => store.state.headerMenu.activeHamburguerOptions);
        const watchResponsePageAndReturnMsgTxtField = computed(() => {
            const responsePag = window.innerWidth;

            return t(
                responsePag > 550 ?
                'messageNotification.defaultSixMinAndSpecialCharactersWithParentheses' :
                'messageNotification.defaultSixMinAndSpecialCharacters', 
                {company: 'Lokalise'}
            )
        });

        const handleButtonUpload_Computed = computed(() => {
            let myValues = guardMyValuesUpdate.value;
            let myMsgsErr = msgsError.value;

            if (
                (!myMsgsErr.type.actionErrorMsgType && myMsgsErr.type.errorMessageType == '') &&
                (!myMsgsErr.codUser.actionErrorMsgCodUser && myMsgsErr.codUser.errorMessageCodUser == '') &&
                (!myMsgsErr.file.actionErrorMsgFile && myMsgsErr.file.errorMessageFile == '')
            ) {
                if (myValues.type.value === 3 && 
                    (myValues.transporter == {} || myValues.transporter == null || 
                    myMsgsErr.transporter.actionErrorMsgTransporter || myMsgsErr.transporter.errorMessageTransporter != '')) {
                    return true;
                }

                return false;
            } else {
                return true;
            }
        });
        

        // FUNCTIONS OF HEADER
        function getValueOptionsRedirect(value: boolean) {
            openOptionsRedirect.value = value;
        };
        function redirectFunction(linkRedirect: any) {
            // Is path:
            if (linkRedirect.srcOrpath[0] === '/') {
                router.push({ path: linkRedirect.srcOrpath }).catch(() => {});
            } 
            // Is URL Ancora:
            else {
                window.location.href = linkRedirect.srcOrpath;
            }

            openOptionsRedirect.value = false;
            store.commit('headerMenu/setActiveHamburguerOptions', false);
        };

        

        function getFile(file: any) {
            if (file) {
                msgsError.value.file.actionErrorMsgFile = false;
                msgsError.value.file.errorMessageFile = '';

                guardMyValuesUpdate.value.file = file;
            }
        };
        
        function update() {
            if (handleButtonUpload_Computed.value == false) {
                console.log('Update');
            }
        };
        function handleType(valueParam: any) {
            if (valueParam != null || valueParam != {}) {
                guardMyValuesUpdate.value.type = valueParam;

                msgsError.value.type.errorMessageType = '';
                msgsError.value.type.actionErrorMsgType = false;

                if (guardMyValuesUpdate.value.type.value !== 3) {
                    guardMyValuesUpdate.value.transporter = {};
                }
                msgsError.value.transporter.actionErrorMsgTransporter = true;
            }
        };
        function handleCodUser(valueParam: any) {
            if (valueParam != null || valueParam != {}) {
                msgsError.value.codUser.errorMessageCodUser = '';
                msgsError.value.codUser.actionErrorMsgCodUser = false;

                guardMyValuesUpdate.value.codUser = valueParam;
            }
        };
        function handleTransporter(valueParam: any) {
            if (valueParam != null || valueParam != {}) {
                msgsError.value.transporter.errorMessageTransporter = '';
                msgsError.value.transporter.actionErrorMsgTransporter = false;

                guardMyValuesUpdate.value.transporter = valueParam;
            }
        };

        return {
            t,

            // DATA´S:
            openOptionsRedirect, linksRedirected, msgsError,
            guardMyValuesUpdate, valuesTypes, valuesCodUser, valuesTransporters,

            // COMPUTED´S:
            activeHamburguerOptions, watchResponsePageAndReturnMsgTxtField, handleButtonUpload_Computed,

            // FUNCTION´S / METHOD´S:
            getValueOptionsRedirect, redirectFunction, getFile, update, handleType,
            handleCodUser, handleTransporter,
        };
    },
}
</script>

<style lang="scss" scoped>

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding: 0px 15px;
}

.bg-img {
    background-image: linear-gradient(0deg, rgba(1, 3, 8, 0.4) 0%, rgba(1, 3, 8, 0) 100%), url("../../assets/login_bg_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    min-height: calc(100vh - 161px);

    .content {
        .elements-box {
            padding: 20px 0px;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media only screen and (max-width: 550px) {
    .bg-img {
        background: none;

        .content {
            display: flex;
            justify-content: center;
        }
    }
}
</style>