
<script lang="ts">
import { h } from 'vue';

export default {
    name: 'Typographie',

    /*
    * OBSERVAÇÕES DO COMPONENTE:
    * - O 'dev' é quem irá passar os estilos(tamanho da font, cor, weight, etc).
    * 
    * - O usuario terá que passar o valor como slot(tag com abertura e fechamento(<>conteudo</>)).
    * Caso queira passar como uma prop, a prop a ser usada e interpretada será o 'v-text', ai dá certo.
    * MAS, OU é prop OU slot, os dois vai quebrar.
    * 
    * - Slot a ser declarado: 'slot'
    * Ex: <Typographie><template #slot>CONTEUDO</template></Typographie>
    * */

    props: {
        elementHtmlText: {
            type: String,
            required: true,
            validator: function (value: string) {
                return ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'i', 'u', 'b', 'strong', 's'].indexOf(value) !== -1
            }
        },

        customStyle: { type: Object },
    },

    setup(props: any, { slots }: any) {

        const slot = slots.slot ? slots.slot() : [];

        const modifiedSlot = slot.map(({ children }: any) => {
            return h('div', {
                class: ['base-title', { '--default-h1': props.elementHtmlText == 'h1', '--default-h2': props.elementHtmlText == 'h2' }],
                style: [ props.customStyle ],
            }, children);
        })

        return () => h(props.elementHtmlText, {
            class: ['base-title', { '--default-h1': props.elementHtmlText == 'h1', '--default-h2': props.elementHtmlText == 'h2' }],
            style: [ props.customStyle ],
        }, modifiedSlot);
    },
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.base-title {
    font-family: 'Montserrat';
    font-style: 'normal';
    color: #757575;

    &.--default-h1 {
        font-weight: 700;
        font-size: 24px;
        color: #000000;
    }

    &.--default-h2 {
        font-size: 16px;
    }
}
</style>