<template>
  <div id="app">

    <Alert v-model="store.getters['global/alerta']" />

    <router-view class="content" />

  </div>
</template>

<script>
/* eslint-disable */
import { container } from 'tsyringe';
import { watch, computed } from 'vue';
import { useStore } from 'vuex';
import { HomeService } from './app/services/HomeService';

import Alert from '@/components/alert/Alert.vue';

export default {
  name: 'App',

  components: {
    Alert
  },

  setup() {

    // STORE (VUEX):
    const store = useStore();
    
    (async() => {
      const homeService = container.resolve(HomeService);
      const data = await homeService.getSpec();
      store.commit('UPDATE_SPEC', data.data);
    })();

    // COMPUTED´S:
    const optionHamburguerResponsive = computed(() => {
      return store.state.headerMenu.activeHamburguerOptions;
    });

    // WATCH´S:
    watch(optionHamburguerResponsive, (newVal, oldVal) => {
      if (newVal != oldVal && newVal == true) window.document.body.style.overflowY = 'hidden';
      else window.document.body.style.overflowY = 'auto';
    });

    return { store }
  },
};

</script>

<style lang="scss">

</style>
